[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*Common style*/
		body{
			font-family: Georgia;
			font-size:16px;
		}
		h1,h2,h3,h4{
			color:#212121;
		}
		
		input[type=text]:focus,
		input[type=email]:focus,
		input[type=search],
		input[type=password]:focus,
		input:focus,
		textarea:focus{
		    background-color:#E0D8A9 !important;
		    outline:none;
		    -webkit-box-shadow: none;
    		box-shadow: none;
    		border: 0px 0px 0px 2px;
    		border-bottom-color: #5B5955;
		}
		
		textarea#textarea-event:focus{
			background-color:#E0D8A9;
		  /*  background-color:rgba(204, 255, 204, 1);*/
		    outline:none;
		    -webkit-box-shadow: none;
    		box-shadow: none;
    		border: 0px 0px 0px 2px;
    		border-bottom-color: #5B5955;
		}
		
		.form-control, .generalInput, textarea, input{
			background-color:transparent;
			border-top: none;
			border-left:none;
			border-right:none;
			outline:none;
			border-radius:0px;
			-webkit-appearance: none;.
			border: 0;
    		box-shadow: none;
    		border-color:#5B5955;
    		border-width:1px;
		}
		.selectpicker{
			background-color:transparent;
			border-top: none;
			border-left:none;
			border-right:none;
			outline:none;
			border-radius:0px;
			-webkit-appearance: none;.
			border: 0;
    		box-shadow: none;
    		border-color:#5B5955;
		}
		.selectpicker:focus{
			background-color:rgba(224, 216, 169, 1);
			border-top: none;
			border-left:none;
			border-right:none;
			outline:none;
			border-radius:0px;
			-webkit-appearance: none;.
			border: 0;
    		box-shadow: none;
    		border-color:#5B5955;
		}
		
		tags-input .tags{
			background-color:transparent !important;
			border-top: none !important;
			border-left:none !important;
			border-right:none !important;
			outline:none;
			border-radius:0px;
			-webkit-appearance: none !important;.
			border: 0;
    		box-shadow: none !important;
    		border-color:#5B5955 !important;
    		padding-left:3%
		}
		textarea{
			resize:none;
		}
		.bgAll{
			background-image: url("img_temp/paperbg.jpg");
			background-size:cover;
			background-repeat: no-repeat;
			background-position: center; 	
		}
		
		.form-control::-webkit-input-placeholder { color: #5b5955; }
		.form-control:-moz-placeholder { color: #5B5955; }
		.form-control::-moz-placeholder { color: #5B5955; }
		.form-control:-ms-input-placeholder { color: #5B5955; }
		*::-webkit-input-placeholder { color: #5b5955; }
		*::-moz-placeholder { color: #5B5955; }
		*::-moz-placeholder { color: #5B5955; }
		*::-ms-input-placeholder { color: #5B5955; }
		
		.btn-success{
			margin-top:1%;
			background-color:#89b151;
		}
		.btn-danger{
			margin-top:1%;
			background-color:#cb654f;
		}
		.btn-warning{
			margin-top:1%;	
			background-color:#fd8467;
			border-color:#cb654f;
		}
		.btn-warning:hover, .btn-warning:focus{
			margin-top:1%;
			background-color:#e06042;
			border-color:#cb654f;
		}
		.generalButton, .generalButton1{
			background:transparent;
			border-color:#5b5955;
		}
		.generalButton:focus,.generalButton:hover{
			background:#cdc08c;
			  -webkit-box-shadow: none;
    		box-shadow: none;
			background:#89b151;
			color:#5b5955;
			border-color:#5b5955;
			outline-width:0px;
		}
		.generalButton1:focus,.generalButton1:hover{
			background:#abbe90;
			  -webkit-box-shadow: none;
    		box-shadow: none;
			background:#89b151;
			color:#5b5955;
			border-color:#5b5955;
			outline-width:0px;
		}		
		.positiveButton{
			background:transparent;
			border-color:#89b151;
			color:#89b151;		
		}
		.positiveButton:hover, .positiveButton:focus{
			outline:none;
		    -webkit-box-shadow: none;
    		box-shadow: none;
			background:#89b151;
			color:#5b5955;
			border-color:#5b5955;
			outline-width:0px;
			
		}
		.warningButton{
			background:transparent;
			border-color:#232323;
			margin-top:1%;	
			color:#232323;		
		}
		.warningButton:hover, .warningButton:focus{
			outline:none;
		    -webkit-box-shadow: none;
    		box-shadow: none;
			background:#cb654f;
			color:#232323;
			border-color:#232323;
			outline-width:0px;
			
		}
		.invisibleButton{
			background:transparent;
			outline:none;
		    -webkit-box-shadow: none;
    		box-shadow: none;
    		outline-width:0px;
		}
		.invisibleButton:focus,.invisibleButton:hover, .invisibleButton:target{
			background:transparent;
			outline:none;
		    -webkit-box-shadow: none;
    		box-shadow: none;
    		outline-width:0px;
		}
		
		a{
			color:#587866;
		}
		a:hover{
			color:#8cbea3;			
		}
		.box {			
			border-style: solid;
			border-width: 5px;
			border-color:white;
			/*background-color: #e5e0c3;*/
			text-align: center;
			padding: 1%;
		}
		.boxBlue {						
			background-image: url("img_temp/dash_bg_blue.jpg");
			background-size:cover;
			background-repeat: no-repeat;
			background-position: center; 			
		}
		.boxBrown {						
			background-image: url("img_temp/dash_bg_brown.jpg");
			background-size:cover;
			background-repeat: no-repeat;
			background-position: center; 			
		}
		.boxGray {						
			background-image: url("img_temp/dash_bg_gray.jpg");
			background-size:cover;
			background-repeat: no-repeat;
			background-position: center; 			
		}
		.boxGreen {						
			background-image: url("img_temp/dash_bg_green.jpg");
			background-size:cover;
			background-repeat: no-repeat;
			background-position: center; 			
		}
		.boxLightblue {						
			background-image: url("img_temp/dash_bg_lightblue.jpg");
			background-size:cover;
			background-repeat: no-repeat;
			background-position: center; 			
		}
		.boxLightgreen {						
			background-image: url("img_temp/dash_bg_lightgreen.jpg");
			background-size:cover;
			background-repeat: no-repeat;
			background-position: center; 			
		}
		.boxRed {						
			background-image: url("img_temp/dash_bg_red.jpg");
			background-size:cover;
			background-repeat: no-repeat;
			background-position: center; 			
		}
		.boxYellow {						
			background-image: url("img_temp/dash_bg_yellow.jpg");
			background-size:cover;
			background-repeat: no-repeat;
			background-position: center; 			
		}
		
		.box-event {			
			border-style: solid;
			border-width: 5px;
			border-color:white;
			background-color: #e5e0c3;
			/*background-color: rgba(204, 255, 204, 1);*/
			text-align: center;
			padding: 1%;
		}
		.list-group-item {
			background-color: transparent;
			border: none;
		}
		.roundedImgDiv{
			width: 100px;
			height: 100px;
			border-radius: 100px;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			background-size:cover;
			background-repeat: no-repeat;
			background-position: center;
			
		}
		.vAlignExt{
			display: inline;
			vertical-align: middle;
			float: none;
		}
		.vAlignInt{
			display: table-cell;
  			vertical-align: middle !important;
		}
		.marginMTop{
			margin-top: 3%;
		}
		.marginSTop{
			margin-top: 1%;
		}
		.marginLTop{
			margin-top: 10%;
		}
		.marginXLTop{
			margin-top: 25%;
		}
		.marginSBottom{
			margin-bottom: 1%;
		}
		.marginMBottom{
			margin-bottom: 3%;
		}
		.marginXXLTop{
			margin-top: 200px;
		}
		.marginMRight{
			margin-right: 3%;
		}		
		.marginLRight{
			margin-right: 5%;
		}
		.marginXLLeft{
			margin-left: 20%;
		}
		.goUppercase{
			text-transform:uppercase
		}
		.form-control[readonly]{
			background-color:transparent;
		}
		.imgPreviewL{
			height:100px;
			width:100px;
			
  			object-fit: cover;
		}
		.imgPreviewXL{
			height:150px;
			width:150px;
			object-fit: cover;
		}
		.imgPreviewM{
			height:50px;
			width:50px;
			object-fit: cover;
		}

		label{
			margin-top: 5px;
		  	font-weight: bold;
		  	font-size: 16px;
		  	color: #393939;
		  	margin-bottom:0px;
		}
		.pickRow{
    		margin-left: 1%;
    	}
    	
    	hr{
    		border:0px;
    		color:#5B5955;
    		background-color:#5B5955;
    		height: 1px;
    		
    	}
    	.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary{
    		color: #5B5955 !important;
    		background: #cdc08c !important;
    		border-color: #5B5955 !important;
    	}
    	.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
		    color: #5B5955 !important;
		    background: #cdc08c !important;
		}
		.bootstrap-switch .bootstrap-switch-label{
			background: transparent !important;
		}
		.bootstrap-switch{
			border-color: #5B5955 !important;
		}
		.sideIcon{
    		height:80px;
    	}
		.scenDashIcon{
			height:80px;
			margin-top:10px;
			margin-bottom:10px;
		}
		.scenDashIcon2{
			width:80px;
			margin-top:10px;
			margin-bottom:10px;
		}
		.emptyContent{
			margin-top:3%;
			margin-bottom:1%;
			font-size:18px;
		}
		.dashSection{
			min-height:500px;
		}
		#freccia{
			height:60px;
			width:250px; 
			background-color:#cec18d;
		}
		#freccia::after {
			content: '';
			position: absolute;
			margin-left:250px;
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent;
			
			border-left: 30px solid #cec18d;
		}
/* Index */
		.fillContent{
			padding-right:0px;
			padding-left:0px;
		}


/*Navbar*/
	.navbar{
			padding-top:1%;
			background-color:#F5F2EA;
			border: none;
			border-radius:0px;
			color: #5B5955;
		}
		.navbar-default .navbar-brand {
			color: #5B5955;
		}
		.titleNav{
			font-size:20px;
			color: #cb654f;						
		}
		.titleNav{
			font-size:20px;
			color: #cb654f;						
		}
		.titleNav::hover{			
			color: #cb654f;						
		}
/* Footer */

	.footer{
		    bottom: 0;
		    width: 100%;
		    margin-top: 1%;
	}
/* Dashboard */

		.overlapImg{
			position:absolute;
			  left:60%;
			  /*top:60%;*/
			  top: 80px;
			  width: 20px;
			  height: 20px;
		}
		.overlapImgSmall{
			position:absolute;
			  left:55%;
			  top: 80px;
			  width: 20px;
			  height: 20px;			  
			  z-index: 1;*/
		}
		
		.singleRow{
			height:280px;
			overflow: hidden;
		}
		
		.doubleRow{
			height:560px;
			max-height:100%;
		}
		
		.tripleRow{
			height:840px;
			max-height:100%;
		}
		.customInput{
			width:20%;
			display: inline;
			margin-right:2%;
    	}
    	.customInput2{
			width:25%;
			display: inline;
			margin-right:2%;
    	}
    	.customInput3{
			width:22%;
			display: inline;
			margin-right:2%;
    	}

    	.buttonAC, .buttonDC{
    		background-color:transparent;
			border-color:#5B5955;
			margin-top:3%;	
			color:#5B5955;		
			display: inline-block;
			max-width: 100%;
			margin-bottom: 5px;
			-webkit-box-shadow: none;
			box-shadow: none;			
    	}
    	.buttonAC:hover, .buttonDC:hover{
    		background-color:#8cbea3;	
    	}
    	.buttonAC:active, .buttonDC.active{
			background-color: #5DAF82;
    		
    	}
    	.title{
    		width:120px;
    	}
    	.titleIcon{
    		height:40px;
    	}
    	.fileIcon{
    		height:130px;
    	}

/*Profilo*/
		.profileSection{
			margin-right:20%;
			margin-left:20%;
			margin-top:5%
		}
		#imgProfile{
			text-align:center;
			height:500px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center; 
		}
		.toFitImage{
			max-width:100%;
			max-height:100%;
		}

		.fixedHeight{
			height:500px;
		}
		
		.table th, .table td { 
		     border-top: none !important; 
		 }
		 
		 #uploadSpan:hover{
		 	color:#ADA783;
		 }
		 .profilePicture{
			height:250px;
			width:250px;
			object-fit: cover;
			
		}
		.overlapIconPP{
			position:absolute;
			left:70%;
			top: 230px;
			width: 40px;			
		}
		.overlapIconCover{		
			width: 40px;			
		}
		

/*Scenario*/
		.jumbotron{
			background-size:cover;
			background-position: center;
			height: 350px;
			color: white;
			text-shadow: black 0.3em 0.3em 0.3em;
			opacity:0.8;
			margin-bottom:0px;
			border-radius: 0px !important;
			padding-bottom:2%;		  
			display: flex;
			align-items: flex-end;
			margin-top:0.5%;
		}
		
		.marginM{
			margin-top: 10%;
			margin-bottom: 10%;
		}
		.marginSLeft{
			margin-left:3%;
		}
		.menu {
			background-color:#ebe6ca;			
		}
		.menu > li > a:hover{
			background-color:#E0D8A9;			
			
		}
		.post{
			text-align: left;
			padding:8px;
		}
		.testo{
			font-size: 17px;
		}
		.evidenziato{
			color:#ADA783;
		}
		#luciaProvvisoria{
			background:url('https://animadolente.files.wordpress.com/2013/10/lucia-mondella.jpg');
			height:100px;
			width:100px;
			background-size: cover;
			
		}
		#innominatoProvvisorio{
			background:url('http://promessisposi.weebly.com/uploads/8/1/0/6/8106705/1325949399.jpg');
			height:100px;
			width:100px;
			background-size: cover;			
		}
		#innProvvisorio{
			background:url('http://i.imgur.com/X13Oexa.png');
			height:400px;
			background-size: cover;
			    background-position: center center;
						
		}
		.highlightText{
			font-size:20px;
		}
		.subtitle{
			font-size:16px;
			color: #6e7f70;
		}
		.hiddenOverflow{
			overflow:hidden;
		}
		.lessWidth{
			width:80%;
		}
		.paddingMRight{
			padding-right:5%;
		}
		.invisibleButton{
			bakground-color:transparent !important;
		}
		.wizButton{
			height:30px;
		}
		.paddingMLeft{
			padding-left:5%;
		}

/* Elenco scenari */
		.sideMarginThree{
			margin-right:3%;
			margin-left:3%;
		}
		.scenarioHover:hover, .scenarioHover:focus{
			background-color:#cdc08c;
		}
		
/* Creazione scenario */

		.modal-dialog {
/* 			  width: 500px; */
			  background-color: rgba(224, 216, 169, 0.8);
		}
		.modal-content{
			border-radius: 0px;
			background-color: transparent;
		}
		.modal-open{background: transparent
		}
		.stepTitle,.stepTitle:hover{
			margin-top:3%;
			color:#777;
		}
		.wizard a {
		    display: inline-block;
		    /*margin-right: 5px;*/
		    min-width: 150px;
		    outline: none;
		    padding: 10px 1% 10px;
		    text-decoration: none;
		    text-align: center;
		}
		.wizard .active {
			background: #AFC48B;
		}
		.textLeft{
			text-align: left;
		}
		.textRight{
			text-align: right;
		}
		.block{
			display:inline-block;
			margin-top:2%;
			min-width:100%;
		}
		.enlight{
			padding-bottom:2%;
		}
		.enlight:hover{
			background-color:#cdc08c;
		}
		.panel-default {
			background-color:transparent;
		  border:0px;
		}
		.panel-default > .panel-heading {
			background-color:transparent;
			border:0px;
		}
		.panel-title:focus, .panel-heading:focus{
			-webkit-appearance: none;.
			border: 0;
    		box-shadow: none;
		}
		accordion * {outline: 0 !important;}
		.panel{
			box-shadow: none;
		}
		.panel:hover, .panel:focus{
			background-color:#cdc08c;
		}
		.panel-title>a, .panel-title>a:hover, .panel-title>a:focus{
			color:#5B5955;
			text-decoration:none;
		}
		.linkImg{
			margin-top:15%;
		}
		.linkImg2{
			margin-top:55%;
		}
		.icCameraWiz{
			width:40px;
			margin-left:4%;
		}
		.coverMapPreview{			
			width:100%;
			height:290px;
			object-fit: cover;
		}
		.imageHere{
			width:80%;
			height:300px;
			border-style:solid;
			border-width:5px;
			border-color:rgba(146,134,85,0.6);	
			padding:0px;		
		}
		
/*Profilo pg*/

		.marginTwenty{
			margin-top:20px;
		}
		.textJustify{
			text-align: justify;
		}
		.QuoteDescription{
			width:100%;
		}
		.charDescription{
			font-size:18px;
		}
		.quoteChar{
			font-size:14px;
			color:#929292;
			float: right;
			margin-top:9%;
		}
		
/* Post */

	.iconsMargin{
		margin-right:8px;
		font-size:30px;
		color:#262626;
	}
	.extraContent{		
		margin-right:0px;
		margin-left:0px;
		padding-bottom:1%;
	}
	tags-input .tags .tag-item{
		background:transparent !important;
		border-color:#5B5955 !important;
		
	}
	tags-input .autocomplete .suggestion-item .suggestion-item.selected{
		background-color: #e5e0c3 !important;
	}

	.remove-button:focus{
		color:#cb654f;
	}
	.linkPost{
		color:#89b151;
	}
	.imgToPost{
		position:relative;
	}
	.imgToPost .hoverContent {
	    position: absolute;
	    top: 0;
	    left: initial;
	    display: none;
	    color: #d6d6d6;	    
	}
	.imgToPost:hover .hoverContent {
	    display: block;
	    background: rgba(0, 0, 0, .6);
	}

/*Non ancora classificato*/
		
		
		.mainContent{
			min-width: 100%;
			height: 100%;
			display:table;
		}
		
		
		
		.leftFloat{
			float:left;
		}
		
		.noPadding{
			padding:0px;
		}
		.noPaddingLeft{
			padding-left:0px;
		}
		
		.tableMargin{
			margin-right:5px;
		}
		

		.floatRight{
			float: right;
		}
		table { 
			border-spacing: 3px;
			border-collapse: separate;
		}
		.internalDiv{
			border-bottom:5%;
		}

		.dateHomework{
			color: white;
			font-weight: bold;
			width: 50px;
			height: 50px;
			text-align: center;
			background-color: #5D7F71;
		}
		.fontM{
			font-size:12px;
		}
		.fontL{	
			font-size:25px;
		}
			
		.row-fluid{
			display:table-row;
		}
		

		h4{
			margin-bottom:1%;
		}
		

		
		
#footer{
	background-color: rgba(90, 170, 137, 0.8);
	text-align:center;
	color:#e8e8e8;
	padding-top:10px;
}




.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
