		
		
		.divLanding{
			background-color:#A2B776;
			border-radius: 25px;
		}
		.bg{
			background-image: url(/assets/public/img/teacher.jpg);
			background-size:cover;	
			background-repeat: no-repeat;
			background-position: center;
		}
		.fill{
			height:100vh;
			min-height:100%;
		}
		.boxFluttuante {			
			background-color: rgba(224, 216, 169, 0.6);
			text-align:center;
			margin-top:50px;
		}
		input[type=date]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			display: none;
		}
		input[type=date]::-webkit-calendar-picker-indicator {
			-webkit-appearance: none;
			display: none;
		}
		input[type=text]:focus,
		input[type=email]:focus,
		input[type=password]:focus{
		    background-color:#E0D8A9;
		    outline:0;
		    -webkit-box-shadow: none;
    		box-shadow: none;+
    		border: 0px 0px 0px 2px;
    		border-bottom-color: #5B5955;
		}
		
		.form-control{
			background-color:transparent;
			border-top: none;
			border-left:none;
			border-right:none;
			outline:none;
			border-radius:0px;
			-webkit-appearance: none;.
			border: 0;
    		box-shadow: none;
    		border-color:#5B5955;
		}
		
		.form-control::-webkit-input-placeholder { color: #5B5955; }
		.form-control:-moz-placeholder { color: #5B5955; }
		.form-control::-moz-placeholder { color: #5B5955; }
		.form-control:-ms-input-placeholder { color: #5B5955; }
		
		.generalButton{
			background:transparent;
			border-color:#5B5955;			
			margin-bottom:20px;
		}
		
		.navbar{
			margin-top:1%;
			background-color:rgba(224, 216, 169, 1);
			border: none;
			 color: #5B5955;
		}
		.navbar-default .navbar-brand {
			color: #5B5955;
		}
		.login{
			margin-bottom:0px;
		}
		body{
			background-color:rgba(224, 216, 169, 1);
		}