tooltips:before {
	content: attr(title);
	display: none;
}

tooltips:hover::before {
	width: 200px;
	display: block;
	background: yellow;
	border: 1px solid black;
	padding: 8px;
	margin: 25px 0 0 10px;
}

.disabled-div {
	opacity: 0.5;
}

.rowPost {
	/*overflow:hidden;*/
	position: relative;
	height: 250px;
}

.postStatus {
	border-top: 2px solid #5B5955;
	border-bottom: 2px solid #5B5955;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 75%;
	margin-right: 20px;
}

.tabComment {
	border-radius: 5px;
	border: 1px solid #5B5955;
	padding: 5px;
	width: 45%;
	display: inline-block;
}

.hrDivider {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin: 25px;
	position: relative;
}

.col-right-line:before {
	position: absolute;
	content: " ";
	top: 0;
	right: 0;
	height: 100%;
	width: 1px;
	background-color: @color-neutral;
}

.box-info {
	border-radius: 5px;
	width: 120px;
	height: 100%;
	border: 1px solid #FFF;
	font-size: small;
	font-weight: bold;
	margin-top: 15px;
}

.button-disabled {
	pointer-events: none;
	opacity: 0.5;
	background: #CCC;
}

/*TAG BOX CSS START*/
.top-buffer {
	padding-top: 20px;
}

.tags-wrapper {
	position: relative;
}

.tags-cloud .tag {
	float: left;
	padding: 4px 6px;
	font-size: 1em;
	margin-right: 5px;
	margin-bottom: 5px;
	background: #f2f2f2;
	font-weight: 600;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #dddddd;
}

.tags-cloud .tag:hover {
	border: 1px solid #cccccc;
}

.tags-cloud .tag:hover .cross {
	opacity: 1;
}

.tags-cloud .tag .cross {
	margin-left: 5px;
	margin-right: 3px;
	font-size: 1em;
	color: #20a28e;
	opacity: .7;
	cursor: pointer;
}

.suggestions-list {
	/*     position: absolute; */
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font-size: 14px;
}

.suggestions-list li {
	color: #333333;
	font-weight: 600;
	padding: 4px 25px;
	font-size: 1em;
	cursor: pointer;
	background: #f2f2f2;
	border-bottom: 1px solid #dddddd;
}

.suggestions-list li:hover {
	background: #dddddd;
}

.suggestions-list li:active, .suggestions-list li.active {
	color: #20a28e;
	background: #dddddd;
}

.suggestions-list:focus {
	outline: none;
}

/*TAG BOX CSS END*/
span.clickable {
	cursor: pointer;
}

span.clickable:hover {
	text-decoration: underline;
	color: #686868;
}

.overlay {
	position: relative;
	display: inline-block;
}

.overlay .base-layer {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	/*position: absolute;*/
}

.overlay .top-layer {
	/*position: absolute;*/
	
}

.marker {
	width: 40px;
	height: 40px;
}

.map-canvas {
	position: relative;
	background-size : cover;
}

/*CUSTOM MODAL BODY FOR MAP*/
.modal-map-body {
	padding-left: 15px;
	padding-right: 15px;
	overflow: auto;
}


/*CUSTOM CSS FOR customDatePicker*/
.inactive-link {
   pointer-events: none;
   cursor: default;
   color: gray;
}

.selected-date {
   background-color: #CCFF33;
}

.btn-link {
	color: #2C6143;
}


/*CUSTOM CSS GRAPH BAR IN SCENARIO MAP*/
.chart {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 700px;
  height: 50px;
  margin: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
  background-size: 100% 50px;
  background-position: center top;
  padding-left:0;
}

 	
.chart span {
  width : 1%;
  height : 100%;
  display: table-cell;
  vertical-align: bottom;
}

.chart span.bar {
	  background: #E0D8A9;
	  width : 100%;
	  height : 0%;
	  display: block;
}

.map-canvas-box:hover .hoverContent {
	    display: block;
	}

.ui-widget-header {
    background: #AFC48B !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #fbd850 !important;
    background: #89B151 !important;
    font-weight: bold;
    color: #89B151;
}
.ui-state-hover, .ui-widget-hover .ui-state-hover, .ui-widget-hover .ui-state-hover {
    border: 1px solid #fbd850;
    background: #89B151 !important;
    font-weight: bold;
    color: #89B151;
}

/*MATERIALI*/
.table-like {
	border-width: 1px;
	border-style: dotted;
	width: 100%;
	margin : 1px;
	padding : 5px;
	cursor: pointer;
	word-wrap: break-word;
	vertical-align : middle;
	font-size : 0.9em;
}

.table-like-header {
	background-color : #E0D8A9;
	width: 100%;
	margin : 1px;
	padding : 5px;
	vertical-align : middle;
	word-wrap: break-word;
	font-weight: bold;
	font-size : 0.9em;
}

.drop-file-zone {
	border-width: 5px;
	border-style: dashed;
	width:100%;
}

.squareResourceIcon{
		padding : 100%;
	    background-position:center center;
	    background-repeat:no-repeat;
	    background-size:cover;
}

.dropdown-menu{
	border-width: 2px;
	border-style: double;
	border-color : #89B151;
}


/*POSITION SIDE ELEMENTS TEMPLATE SCENARIO*/
.sideMorePad {
	position : fixed;
	padding-top:3.0em;
	transition: all 0.4s ease;
	width : 15%;
}

.sideLessPad {
	position : fixed;
	padding-top:0.3em;
	transition: all 0.4s ease;
	display: block;
	width : 15%;
}

.imgSmallTemplate {
	width: 45px;
}

.imgMediumTemplate {
	width: 60px;
}

/*SQUARE DATE MISSION*/
.square-box{
	margin-top: 10%;
	margin-left: 10%;
    position: relative;
    width: 80%;
    overflow: hidden;
    background: #cdc08c;
    min-width : 40px;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight : bold;
}

/*LINK MISSION DASHBOARD STUDENT*/
.blueLink {
	color : #275656;
}

.blueLink:hover, .blueLink:focus {
	color: #059072;
}

/*FINTO BOX APPUNTI IN DASHBOARD*/
.boxFakeDraft {
	background-color:rgba(245, 242, 234, 0.5);
/* 	padding-left : 100%; */
/* 	padding-right : 100%; */
	padding-top : 2%;
	padding-bottom : 2%;
	margin-bottom : 5px;
	margin-top  : 5px;
}

.row-fluid {
	white-space: nowrap;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
