tooltips:before{ content:attr(title); display:none; }

tooltips:hover::before{ width:200px; display:block; background:yellow; border:1px solid black; padding:8px; margin:25px 0 0 10px; }

.rowPost{
	/*overflow:hidden;*/
	position: relative;
	height: 250px;	
}

.postStatus{
	border-top: 2px solid #5B5955; 
	border-bottom: 2px solid #5B5955; 
	height: 100%;
	position: absolute;
    right: 0;
    top: 0;
    width: 75%;
    margin-right: 20px;
}

.tabComment{
	border-radius: 5px; 
	border: 1px solid #5B5955; 
	padding: 5px;
	width: 45%;
	display: inline-block;
}

.hrDivider{
	border: 0; 
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin: 25px;
	position: relative;
}

.col-right-line:before {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: @color-neutral;
}

.box-info{
	border-radius: 5px; 
	width: 120px;
	height: 100%;
	border: 1px solid #FFF;
	font-size: small;
	font-weight: bold;
	margin-top: 15px;
}

.button-disabled{
	pointer-events: none;
	opacity: 0.5;
	background: #CCC;
}

.button-selected{
	
}




