<div class="modal-header">
	<h4 class="modal-title">Definisci l'area di interesse per lo scenario</h4>
</div>
<div class="modal-body">
	 <leaflet bounds="teacherMap.map.bounds" center="teacherMap.map.center" layers="teacherMap.map.layers" tiles="teacherMap.map.tiles" width="100%" height="580px" markers="marker">
    </leaflet>
</div>
<div class="modal-footer">
	 <div class="btn generalButton1" data-ng-click="teacherMap.setMaxBounds(teacherMap.map.bounds)">Ok</div>
        <div class="btn warningButton" data-ng-click="$dismiss()">Annulla</div>
</div>