<div class="box row" style="border:1px; margin-right:1%; border-color:#5B5955">

		<select class="selectpicker customInput2 col-xs-2"  data-ng-model="date.day">
		    <option value="" disabled selected style="display:none;">GIORNO</option>
		    <option>1</option>
		    <option>2</option>
		    <option>3</option>
		    <option>4</option>
		    <option>5</option>
		    <option>6</option>
		    <option>7</option>
		    <option>8</option>
		    <option>9</option>
		    <option>10</option>
		    <option>11</option>
		    <option>12</option>
		    <option>13</option>
		    <option>14</option>
		    <option>15</option>
		    <option>16</option>
		    <option>17</option>
		    <option>18</option>
		    <option>19</option>
		    <option>20</option>
		    <option>21</option>
		    <option>22</option>
		    <option>23</option>
		    <option>24</option>
		    <option>25</option>
		    <option>26</option>
		    <option>27</option>
		    <option>28</option>
		    <option>29</option>
		    <option>30</option>
		    <option>31</option>
 		</select>
 		<select class="selectpicker customInput2  col-xs-2" data-ng-model="date.month" >
		    <option value="" disabled selected style="display:none;">MESE</option>
		    <option value="1">Gennaio</option>
		    <option value="2">Febbraio</option>
		    <option value="3">Marzo</option>
		    <option value="4">Aprile</option>
		    <option value="5">Maggio</option>
		    <option value="6">Giugno</option>
		    <option value="7">Luglio</option>
		    <option value="8">Agosto</option>
		    <option value="9">Settembre</option>
		    <option value="10">Ottobre</option>
		    <option value="11">Novembre</option>
		    <option value="12">Dicembre</option>
 		</select>
		<input class="generalInput" class="col-xs-2 " type="text" data-ng-model="date.year"  placeholder="Anno"/>

		<span class="btn-group col-xs-4">
			<label class="btn buttonDC" data-ng-model="date.afterChrist" btn-radio="false">A.C.</label>
			<label class="btn buttonDC" data-ng-model="date.afterChrist" btn-radio="true">D.C.</label>
		</span>
</div>