<div ng-controller="loginCtrl">
	
	<div class="container">
		<div class="hero-unit">
			<h1>Pagina di Login di Smiled</h1>
			<div>
				<p>Per iniziare è necessario essere registrati, proponilo alla
					tua scuola!</p>

			</div>


			<form role="form" name="f">
				<div class="form-group">
					<label for="email">Email:</label> <input type="email"
						name="j_username" class="form-control" id="email"
						placeholder="Inserisci l'email" ng-model="user.email">
				</div>
				<div class="form-group">
					<label for="pwd">Password:</label> <input type="password"
						name="j_password" class="form-control" id="pwd"
						placeholder="Inserisci la password" ng-model="user.password">
				</div>
				<div class="checkbox">
					<label><input id="remember_me"
						name="_spring_security_remember_me" type="checkbox">
						Ricordami</label>
				</div>
				<div class="form-group">
					<button ng-click="login()" class="btn btn-primary btn-lg" name="submit">Entra</button>
					<a ui-sref="register" class="btn btn-default">Registrati!</a>
				</div>
			</form>
		</div>
	</div>
</div>
