<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a data-ui-sref="notLogged.welcome" href=""> 
				<img class="img imgPreviewM" src="assets/public/img/calderone1.png">
				</a>
				<a data-ui-sref="notLogged.welcome" href=""> 
				<span class="titleNav"><b><i>me</i>schola</b></span>
				</a>
				<work-spinner>
					<img width="40px" height="40px" src="/assets/public/img/p_spinner.gif" />
				</work-spinner>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				</ul>

				<form class="navbar-form navbar-right" role="form" novalidate>
					<div class="form-group">
						<input type="email" class="form-control" placeholder="EMAIL"
							data-ng-model="login.user.email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="PASSWORD"
							data-ng-model="login.user.password">
					</div>
					<div class="form-group">
					<button class="btn generalButton confirm login"
						data-ng-click="login.login()">ACCEDI</button>
						<a href="">Hai dimenticato la password?</a>
					</div>
					

				</form>
			</div>
			<alertlogin></alertlogin>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>