

<link href='https://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css'>
<link href="/assets/public/css/login-style.css" rel='stylesheet'
	type='text/css'>

	
<div class="container-fluid bg fill">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3 boxFluttuante">
			<h3>ISCRIZIONE DOCENTE</h3>
			<label>Informazioni personali</label>
			<alertregistration></alertregistration>
			<form role="form" novalidate>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="NOME"
						data-ng-model="register.user.firstName" ></input>
					<div class="form-group"></div>
					<input type="text" class="form-control" placeholder="COGNOME"
						data-ng-model="register.user.lastName" ></input>
				</div>
				<div name="myForm" class="form-group">
					<form class="form-inline">
						<div class="form-group">
							<input type="date" class="form-control" 
								data-ng-model="register.user.bornDate"  placeholder="dd-MM-yyyy" min="1900-01-01" max="2015-12-31" required></input>
						</div>

					</form>
<!-- 			            <p class="input-group"> -->
<!-- 			              <input type="text" class="form-control" placeholder="Data di nascita" uib-datepicker-popup="'dd-MMMM-yyyy'" ng-model="register.user.bornDate" is-open="register.calendar.opened" min-date="register.calendar.minDate" max-date="register.calendar.maxDate" datepicker-options="register.calendar.dateOptions" date-disabled="register.disabled(date, mode)" ng-required="true" close-text="Chiudi" /> -->
<!-- 			              <span class="input-group-btn"> -->
<!-- 			                <button type="button" class="btn btn-default" ng-click="register.openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button> -->
<!-- 			              </span> -->
<!-- 			            </p> -->
						
     
		
				</div>


				<div class="form-group">
					<label>Account</label> <input type="text" class="form-control"
						placeholder="EMAIL" data-ng-model="register.user.email" ></input>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="PASSWORD"
						data-ng-model="register.user.password" ></input>
				</div>
				<div class="form-group">
					<input type="password" class="form-control"
						placeholder="CONFERMA PASSWORD" data-ng-model="register.user.confirmPassword"
						></input>
				</div>
				
				<button data-ng-click="register.postRegister()"
					class="btn generalButton marginMBottom">REGISTRATI</button>
			</form>

		</div>
	</div>
</div>

