<div class="container" ng-controller="registerCtrl">
		<div class="hero-unit">
			<h1>Registrati su Smiled</h1>
			<div>
				<p>Pagina di registrazione dei docenti!</p>
			</div>

			<form>
				<div class="form-group">
					<label for="textinputEmail"> Email: </label>
					<input type="email"/>
					<div class="error">${errorMessage}</div>
				</div>
				<div class="form-group">
					<label for="textinputPassword"> Password: </label>
					<input type="password"/>
				</div>
				<div class="form-group">
					<label for="textinputFirstName"> First name: </label>
					<input type="text"/>
				</div>
				<div class="form-group">
					<label for="textinputLastName"> Last name: </label>
					<input type="text"/>
				</div>
				<div class="form-group">
					<label for="textinputGender"> Gender (M/F): </label>
					<select>
						<option value="m">M</option>
						<option value="f">F</option>
					</select>
				</div>
				<div class="form-group">
					<label for="textinputMatter"> Matter: </label>
					<input type="text"/>
				</div>
				<button type="submit" class="btn btn-primary btn-lg" name="submit" value="Sign Up!" >Registrati</button>
			</form>
			
		</div>
	</div>