<!-- header per vetrina -->
	<link rel="stylesheet"
	href="/assets/public/js/vendor/bootstrap/dist/css/bootstrap.css">
    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet'
        type='text/css'>
    <link href="/assets/public/js/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/public/css/showcase-style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
		<script src="js/ie8-responsive-file-warning.js"></script>
	<![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/fav-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/fav-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/fav-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/fav-57.png">
    <link rel="shortcut icon" href="images/fav.png">
<!-- fine header per vetrina -->
<body>
    <!-- Preloader Starts -->
    <div class="loader">
    </div>
    <!-- Preloader Ends -->
    <!-- Header Section Starts -->
    <header id="header">
    	<div style="margin: 10px;" class="pull-right btn btn-info" data-ui-sref="notLogged.login"><b>Accedi</b></div>
        <div class="header-overlay">
            <div class="container">
                <!-- Logo Starts -->
                <a href="" data-ui-sref="notLogged.login">
                	<div data-scroll-reveal="enter top and move 50px over 1.2s" 
                			style="margin: 90px auto 120px;" class="text-center">
                    <img class="img imgPreviewXL" src="/assets/public/img/logo_calderone.png">
                	</div>
                </a>
                <!-- Logo Ends -->
                <!-- Main Heading Starts -->
                <div class="main-head">
                    <a href="" data-ui-sref="notLogged.login"><h1 data-scroll-reveal="enter left and move 50px over 1.8s">
                        <span style="color:#cb654f;"><i>me</i>schola</span></h1></a>
                    <h5 data-scroll-reveal="enter right and move 50px over 2.0s">
                        Diventa protagonista del tuo sapere</h5>
                </div>
                <!-- Main Heading Ends -->
            </div>
           
        </div>
    </header>
    <!-- Header Section Ends -->
   
    </section>
    
    <!-- Services Section Starts -->
    <section id="services">
        <div class="services-overlay">
            <div class="container">
                <!-- Main Heading Starts -->
                <div class="main-head">
                    <h2 data-scroll-reveal="enter top and move 50px over 1.2s">Cos'è <i>me</i>schola</h2>
					<p data-scroll-reveal="enter bottom and move 50px over 1.4s" style="font-size: 1.2em;">
                        Quante volte è capitato di trovare una materia scolastica noiosa perché non si riesce a capirne l'attualità o il valore pratico? Quante volte è capitato di "sentirsi distanti" o di non sentirsi coinvolti in ciò che si insegna o si studia?</p>

                    <br />
                    <p data-scroll-reveal="enter bottom and move 50px over 1.4s">
                        <span style="color:#cb654f; font-size:1.2em"><b><i>me</i>schola</b></span> è la piattaforma digitale collaborativa che attraverso il <i>role-play</i> consente di "rendere vivi" argomenti, fatti e personaggi, immergendo insegnanti e studenti direttamente nella Storia.
                    </p>
                </div>
                <!-- Main Heading Ends -->
                <!-- Services List Starts -->
                <div id="services-blocks" class="row">
                    <div data-scroll-reveal="enter bottom and move 50px over 1.6s" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sblock">
                        <span class="fa fa-star-o"></span>
                        <h4>
                            Creativa</h4>
                        <p>
                            Permette di scegliere o creare scenari didattici ispirati ad opere letterarie, periodi storici, temi di attualità o altri argomenti dei programmi scolastici.
                        </p>
                    </div>
                    <div data-scroll-reveal="enter top and move 50px over 1.7s" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sblock">
                        <span class="fa fa-smile-o"></span>
                        <h4>
                            Divertente</h4>
                        <p>
                            Fa sì che gli studenti possano giocare ad immaginare cosa avrebbero scritto i personaggi storici se avessero avuto a disposizione i social network.
                        </p>
                    </div>
                    <div data-scroll-reveal="enter bottom and move 50px over 1.8s" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sblock">
                        <span class="fa fa-lightbulb-o"></span>
                        <h4>
                            Stimolante</h4>
                        <p>
                            Coinvolge insegnanti e studenti trasformandoli in veri e propri protagonisti del processo di apprendimento, spronandoli a creare contenuti originali.
                        </p>
                    </div>
                </div>
                <!-- Services List Ends -->
            </div>
        </div>
    </section>
    <!-- Services Section Ends -->
    <!-- Contact Us Section Starts -->
    <section id="contact">
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="main-head">
                <h2 data-scroll-reveal="enter top and move 50px over 1.2s" class="MT40">
		    A chi è rivolto?</h2>
				<span style="color:#cb654f; font-size:1.2em;"><b><i>me</i>schola</b></span> è uno strumento per le scuole che vogliono portare innovazione nei propri metodi di insegnamento.
				
            </div>
            <!-- Main Heading Ends -->
          
            <div class="row">
               
                <div data-scroll-reveal="enter left and move 50px over 1.6s" id="contact-area" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h4 data-scroll-reveal="enter top and move 50px over 1.2s" class="MT40">
                    Sei un insegnante?</h4><br>
					Se vuoi utilizzare <span><i>me</i>schola</span> con la tua classe bastano pochi semplici passaggi:
					<ol>
						<li>Iscriviti alla piattaforma (non appena saremo pronti)</li>
						<li>Scegli o crea uno scenario didattico</li>
						<li>Invita i tuoi alunni e assegna loro i ruoli da interpretare</li>
						<li>Dai spazio alla creatività dei tuoi studenti ...</li>
					</ol>
                </div>
                
                <div data-scroll-reveal="enter right and move 50px over 1.8s" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h4 data-scroll-reveal="enter top and move 50px over 1.2s" class="MT40">
                    Sei uno studente?</h4><br>
					Se sei curioso di utilizzare <span><i>me</i>schola</span> insieme ai tuoi compagni bastano pochi semplici passaggi:
					<ol>
						<li>Parlane con i tuoi professori e fai scoprire loro <span><i>me</i>schola</span></li>
						<li>Attendi di ricevere un invito dal tuo insegnante</li>
						<li>Dai vita al tuo personaggio</li>
						<li>Tieni d'occhio la piattaforma per non perdere i post dei tuoi amici e interagisci con loro</li>
					</ol>
                </div>
                <!-- Contact Address Ends -->
			</div>
            <!-- Form & Address Blocks Ends -->
        </div>
    </section>
    <!-- Contact Us Section Ends -->
    <!-- Footer Starts -->
    <footer id="footer">
        <div class="container">
            <!-- Copyright Starts -->
            <div data-scroll-reveal="enter bottom and move 50px over 1.2s">
                <p data-scroll-reveal="enter over 3.2s">
	  <b><span style="font-size: 1.2em;"> Stiamo arrivando!</span><br> Tieniti aggiornato: <a href="mailto:info@meschola.it">
                       info@meschola.it </a></b>
                </p>
            </div>
            <!-- Copyright Ends -->
        </div>
    </footer>
</body>
<script>
	$(function() {
		window.scrollReveal = new scrollReveal();
		"use strict";
		
		// PreLoader
		$(window).load(function() {
			$(".loader").fadeOut(400);
		});
	
		// Backstretchs
		$("#header").backstretch("/assets/public/img/showcase-images/3.jpg");
		$("#services").backstretch("/assets/public/img/showcase-images/2.jpg");
		
	//	// Countdown
	//	$('.countdown').downCount({
	//		date: '12/12/2014 12:00:00',
	//		offset: +10
	//	});			
	    
	});
</script>

