<div>
	
	<div>
		<h4>Cerca log: </h4>
		<div class="row">
			<label for="allLogsNum">Risultati per pagina (max 20): </label> <input size="4" id="allLogsNum" data-ng-model="dashboardAdmin.nItemLogs">
			<label for="allLogsPag">Numero pagina: </label> 
			<button data-ng-show="dashboardAdmin.nPagLogs!=0" data-ng-click="dashboardAdmin.changeLogsToPrev()">
				<span class=" glyphicon glyphicon-chevron-left"></span>
			</button>
			<input size="4" id="allLogsPag" data-ng-model="dashboardAdmin.nPagLogs">
			<button data-ng-click="dashboardAdmin.changeLogsToNext()">
				<span class=" glyphicon glyphicon-chevron-right"></span>
			</button>
			<label>Risultati trovati: </label> <b>{{dashboardAdmin.numLogsFounded}}</b>
		</div>
		<div class="row">
			<button class="btn btn-success" data-ng-click="dashboardAdmin.searchLogs()">Cerca</button>
			<button data-ng-if="dashboardAdmin.showResetLogs()" class="btn btn-danger" data-ng-click="dashboardAdmin.resetLogs()">Reset</button>
		</div>
		<br>
		<ol>
			{{dashboardAdmin.noMoreLogs}}
			<div data-ng-repeat="l in dashboardAdmin.myListOfLogs">
				<li>
					<ul>
<!-- 						<li><b>Id:</b> {{e.id}}</li> -->
						<li><b>Tipo: </b> {{l.type}}</li>
						<li><b>Data: </b> {{l.date | date:dashboardAdmin.dateFormat}}</li>
						<li><b>Utente che ha generato il log: </b><a style="cursor:pointer;" href="" data-ui-sref="logged.userProfile({id : '{{l.userId}}' })"> {{l.firstName}} {{l.lastName}} ({{l.email}})</a></li>
						
						<li data-ng-show="l.scenarioId"><b>Scenario in cui si è verificato il log: </b><u><a style="cursor:pointer;" href="" data-ui-sref="logged.scenarioWizard.info({id: '{{l.scenarioId}}' })">{{l.nameScenario}} ({{l.creator}})</a></u></li>
					</ul>
				</li>
			</div>
		</ol>
		
	</div>
	<hr>
	

</div>