<div>
	<div>
		<h3>{{dashboardAdmin.nameOfUser}}</h3>
		<h5>{{dashboardAdmin.nameOfScenario}}</h5>
		<p>Riepilogo utilizzo piattaforma: </p>
		<ul>
	
			<li><b>Numero post: </b>{{dashboardAdmin.infoStatistics.numPost}} </li>
			<li><b>Numero commenti: </b>{{dashboardAdmin.infoStatistics.numComment}} </li>
			<li><b>Numero suggerimenti: </b>{{dashboardAdmin.infoStatistics.numMetaComment}}</li>
			<li><b>Numero file caricati: </b>{{dashboardAdmin.infoStatistics.numFile}} </li>
			<li><b>Numero like: </b>{{dashboardAdmin.infoStatistics.numLike}} </li>
			<li><b>Totale log: </b>{{dashboardAdmin.infoStatistics.numTotalLog}} </li>
		</ul>
		
	</div>
	
	<hr>
	

</div>