<div>
	<div>
		<h4>Cerca scenari: </h4>
		<div class="row">
			<label for="allTeachersNum">Risultati per pagina (max 20): </label> <input size="4" id="allScenariosNum" data-ng-model="dashboardAdmin.nItemScenarios">
			<label for="allTeachersPag">Numero pagina: </label> 
			<button data-ng-show="dashboardAdmin.nPagScenarios!=0" data-ng-click="dashboardAdmin.changeScenariosToPrev()">
				<span class=" glyphicon glyphicon-chevron-left"></span>
			</button>
			<input size="4" id="allScenariosPag" data-ng-model="dashboardAdmin.nPagScenarios">
			<button data-ng-click="dashboardAdmin.changeScenariosToNext()">
				<span class=" glyphicon glyphicon-chevron-right"></span>
			</button>
			<label for="typeOrder">Ordina per: </label> 
			<select  id="typeOrder" data-ng-model="dashboardAdmin.typeOrder" data-ng-change="dashboardAdmin.switchTypeOrder()"> 
				<option selected="selected" value="creationDate">Data creazione</option>
	  			<option value="lastUpdateDate">Data ultima modifica</option>
	  		</select>
			<label>Risultati trovati: </label> <b>{{dashboardAdmin.numScenariosFounded}}</b>
		</div>
		<div class="row">
			<button class="btn btn-success" data-ng-click="dashboardAdmin.searchScenarios()">Cerca</button>
			<button data-ng-if="dashboardAdmin.showResetScenarios()" class="btn btn-danger" data-ng-click="dashboardAdmin.resetScenarios()">Reset</button>
		</div>
		<br>
	
		<ol>
			{{dashboardAdmin.noMoreScenarios}}
			<div data-ng-repeat="s in dashboardAdmin.myListOfScenarios">
				<li><b>Nome:</b> {{s.name}}
					<ul>
							<li><b>Stato:</b> {{s.status}}</li>
							<li><b>Data creazione:</b> {{s.creationDate | date:dashboardAdmin.dateFormat}}</li>
							<li data-ng-show="s.status=='ACTIVE'"><b>Data attivazione: </b> {{s.startDate | date:dashboardAdmin.dateFormat}} <span data-ng-if="!s.startDate"> Data non disponibile</span></li>
							<li data-ng-show="s.status=='DELETED' && s.startDate">{{s.startDate | date:dashboardAdmin.dateFormat}}</li>
							<li data-ng-show="!s.status=='DELETED'"><b>Data ultima modifica: </b> {{s.lastUpdateDate | date:dashboardAdmin.dateFormat}}<span data-ng-if="!s.lastUpdateDate"> Data non disponibile</span></li>
							<li data-ng-show="s.status=='DELETED'"><b>Data cancellazione: </b> {{s.lastUpdateDate | date:dashboardAdmin.dateFormat}}<span data-ng-if="!s.lastUpdateDate"> Data non disponibile</span></li>
							<li data-ng-show="s.characters"><b>Numero personaggi: </b> {{s.characters.length}}</li>
							<li data-ng-show="s.attendees"><b>Studenti partecipanti: </b> {{s.attendees.length}}</li>
							<li data-ng-show="s.invited"><b>Studenti invitati: </b> {{s.invited.length}}</li>
							<li data-ng-show="s.collaborators"><b>Docenti collaboratori: </b> {{s.collaborators.length}}</li>
							<li data-ng-show="s.posts"><b>Numero post prodotti: </b> {{s.posts.length}}</li>
							<li><a style="cursor:pointer;" href="" data-ui-sref="logged.scenarioWizard.info({id: '{{s.id}}' })">Entra nel Wizard</a></li>
					</ul>
				</li>
				
			</div>
		</ol>
	</div>
	<hr>


</div>