<div>
	<div id="comeHere"></div>
	<div>
		<h4>Cerca richieste di registrazione dei docenti: </h4>
		<div class="row">
			<label for="allLogsNum">Risultati per pagina (max 20): </label> <input size="4" id="allLogsNum" data-ng-model="dashboardAdmin.nItemRegistrationRequests">
			<label for="allLogsPag">Numero pagina: </label> 
			<button data-ng-show="dashboardAdmin.nPagRegistrationRequests!=0" data-ng-click="dashboardAdmin.changeRegistrationRequestsToPrev()">
				<span class=" glyphicon glyphicon-chevron-left"></span>
			</button>
			<input size="4" id="allLogsPag" data-ng-model="dashboardAdmin.nPagRegistrationRequests">
			<button data-ng-click="dashboardAdmin.changeRegistrationRequestsToNext()">
				<span class=" glyphicon glyphicon-chevron-right"></span>
			</button>
			<label>Risultati trovati: </label> <b>{{dashboardAdmin.numRegistrationRequestsFounded}}</b>
		</div>
		<div class="row">
			<button class="btn btn-success" data-ng-click="dashboardAdmin.searchRegistrationRequests()">Cerca</button>
			<button data-ng-if="dashboardAdmin.showResetRegistrationRequests()" class="btn btn-danger" data-ng-click="dashboardAdmin.resetRegistrationRequests()">Reset</button>
		</div>
		<br>
		
		<alertgeneric></alertgeneric>
	
		
			{{dashboardAdmin.noMoreRegistrationRequests}}
			
			<div data-ng-repeat="l in dashboardAdmin.myListOfRegistrationRequests">
				
				<hr>
					<ul>
 	
 						<li><b>Email: </b> {{l.email}}</li>
						<li><b>Token: </b> {{l.token}}</li> 
						<li><b>Data richiesta registrazione: </b> {{l.date | date: dashboardAdmin.dateFormat}}</li>
						<li data-ng-hide="l.moreInfo" ><button class="btn btn-info" data-ng-click="dashboardAdmin.searchMoreInfo(l)">INFO</button></li>
						<li data-ng-show="l.moreInfo"><b>Nome e cognome: </b> {{l.firstName}} {{l.firstName}} </li>	
						<li data-ng-show="l.moreInfo"><b>Data di registrazione: </b> {{l.registrationDate | date: dashboardAdmin.dateFormat}}  </li>	
						<li data-ng-show="l.moreInfo"><b>Ha acconsentito al trattamento dei dati personali: </b> {{l.agree}}  </li>	
						<li data-ng-show="l.moreInfo"><b>Scuola (Città): </b> {{l.profile.school}} ({{l.profile.schoolCity}}) </li>	
						<li data-ng-show="l.moreInfo"><b>Nato a: </b> {{l.profile.bornCity}} <b> il: </b> {{l.profile.bornDate | date: dashboardAdmin.dateFormatBornDate}} </li>	
								
					</ul>
		
				<div>
					<button class="btn btn-success" style="cursor:pointer; margin-left: 1em;" data-ng-click="dashboardAdmin.showPopUpConfirmRegistration(l)" data-ng-hide="l.cancelationConfirmed || l.registrationConfirmed || l.registrationFailed">ABILITA ISCRIZIONE</button>
					<button class="btn btn-danger" style="cursor:pointer; margin-left: 1em;" data-ng-click="dashboardAdmin.showPopUpDeleteRegistration(l)" data-ng-hide="l.cancelationConfirmed || l.registrationConfirmed || l.registrationFailed">CANCELLA ISCRIZIONE</button>
				</div>
				
				
			</div>
		
		
	</div>
	<hr>
	

</div>