<div>

	<div>
		<h4>Cerca un utente specifico inserendo nome e/o cognome: </h4>
		<div class="row">
			<input data-ng-model="dashboardAdmin.firstName" type="text" placeholder="Nome">
			<input data-ng-model="dashboardAdmin.lastName" type="text" placeholder="Cognome">
			<label style="margin-left:10px;">Risultati trovati: </label> <b>{{dashboardAdmin.numUsersFounded}}</b> 
		</div>
		<div class="row">
			<button class="btn btn-success" data-ng-click="dashboardAdmin.searchUsersByFirstNameAndLastName()">Cerca</button>
			<button data-ng-if="dashboardAdmin.showResetUsersByName()" class="btn btn-danger" data-ng-click="dashboardAdmin.resetUsersByName()">Reset</button>
			<span style="color:red;" data-ng-show="dashboardAdmin.showErrorSearchBy">Attenzione inserire nome e/o cognome!</span>
		</div>
	</div>
	<br>
	<div>
		<ol>
			{{dashboardAdmin.noMoreUsers}}
			<div data-ng-repeat="t in dashboardAdmin.myListOfUsers">
				<li><a style="cursor:pointer;" href="" data-ui-sref="logged.userProfile({id : '{{t.id}}' })">{{t.firstName}} {{t.lastName}}</a>
					<ul>
						<li><b>Data di nascita:</b> {{t.profile.bornDate | date}} <span data-ng-show="!t.profile || !t.profile.bornDate"> Data non disponibile</span></li>
						<li><b>Data di registrazione:</b> {{t.registrationDate | date:dashboardAdmin.dateFormat}}</li>
						<li><b>Email:</b> {{t.email}}</li>
						<li><b>Ruolo:</b> {{t.role.authority}}</li>
						<li><b>Ha acconsentito al trattamento dei dati personali:</b> <span data-ng-show="t.agree">Si</span><span data-ng-hide="t.agree">No</span></li>
						<li data-ng-show="t.role.authority=='ROLE_USER'"><b>Invitato da:</b> <a style="cursor:pointer;" href="" data-ui-sref="logged.userProfile({id : '{{t.invitedBy}}' })">{{t.invitedBy}}</a></li>
						<li>
							<b>Scenari in creazione in cui e' coinvolto:</b>
							<span data-ng-show="!t.creatingScenarios || t.creatingScenarios.length==0"> Nessuno</span>
							<ol>
								<div data-ng-repeat="scenC in t.creatingScenarios">
									<li>
										<div>
											<b>{{scenC.name}}</b> - 
								
											<u><a href="" data-ui-sref="logged.scenarioWizard.info({id: '{{scenC.id}}' })">Entra nel Wizard</a></u> <br> 
											<b>Data di creazione: </b> {{scenC.creationDate | date:dashboardAdmin.dateFormat}} - <b>Personaggio corrente: </b>  <span data-ng-show="!scenC.myCharacterName"> Nessuno</span>
											<u><a href="" data-ui-sref="logged.scenario.charprofile({id: '{{scenC.id}}' , idCharacter: '{{scenC.myCharacterId}}' })">{{scenC.myCharacterName}}</a></u>
										</div>
									</li>
								</div>
							</ol>
						</li>
						<li>	
							<b>Scenari aperti in cui e' coinvolto:</b>
							<span data-ng-show="!t.openScenarios || t.openScenarios.length==0"> Nessuno</span>
							<ol>
								<div data-ng-repeat="scenO in t.openScenarios">
									<li>
										<div>
											<u><a href="" data-ui-sref="logged.scenario.posts({id: '{{scenO.id}}' })">{{scenO.name}}</a></u> -
											<u><a href="" data-ui-sref="logged.scenarioWizard.info({id: '{{scenO.id}}' })">Entra nel Wizard</a></u>
											<br> <b>Data di creazione: </b> 
											{{scenO.creationDate | date:dashboardAdmin.dateFormat}} - <b>Personaggio corrente: </b> <span data-ng-show="!scenO.myCharacterName"> Nessuno</span>
											<u><a href="" data-ui-sref="logged.scenario.charprofile({id: '{{scenO.id}}' , idCharacter: '{{scenO.myCharacterId}}' })">{{scenO.myCharacterName}}</a></u>
										</div>
									</li>
										
								</div>
							</ol>
						</li>
						
					</ul>
				</li>
			</div>
		</ol>
	
	</div>
	<hr>
	
	<div>
		<h4>Cerca insegnanti: </h4>
		<div class="row">
			
			<label for="allTeachersNum">Risultati per pagina (max 20): </label> <input size="4" id="allTeachersNum" data-ng-model="dashboardAdmin.nItemTeachers">
			<label for="allTeachersPag">Numero pagina: </label> 
			<button data-ng-show="dashboardAdmin.nPagTeachers!=0" data-ng-click="dashboardAdmin.changeTeachersToPrev()">
				<span class=" glyphicon glyphicon-chevron-left"></span>
			</button>
			<input size="4" id="allTeachersPag" data-ng-model="dashboardAdmin.nPagTeachers">
			<button data-ng-click="dashboardAdmin.changeTeachersToNext()">
				<span class=" glyphicon glyphicon-chevron-right"></span>
			</button>
			<label style="margin-left:10px;">Risultati trovati: </label> <b>{{dashboardAdmin.numTeachersFounded}}</b> 
		</div>
		<div class="row">
			<button class="btn btn-success" data-ng-click="dashboardAdmin.searchTeachers()">Cerca</button>
			<button data-ng-if="dashboardAdmin.showResetTeachers()" class="btn btn-danger" data-ng-click="dashboardAdmin.resetTeachers()">Reset</button>
		</div>
		<br>
		<ol>
			{{dashboardAdmin.noMoreTeachers}}
			<div data-ng-repeat="t in dashboardAdmin.myListOfTeachers">
				<li><u><a href="" data-ui-sref="logged.userProfile({id : '{{t.id}}' })">{{t.firstName}} {{t.lastName}}</a></u>
					<ul>
						<li><b>Data di nascita:</b> {{t.profile.bornDate | date}} <span data-ng-show="!t.profile || !t.profile.bornDate"> Data non disponibile</span></li>
						<li><b>Data di registrazione:</b> {{t.registrationDate | date:dashboardAdmin.dateFormat}}</li>
						<li><b>Email:</b> {{t.email}}</li>
						<li><b>Ruolo:</b> {{t.role.authority}}</li>
						<li><b>Ha acconsentito al trattamento dei dati personali:</b> <span data-ng-show="t.agree">Si</span><span data-ng-hide="t.agree">No</span></li>
						<li>
							<b>Scenari in creazione in cui e' coinvolto:</b>
							<span data-ng-show="!t.creatingScenarios || t.creatingScenarios.length==0"> Nessuno</span>
							<ol>
								<div data-ng-repeat="scenC in t.creatingScenarios">
									<li>
										<div>
											<b>{{scenC.name}}</b> - 
								
											<u><a href="" data-ui-sref="logged.scenarioWizard.info({id: '{{scenC.id}}' })">Entra nel Wizard</a></u> <br> 
											<b>Data di creazione: </b> {{scenC.creationDate | date:dashboardAdmin.dateFormat}} - <b>Personaggio corrente: </b>  <span data-ng-show="!scenC.myCharacterName"> Nessuno</span>
											<u><a href="" data-ui-sref="logged.scenario.charprofile({id: '{{scenC.id}}' , idCharacter: '{{scenC.myCharacterId}}' })">{{scenC.myCharacterName}}</a></u>
										</div>
									</li>
								</div>
							</ol>
						</li>
						<li>	
							<b>Scenari aperti in cui e' coinvolto:</b>
							<span data-ng-show="!t.openScenarios || t.openScenarios.length==0"> Nessuno</span>
							<ol>
								<div data-ng-repeat="scenO in t.openScenarios">
									<li>
										<div>
											<u><a href="" data-ui-sref="logged.scenario.posts({id: '{{scenO.id}}' })">{{scenO.name}}</a></u> -
											<u><a href="" data-ui-sref="logged.scenarioWizard.info({id: '{{scenO.id}}' })">Entra nel Wizard</a></u>
											<br> <b>Data di creazione: </b> 
											{{scenO.creationDate | date:dashboardAdmin.dateFormat}} - <b>Personaggio corrente: </b> <span data-ng-show="!scenO.myCharacterName"> Nessuno</span>
											<u><a href="" data-ui-sref="logged.scenario.charprofile({id: '{{scenO.id}}' , idCharacter: '{{scenO.myCharacterId}}' })">{{scenO.myCharacterName}}</a></u>
										</div>
									</li>
										
								</div>
							</ol>
						</li>
						
					</ul>
				</li>
			</div>
		</ol>
		
	</div>
	<hr>
	<div>
		<h4>Cerca studenti: </h4>
		<div class="row">
			<label for="allStudentsNum">Risultati per pagina (max 20): </label> <input size="4" id="allStudentsNum" data-ng-model="dashboardAdmin.nItemStudents">
			<label for="allStudentsPag">Numero pagina: </label> 
			<button data-ng-show="dashboardAdmin.nPagStudents!=0" data-ng-click="dashboardAdmin.changeStudentsToPrev()">
				<span class=" glyphicon glyphicon-chevron-left"></span>
			</button>
			<input size="4" id="allStudentsPag" data-ng-model="dashboardAdmin.nPagStudents">
			<button data-ng-click="dashboardAdmin.changeStudentsToNext()">
				<span class=" glyphicon glyphicon-chevron-right"></span>
			</button>
			<label style="margin-left:10px;">Risultati trovati: </label> <b>{{dashboardAdmin.numStudentsFounded}}</b> <br>
		</div>
		<div class="row">
			<button class="btn btn-success" data-ng-click="dashboardAdmin.searchStudents()">Cerca</button>
			<button data-ng-if="dashboardAdmin.showResetStudents()" class="btn btn-danger" data-ng-click="dashboardAdmin.resetStudents()">Reset</button>
		</div>
		<br>
		<ol>
		{{dashboardAdmin.noMoreStudents}}
			<div data-ng-repeat="s in dashboardAdmin.myListOfStudents">
				<li><u><a href="" data-ui-sref="logged.userProfile({id : '{{s.id}}' })">{{s.firstName}} {{s.lastName}}</a></u>  
					<ul>
						<li><b>Data di nascita:</b> {{s.profile.bornDate | date}} <span data-ng-show="!s.profile || !s.profile.bornDate"> Data non disponibile</span></li>
						<li><b>Data di registrazione:</b> {{s.registrationDate | date:dashboardAdmin.dateFormat}}</li>
						<li><b>Email:</b> {{s.email}}</li>
						<li><b>Ruolo:</b> {{s.role.authority}}</li>
						<li><b>Ha acconsentito al trattamento dei dati personali:</b> <span data-ng-show="s.agree">Si</span><span data-ng-hide="s.agree">No</span></li>
						<li><b>Invitato da:</b> <a style="cursor:pointer;" href="" data-ui-sref="logged.userProfile({id : '{{s.invitedBy}}' })">{{s.invitedBy}}</a></li>
						<li>	
							<b>Scenari aperti in cui e' coinvolto:</b>
							<span data-ng-show="!s.openScenarios || s.openScenarios.length==0"> Nessuno</span>
							<ol>
								<div data-ng-repeat="scenOStudent in s.openScenarios">
									<li>
										<div>
											<u><a href="" data-ui-sref="logged.scenario.posts({id: '{{scenOStudent.id}}' })">{{scenOStudent.name}}</a></u> - 
											<u><a href="" data-ui-sref="logged.scenarioWizard.info({id: '{{scenOStudent.id}}' })">Entra nel Wizard</a></u> <br> <b>Data di creazione: </b> 
											{{scenOStudent.creationDate | date:dashboardAdmin.dateFormat}} - <b>Personaggio corrente: </b> <span data-ng-show="!scenOStudent.myCharacterName"> Nessuno</span>
											<u><a href="" data-ui-sref="logged.scenario.charprofile({id: '{{scenOStudent.id}}' , idCharacter: '{{scenOStudent.myCharacterId}}' })">
											{{scenOStudent.myCharacterName}}</a></u> 
										</div>
									</li>
								</div>
							</ol>
						</li>
						
					</ul>
				</li>
			</div>
		</ol>
	</div>

</div>
