<div class="row title-container " style="padding: 4%;">
	<div class="col-sm-12 col-xs-12 title-art-1col">


		<h4 class="title-art-1col" style="cursor: pointer"
			ng-click="articleOneColumnImg.goToDraft()">
			{{articleOneColumnImg.article.title}}</h4>
	</div>
</div>
<div data-ng-if="!articleOneColumnImg.isPublished"
	data-ng-if="articleOneColumnImg.idTemplate = 1 || articleOneColumnImg.idChoosenTemplate == '1'"
	class="img-container image-article-container" data-ng-click="articleOneColumnImg.goToDraft()">
	<!-- Aggiungere classe enlarge dell'immagine quando il numero è pubblicato (cioè per chi legge) -->
	<img data-ng-src="{{articleOneColumnImg.article.image}}"
		data-ng-err="assets/public/img/newspaper-img/ic_photo_default-horizontal.jpg"
		class="img-responsive img-article"> 
	<img data-ng-if= "articleOneColumnImg.article.image == null"
	src = "assets/public/img/newspaper-img/ic_photo_default-horizontal.jpg"  
	class="img-responsive img-article"/>	
		<span
		class="pull-right uploadImage glyphicon glyphicon-camera"></span>
</div>

<div data-ng-if="articleOneColumnImg.isPublished"
	data-ng-if="articleOneColumnImg.idTemplate = 1 || articleOneColumnImg.idChoosenTemplate == '1'"
	class="img-container image-article-container">
	<!-- Aggiungere classe enlarge dell'immagine quando il numero è pubblicato (cioè per chi legge) -->
	<img data-ng-src="{{articleOneColumnImg.article.image}}"
		data-ng-err="assets/public/img/newspaper-img/ic_photo_default-horizontal.jpg"
		class="img-responsive image-article">
</div>
<!-- data-err-src="assets/public/img/newspaper-img/ic_photo_default-horizontal.jpg"  -->

<warning-characters data-ng-if="articleOneColumnImg.showWarningText"
	stylebox="bottom" edit="articleOneColumnImg.goToDraft()"
	close="articleOneColumnImg.closeWarning('text')"></warning-characters>

<label
	data-ng-class="{'body-text-temp2': articleOneColumnImg.idTemplate = 1, 'body-article': articleOneColumnImg.idTemplate = 2}"
	style="background-color: #e2ddd0; padding: 3px;">
	{{articleOneColumnImg.article.text1 | limitTo:1159}} </label>
<div class="col-sm-12 col-xs-12" style="background-color: #e2ddd0;">
	<!--  <div data-ng-if="articleOneColumnImg.idTemplate = 2 || articleOneColumnImg.idChoosenTemplate == '2'"
	 class="img-container"
		style="margin-bottom: 5%;">
		Aggiungere classe enlarge dell'immagine quando il numero è pubblicato (cioè per chi legge)
		<img src="{{articleOneColumnImg.article.image}}"
			class="img-responsive img-article"> <span
			class="pull-right uploadImage glyphicon glyphicon-camera"></span>
	</div>  -->
	


<span data-ng-if = "articleOneColumnImg.isPublished" 
class= "articleAuthor">Scritto da {{articleOneColumnImg.article.author}}</span>
</div>	
	
	
</div>

<script>
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
