<div class="article-container" style="background-color: #f5f2ea;">
	<div class="col-sm-12 col-xs-12 line-red" style="margin-top: 2%;">
	</div>
	<!-- edit icon -->
		<div class="col-xs-4 col-sm-4
	visible-xs visible-sm visible-md visible-lg pull-right wow bounceInUp"
		style="margin-top: 25px;" >
				<a style="cursor: pointer" ng-click = "articleOneColumn.goToDraft()"
			> <img
		data-toggle="tooltip" title="Modifica articolo" 
		src="/assets/public/img/newspaper-img/ic_edit_article.png"
		class="img-mod-2">
			</a>
		</div>
	<h3 id="title-art-1col">{{articleOneColumn.article.title}}</h3>
	<div class="col-sm-12 thin-red-line "></div>
	<h5 id="subtitle-art" style= " margin-top: 7%;">{{articleOneColumn.article.subtitle}}</h5>
	<div class="row">
		<div class="col-sm-12 col-xs-12">
			<label class="text-container" style="cursor: pointer"
				ng-click="articleOneColumn.goToDraft()">
				 <span data-ng-if="articleOneColumn.article.city != ''" style= "font-family:serif;"> 
            {{articleOneColumn.article.city}} - </span>
				{{articleOneColumn.article.text}} </label>
		</div>
	</div>

</div>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>