 <!-- <label class="col-sm-6 arrow_box1 arrow_box1:after arrow_box1:before animated pulse"
				data-ng-if="articleTwoColumns.showWarningTitle">
				  Attento, hai scritto troppi caratteri. 
				  <a data-ng-click="articleTwoColumns.goToDraft()"> MODIFICA ORA </a> e attiva il conteggio 
				  caratteri nelle bozze.
				<br>
				<a data-ng-click="articleTwoColumns.closeWarning()" style="color:#cb654f;"> Chiudi </a></label> --> 

    <div class="row">
   
   <!-- icona art 1 -->
		<div class=" col-xs-4 col-sm-4 col-md-2 col-lg-2
		visible-xs visible-sm visible-md visible-lg 
					pull-right wow bounceInUp">
						<a style="cursor: pointer"
						ng-click = "articleTwoColumns.goToDraft()"
							> <img
							data-toggle="tooltip" title="Modifica articolo" 
							src="/assets/public/img/newspaper-img/ic_edit_article.png"
							class="img-mod-2">
						</a>
					</div>
   
     <div class="col-sm-10 col-md-10 col-xs-10">        
      <warning-characters data-ng-if="articleTwoColumns.showWarningTitle"
	stylebox = "bottom" 
	edit="articleTwoColumns.goToDraft()" 
	close="articleTwoColumns.closeWarning('title')"></warning-characters> 
    <h3 class="title-art-2col" ng-class="{'noMarginTop': articleTwoColumns.idTemplate == '2',
     'title-art-2col': articleTwoColumns.idTemplate == '1'}" style="margin-bottom:3%;" 
    ng-click="articleTwoColumns.goToDraft()"> 
    {{articleTwoColumns.article.title | limitTo:25}} </h3>
       </div>
       
       <!--<div class="col-sm-2">
            <img src="../article-2col/img/icon-modify.png" class="img">
           </div>-->
           
           </div>
        <div class="row">              
               
            <div class="col-sm-12 line-3" style= "z-index: 0;" data-ng-if="articleTwoColumns.idTemplate == '1'">        
                </div>         
                 
            </div>     
        <h5 id="subtitle-art"> {{articleTwoColumns.article.subtitle | limitTo:27}} </h5>
 
    <warning-characters data-ng-if="articleTwoColumns.showWarningSubtitle"
    stylebox = "up" 
	edit="articleTwoColumns.goToDraft()" 
	close="articleTwoColumns.closeWarning('subtitle')"></warning-characters>
    
 	
     <div class="col-sm-12 line-2">
            </div>       
         
         <div class="row"> 
       
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
    
           <label class ="testo" >
            <span data-ng-if="articleTwoColumns.article.city != ''" style= "font-family:serif;"> 
            {{articleTwoColumns.article.city}} - </span>
           {{articleTwoColumns.article.text.col1 | limitTo:682}}</label>
             <warning-characters data-ng-if="articleTwoColumns.showWarningTextCol1"
          stylebox = "up" style= "color: red;"
	edit="articleTwoColumns.goToDraft()" 
	close="articleTwoColumns.closeWarning('col1')"></warning-characters>
    </div>
        
    
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
           <label class ="testo"> {{articleTwoColumns.article.text.col2 | limitTo:682}} </label> 
            <warning-characters data-ng-if="articleTwoColumns.showWarningTextCol2"
            stylebox = "up"
	edit="articleTwoColumns.goToDraft()" 
	close="articleTwoColumns.closeWarning('col2')"></warning-characters>
    </div>
    
  
    
    </div>

    
  <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
    