<div>
	<h2>Associa gli studenti ai personaggi</h2>
	<h5>Trascina la scheda di uno studente sul personaggio che vuoi fargli interpretare</h5>
	
	<div class="col-md-6">
		<h3 class="text-center">Studenti</h3>
		<div class="container-fluid">
			<div class="row fluid col-md-6">
<!-- 				<div class="col-md-6" data-ng-show="!self.scenarioWizard.attendees || scenarioWizard.scenarioServer.attendees.length<=0">Non hai ancora invitato nessuno studente a partecipare</div> -->
				<div>
					<div ui-draggable="true" drag="a" ui-on-Drop="scenarioWizard.onDrop($event,$data, $index)"
					drag-channel="attendees" drop-channel="characters"
					on-drop-success="scenarioWizard.dropSuccessHandlerCharacter($event, $index, scenarioWizard.scenarioServer.attendees)"
					ng-repeat="a in scenarioWizard.notAssociatedAttendees track by $index">
						<div class="btn btn-info"><img data-ng-src="api/v1/users/{{a.id}}/cover" 
									data-err-src="assets/public/img/user_ico.png" class="img-circle imgPreviewL"> {{a.lastname}} {{a.firstname}} 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<h3 class="text-center">Personaggi</h3>
		<div class="container-fluid">
			<div class="row fluid col-md-6">
<!-- 				<div class="col-md-6 " data-ng-show="!self.scenarioWizard.characters || scenarioWizard.scenarioServer.characters.length<=0">Non hai ancora creato nessun personaggio per questo scenario</div> -->
				<div>
					<div ui-draggable="true" drag="c" ui-on-Drop="scenarioWizard.onDrop($event,$data, $index)"
					drag-channel="characters" drop-channel="attendees"
					on-drop-success="scenarioWizard.dropSuccessHandlerAttendee($event, $index, scenarioWizard.scenarioServer.characters)"
					ng-repeat="c in scenarioWizard.notAssociatedCharacters track by $index">
						<div class="btn btn-info"><img data-ng-src="api/v1/users/{{c.id}}/cover" 
									data-err-src="assets/public/img/user_ico.png" class="img-circle imgPreviewL"> {{c.name}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container form-inline" style="text-align: center;">
          <div class="btn btn-droppable" ng-repeat="item in list5" data-drop="true" ng-model='list5' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list5])'}"  jqyoui-droppable="{index: {{$index}}}">
            <div class="btn btn-info btn-draggable" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list5" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart: 'dragCallback($index)'}" ng-hide="!item.title">{{item.title}}</div>
          </div>
          
	<div class="row"></div>
	<div class="text-center">
		<h3>Associazioni</h3>
		<div class="row" data-ng-repeat="a in scenarioWizard.associations">
			<div class="col-xs-6 col-xs-offset-3">
				<div show-on-hover-parent style="display:none">
					<span class="col-md-1 glyphicon glyphicon-trash pull-right" data-ng-click="scenarioWizard.removeAssociation(a)"></span></div>
				<div class="btn btn-info">
					<img data-ng-src="api/v1/users/{{a.attendee.id}}/cover" 
									data-err-src="assets/public/img/user_ico.png" class="img-circle imgPreviewL"> {{a.attendee.lastname}} {{a.attendee.firstname}}
					<img data-ng-src="api/v1/users/{{a.character.id}}/cover" 
										data-err-src="assets/public/img/user_ico.png" class="img-circle imgPreviewL"> {{a.character.name}}
				</div>
			</div>
		</div>
	</div>
