<label>CERCA TRA I TUOI STUDENTI</label>
<form class="form-search">
	  <div class="inner-addon left-addon">
		  <i class="glyphicon glyphicon-user"></i>
		  <input type="search" ng-model="scenarioWizard.selectedUser" class="searchBar form-control input-medium search-query" placeholder="Cerca i tuoi studenti" 
		  typeahead="s as s.lastname+' '+s.firstname for s in scenarioWizard.selectableStudents | filter:$viewValue | limitTo:10" 
		  typeahead-min-length='2' 
		  typeahead-on-select='scenarioWizard.addAttendee(scenarioWizard.selectedUser)' 
		  typeahead-template-url="customTemplate.html" class="form-control">
	  </div>
</form>
<br>
<div class="container-fluid">
<div class="row">
	<label>OPPURE INSERISCI LE EMAIL DEGLI STUDENTI CHE VUOI INVITARE</label>
	<textarea data-ng-model="scenarioWizard.emailList" class="form-control" rows="3" placeholder="ES: studente1@email.it studente2@email.it ..."></textarea>
	
	<div class="pull-right">
	<button class="btn generalButton1" data-ng-click="scenarioWizard.inviteStudents()"><span class="glyphicon glyphicon-send"></span> INVITA</button>
	</div>
</div>
	<div class="row">
		<div class="col-md-4" data-ng-show="scenarioWizard.scenarioServer.attendees.length>0">
			<label>PARTECIPANTI</label>
			<div data-ng-repeat="s in scenarioWizard.scenarioServer.attendees" class="enlight">
				<a href="" data-ui-sref="logged.userProfile({id: '{{s.id}}'})">
					<img data-ng-src="api/v1/users/{{s.id}}/cover" 
					data-err-src="assets/public/img/ic_student.png" class="img-circle imgPreviewM"> {{s.lastname}} {{s.firstname}} 
				</a>
				<span show-on-hover-parent style="display:none" class="glyphicon glyphicon-trash marginMTop" 
				data-ng-click="scenarioWizard.deleteAttendee(s)"></span>
			</div>
		</div>
		<div class="col-md-4" data-ng-show="scenarioWizard.scenarioServer.invited.length>0">
			<label>STUDENTI INVITATI</label>
			<div data-ng-repeat="s in scenarioWizard.scenarioServer.invited" class="enlight">
					<img data-ng-src="api/v1/users/{{s.id}}/cover" 
						data-err-src="assets/public/img/ic_student.png" class="img-circle imgPreviewM marginMTop"> 
						<u>{{s.email}}</u>
						<span show-on-hover-parent style="display:none;" class="pickRow glyphicon glyphicon-trash" data-ng-click="scenarioWizard.deleteInvited(s)"></span></div>
			</div>
		</div>
	</div>
</div>
</div>
<a href="">
<img ng-src="assets/public/img/wizard/indietro.png" class="pull-left marginMTop wizButton" data-ui-sref="logged.scenarioWizard.info" >
</a>
<a href="">
<img ng-src="assets/public/img/wizard/avanti.png" class="pull-right marginMTop wizButton" data-ui-sref="logged.scenarioWizard.characters" >
</a>

<script type="text/ng-template" id="customTemplate.html">
  <a href="">
      <img data-ng-src="api/v1/users/{{match.model.id}}/cover" 
						data-err-src="assets/public/img/ic_student.png" class="img-circle imgPreviewM">
	  <b>{{match.model.lastname}} {{match.model.firstname}}</b>
  </a>
</script>