<div class="container-fluid">
	<div class="row">
		<label for="characterName">INSERISCI IL NOME DEL NUOVO PERSONAGGIO</label>
		<input type="text" id="characterName" class="form-control" placeholder="ES: GIULIO CESARE"
			data-ng-model="scenarioWizard.newCharacter.name">
		<div class="pull-right btn generalButton" data-ng-click="scenarioWizard.addCharacter()"><span class="glyphicon glyphicon-floppy-save"></span> CREA PERSONAGGIO</div>
	</div>
</div>
<br>
<div>
	<label>PERSONAGGI DELLO SCENARIO</label>
	<div class="row">
	<accordion close-others="true">
		<div data-ng-repeat="c in scenarioWizard.scenario.characters">
			<div class="col-md-6">
				<accordion-group is-open="c.isOpen" is-disabled="scenarioWizard.accordionIsDisabled">
					<accordion-heading>						
						<div data-ng-click="scenarioWizard.openAccordion($index)">
							<div class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': c.isOpen, 'glyphicon-chevron-right': !c.isOpen}"></div>	
							<img ng-src="{{c.cover}}" err-src="assets/public/img/ic_characters.png" class="img-circle imgPreviewM">
							<b>{{c.name}}</b>
						</div>	
					</accordion-heading>
								
					<div class="row">
						<label class="col-md-4">Nome</label>
						<input class="col-md-5 generalInput" data-ng-model="scenarioWizard.currentCharacters[$index].name">
						<div><a href=""><span class="glyphicon glyphicon-trash pull-right" data-ng-click="scenarioWizard.deleteCharacter(c)" style="margin-right: 15px;"></span></a></div>
					</div>
					<div class="row">
						<label class="col-md-4">Soprannome</label>
						<input class="col-md-5 generalInput" data-ng-model="scenarioWizard.currentCharacters[$index].nickname">
					</div>
					<div class="row">
						<label class="col-md-4">Biografia</label>
						<textarea data-ng-click="scenarioWizard.hideDatePicker()" class="col-md-5 generalInput" rows="3" data-ng-model="scenarioWizard.currentCharacters[$index].description" placeholder="Es. Giulio Cesare, è stato un militare, console, dittatore, oratore e scrittore romano, considerato uno dei personaggi più importanti e influenti della storia"></textarea>
						<img data-ng-src="{{c.cover}}"
						data-err-src="assets/public/img/ic_characters.png" class="pull-right img-thumbnail imgPreviewL" style="margin-right: 10px"> 
					</div>
					<div class="row">
						<label class="col-md-4">Data di nascita</label>
						<span  class="col-md-5  glyphicon glyphicon-calendar" data-ng-click="scenarioWizard.switchShowBornDate()">{{scenarioWizard.currentCharacters[$index].bornDate.formatted}}</span>
					</div>
					<div class="row" data-ng-show="scenarioWizard.showBornDatePicker">
						<historical-date-picker date="scenarioWizard.currentCharacters[$index].bornDate"></historical-date-picker>
					</div>
					<div class="row">
						<label class="col-md-4">Data di morte</label>
						<span  class="col-md-5  glyphicon glyphicon-calendar" data-ng-click="scenarioWizard.switchShowDeadDate()">{{scenarioWizard.currentCharacters[$index].deadDate.formatted}}</span>
					</div>
					<div class="row" data-ng-show="scenarioWizard.showDeadDatePicker">
						<historical-date-picker date="scenarioWizard.currentCharacters[$index].deadDate"></historical-date-picker>
					</div>
					<div class="row">
						<label class="col-md-4">Luogo di nascita</label>
						<input  data-ng-click="scenarioWizard.hideDatePicker()" class="col-md-5 generalInput" data-ng-model="scenarioWizard.currentCharacters[$index].bornTown">
					</div>
					<div class="row">
						<label class="col-md-4">Luogo di morte</label>
						<input  data-ng-click="scenarioWizard.hideDatePicker()" class="col-md-5 generalInput" data-ng-model="scenarioWizard.currentCharacters[$index].deadTown">
					</div>
					<div class="row">
						<label class="col-md-4">Genere</label>
						<input  data-ng-click="scenarioWizard.hideDatePicker()" class="col-md-5 generalInput" data-ng-model="scenarioWizard.currentCharacters[$index].gender">
					</div>
					<div class="row">
						<label class="col-md-4">Citazione</label>
						<input  data-ng-click="scenarioWizard.hideDatePicker()" class="col-md-5 generalInput" data-ng-model="scenarioWizard.currentCharacters[$index].quote">
					</div>
					<div class="row">
						<label class="col-md-4 ">Ruolo</label>
						<input data-ng-click="scenarioWizard.hideDatePicker()" class="col-md-5 generalInput" data-ng-model="scenarioWizard.currentCharacters[$index].role" placeholder="Es. Re - Papa">
					</div>
					<div class="row">
						<div class="pickRow col-md-9 uploadSpan btn generalButton btn-file"
						ngf-select ngf-change="scenarioWizard.uploadCharacterCover($files,$event,'{{c.id}}')">CAMBIA L'IMMAGINE DEL PERSONAGGIO</div>
					</div>
				</div>
			</div>
		</div>
	</accordion>
	</div>
</div>
<div class="btn positiveButton pull-left" data-ui-sref="logged.scenarioWizard.attendees"><span class="glyphicon glyphicon-arrow-left"></span> INDIETRO</div>
<div class="btn positiveButton pull-right" data-ng-click="scenarioWizard.checkOpenAccordion()" data-ui-sref="logged.scenarioWizard.associations">AVANTI <span class="glyphicon glyphicon-arrow-right"></span></div>
