<div class="container-fluid">	
	<div class="box boxGray textCenter row">
	
	<div class="col-md-3 col-sm-4 col-xs-6 marginMTop" data-ng-repeat="a in scenarioCharacters.associations">
		<div style="cursor:pointer" class="col-xs-12"><img data-ui-sref="logged.scenario.charprofile({idCharacter : '{{a.id}}' })" data-ng-src="{{a.cover}}"	data-err-src="assets/public/img/icon/pg.png"
			class="img-circle imgPreviewL"> 
		</div>
		
			<label style="cursor:pointer" class="sideMarginThree" data-ui-sref="logged.scenario.charprofile({idCharacter : '{{a.id}}' })">{{a.name}}</label>
	</div>
	</div>
</div>