
<aside></aside>
<section>
	  <div class="row text-center">
			<div class="col-sm-4">
				<img data-ng-src="{{characterProfile.cover}}" 
				data-err-src="assets/public/img/icon/pg.png"
				class="imgPreviewXL img-circle marginTwenty">
				<a href="">
					<div ng-show="characterProfile.character.quote==null && characterProfile.isOwner">
					<p ng-click="editQuote =! editQuote" ng-show="!editQuote">Inserisci la citazione del personaggio</p>	
					<textarea class="QuoteDescription" ng-show="editQuote" rows="3">{{characterProfile.character.quote}}</textarea>	
					<div class="btn generalButton" ng-click="editQuote =! editQuote" ng-show="editQuote">OK</div>
			
					</div>
				</a>
				<div class="marginMTop" ng-show="characterProfile.character.quote!=null">
					<span class="marginMTop charDescription" ng-show="!editQuote">
						{{characterProfile.character.quote}}					
					</span>
					<textarea ng-model="characterProfile.newQuote" class="QuoteDescription" ng-show="editQuote" rows="3">{{characterProfile.character.quote}}</textarea>	
					<div class="btn generalButton" ng-click="editQuote =! editQuote; characterProfile.updateChar()" ng-show="editQuote">OK</div>
					<p class="quoteChar"><i>- {{characterProfile.character.name}}</i></p>					
					<span class="glyphicon glyphicon-pencil" show-on-hover-parent style="display:none" ng-click="editQuote =! editQuote" ng-show="!editQuote && characterProfile.isOwner"></span>
				</div>
				
			</div>
			<div class="col-sm-8">
				<div class="row">
					<h1>{{characterProfile.character.name}}</h1>
					<p><span ng-show="!editRole">{{characterProfile.character.role}}</span>
					<span class="glyphicon glyphicon-pencil" show-on-hover-parent style="display:none" ng-click="editRole =! editRole" ng-show="!editRole && characterProfile.isOwner"></span>					
					<textarea type="text" class="lessWidth" ng-show="editRole" rows="1">{{characterProfile.character.role}}</textarea>
					<div class="pull-right btn generalButton" style="display:block" ng-click="editRole =! editRole; updateDescription()" ng-show="editRole">OK</div>
					</p>
				</div>
				<div class="box boxGray">
					<div class="highlightText">
						<i><span ng-if="characterProfile.character.bornDate!=null || characterProfile.character.bornTown!=null" class="glyphicon glyphicon-baby-formula" aria-hidden="true"></span>
						<span>{{characterProfile.character.bornTown}}</span>
						<span ng-if="characterProfile.character.bornTown!=null && characterProfile.character.bornDate!=null">, </span>
						<span>{{characterProfile.character.bornDate.day}} {{characterProfile.bornMonth}} {{characterProfile.character.bornDate.year}}</span>
						<span ng-if="(characterProfile.character.bornTown!=null || characterProfile.character.bornDate!=null)
						&& (characterProfile.character.deadDate!=null || characterProfile.character.deadTown!=null)"> - </span>
						<span>{{characterProfile.character.deadTown}}</span>
						<span ng-if="characterProfile.character.deadDate!=null && characterProfile.character.deadTown!=null">, </span>		
						<span>{{characterProfile.character.deadDate.day}} {{characterProfile.deadMonth}} {{characterProfile.character.deadDate.year}}</span>
						<span ng-if="characterProfile.character.deadDate!=null || characterProfile.character.deadTown!=null" class="glyphicon glyphicon-flash" aria-hidden="true"></span>
						</i>
					</div>
					<div class="charDescription marginMTop">
						<span ng-show="!editDescription">{{characterProfile.character.description}}</span>
						<span class="glyphicon glyphicon-pencil" show-on-hover-parent style="display:none" ng-click="editDescription =! editDescription" ng-show="!editDescription && characterProfile.isOwner"></span>
						<span ng-show="characterProfile.isOwner">
							<textarea class="QuoteDescription" rows="5" ng-show="editDescription">{{characterProfile.character.description}}</textarea>				
							<div class="pull-right btn generalButton" style="display:block" ng-click="editDescription =! editDescription; updateDescription()" ng-show="editDescription">OK</div>
							
						</span>
					</div>
					<div class="row marginMBottom marginMTop">
						<label class="marginMTop">Interpretato da: </label>
						<span ng-if="characterProfile.character.actualUser.id==null">
							<i>nessuno sta interpretando questo personaggio</i>
						</span>
						<span ng-if="characterProfile.character.actualUser.id!=null">
						<!-- <span ng-if="characterProfile.character.pastUserId!=null || characterProfile.character.actualUser.id!=null"> -->
							<img data-ng-src="api/v1/users/{{characterProfile.character.actualUser.id}}/cover" data-err-src="assets/public/img/ic_student.png" class="imgPreviewM img-circle">
							<!-- fare chiamata all'API -->
							<!-- 
							<span ng-repeat="u in characterProfile.character.pastUserId" class="col-sm-2 marginSBottom">
								<img data-ng-src="api/v1/users/{{u}}/cover" data-err-src="assets/public/img/ic_student.png" class="imgPreviewM img-circle">
							</span>
							 -->
						</span>
					</div>
				</div>
			</div>
				
			<!-- <div class="box" ng-show="characterProfile.character.quote!=null  && isOwner">			
				<blockquote>{{characterProfile.character.quote}}
					<footer>{{characterProfile.character.name}}</footer>
				</blockquote>
			</div>
			<div class="box" ng-show="!isOwner">	
				<div>					
				<blockquote ng-show="characterProfile.character.quote!=null && !editQuote">{{characterProfile.character.quote}}
				<span class="glyphicon glyphicon-pencil" show-on-hover-parent style="display:none" ng-click="editQuote =! editQuote" ng-show="!editQuote"></span>
					<footer>{{characterProfile.character.name}}</footer>					
				</blockquote>
				
				<blockquote ng-show="editQuote">
					<textarea class="QuoteDescription" ng-show="editQuote">{{characterProfile.character.quote}}</textarea>				
					
					<footer>{{characterProfile.character.name}}</footer>					
				</blockquote>
				<div class="btn generalButton" ng-click="editQuote =! editQuote" ng-show="editQuote">OK</div>
				
				</div>	 -->
				
				
		</div>
</section>
<aside></aside>
