<alertgeneric></alertgeneric>
<div class="container-fluid">
	<div class="row">
		<label for="characterName">INSERISCI IL NOME DEL NUOVO PERSONAGGIO</label>
		<div class="input-group col-sm-8">
	      <input type="search" id="characterName" class="form-control generalInput " 
	      placeholder="ES: GIULIO CESARE" data-ng-model="scenarioWizard.newCharacter.name">
	      <span class="input-group-btn">
	       	 <button class=" btn generalButton1" data-ng-click="scenarioWizard.addCharacter()" type="button"><span class="glyphicon glyphicon-sunglasses"></span> CREA</button>
	      </span>
	    </div>
	</div>
</div>
<br>
<div>
	<label>PERSONAGGI DELLO SCENARIO</label>
	<div class="row" style="position:relative;">
	<accordion close-others="true" style="position:relative;">
		<div data-ng-repeat="c in scenarioWizard.scenario.characters" style="position:relative;">
			<div class="col-sm-6" style="position:relative;">
				<accordion-group is-open="c.isOpen" is-disabled="scenarioWizard.accordionIsDisabled" style="position:relative;">
					<accordion-heading>						
						<div data-ng-click="scenarioWizard.openAccordion($index)">
							<div class="pull-right " data-ng-class="{'glyphicon glyphicon-chevron-right': !c.isOpen}"><button data-ng-if="c.isOpen" class="generalButton1 btn pull-right" style="margin-top:5px; font-family: 'Raleway', sans-serif;"><span class="glyphicon glyphicon-floppy-save"></span> SALVA</button></div>	
							<img ng-src="{{c.cover}}" err-src="assets/public/img/icon/pg.png" class="img-circle imgPreviewM">
							<b>{{c.name}}</b>
						</div>	
					</accordion-heading>
					
					<div class="row ">
						<div class="colPadding">
							<div class="squareImgStoryline" ngf-select ngf-change="scenarioWizard.uploadCharacterCover($files,$event,'{{c.id}}')"
							style="cursor:pointer; background-image:url('{{c.cover}}'),url('assets/public/img/icon/pg.png')">
								<div class="hoverContent text-center" ngf-select ngf-change="scenarioWizard.uploadCharacterCover($files,$event,'{{c.id}}')">
									<span class="glyphicon glyphicon-camera marginMTop iconHover"></span>
								</div>
							</div>
						</div>
						
						<div class="col-xs-8">
							<div class="row">
								<form role="form">
									 <div class="form-group">
									 	<label class="col-xs-12">Nome</label>
										<input class="generalInput col-xs-12"  data-ng-model="scenarioWizard.currentCharacters[$index].name">
									 </div>
									 <div class="form-group">
									 <label class="col-xs-12">Soprannome</label>
										<input class="generalInput col-xs-12" data-ng-model="scenarioWizard.currentCharacters[$index].nickname">
									</div>
								</form>
								
							</div>
						</div>						
					</div>

					<div class="row marginMTop">
						<label class="col-xs-4">Biografia</label>
						<textarea data-ng-click="scenarioWizard.hideDatePicker()" class="col-xs-8 generalInput" rows="3" data-ng-model="scenarioWizard.currentCharacters[$index].description" placeholder="Es. Giulio Cesare, è stato un militare, console, dittatore, oratore e scrittore romano, considerato uno dei personaggi più importanti e influenti della storia"></textarea>
						
					</div>
					
					<div class="row marginMTop">
						<label class="col-xs-4">Data di nascita</label>
						<div class="col-xs-8 "><span  class=" glyphicon glyphicon-calendar marginMRight" data-ng-click="scenarioWizard.switchShowBornDate()"></span><span>{{scenarioWizard.currentCharacters[$index].bornDate.formatted}}</span></div>
					</div>
					<div data-ng-show="scenarioWizard.showBornDatePicker" style="position:relative;">
						<historical-date-picker class="historicalPicker" date="scenarioWizard.currentCharacters[$index].bornDate"></historical-date-picker>
					</div>
					<div class="row">
						<label class="col-xs-4">Data di morte</label>
						<div class="col-xs-8 "><span  class="glyphicon glyphicon-calendar marginMRight" data-ng-click="scenarioWizard.switchShowDeadDate()"></span><span>{{scenarioWizard.currentCharacters[$index].deadDate.formatted}}</span></div>
					</div>
					<div data-ng-show="scenarioWizard.showDeadDatePicker" style="position:relative;">
						<historical-date-picker class="historicalPicker" date="scenarioWizard.currentCharacters[$index].deadDate"></historical-date-picker>
					</div>
					<div class="row">
						<label class="col-xs-4">Luogo di nascita</label>
						<input data-ng-click="scenarioWizard.hideDatePicker()" class="col-xs-8 generalInput" data-ng-model="scenarioWizard.currentCharacters[$index].bornTown">
					</div>
					<div class="row">
						<label class="col-xs-4">Luogo di morte</label>
						<input  data-ng-click="scenarioWizard.hideDatePicker()" class="col-xs-8 generalInput" data-ng-model="scenarioWizard.currentCharacters[$index].deadTown">
					</div>
					<div class="row">
						<label class="col-xs-4">Genere</label>
						<input  data-ng-click="scenarioWizard.hideDatePicker()" class="col-xs-8 generalInput" data-ng-model="scenarioWizard.currentCharacters[$index].gender">
					</div>
					<div class="row">
						<label class="col-xs-4">Citazione</label>
						<input  data-ng-click="scenarioWizard.hideDatePicker()" class="col-xs-8 generalInput" data-ng-model="scenarioWizard.currentCharacters[$index].quote">
					</div>
					<div class="row">
						<label class="col-xs-4 ">Ruolo</label>
						<input data-ng-click="scenarioWizard.hideDatePicker()" class="col-xs-8 generalInput" data-ng-model="scenarioWizard.currentCharacters[$index].role" placeholder="Es. Re - Papa">
					</div>
					<div class="row text-center">						
						<div class="pickRow uploadSpan btn warningButton btn-file pull-right marginEmS marginMRight"
						 data-ng-click="scenarioWizard.showPopUpDeleteCharacter(c) "> 
							<span class="glyphicon glyphicon-trash "></span>
							ELIMINA 
						</div>
					</div>
				</div>
			</div>
		</div>
	</accordion>
	</div>
</div>
<a href="">
<img ng-src="assets/public/img/wizard/indietro.png" class="pull-left marginMTop wizButton" data-ui-sref="logged.scenarioWizard.attendees" data-ng-click="scenarioWizard.checkOpenAccordion()">
</a>
<a href="">
<img ng-src="assets/public/img/wizard/avanti.png" class="pull-right marginMTop wizButton" data-ui-sref="logged.scenarioWizard.associations" data-ng-click="scenarioWizard.checkOpenAccordion()">
</a>
