<label>AGGIUNGI I COLLABORATORI</label>
<form class="form-search">
	 <div class="inner-addon left-addon">
		<i class="glyphicon glyphicon-user"></i>
	  	<input type="search" ng-model="scenarioWizard.selectedCollaborator" class="form-control input-medium search-query" placeholder="NOME COGNOME" 
	  		typeahead="t as t.lastname+' '+t.firstname for t in scenarioWizard.getPagedTeacherByRegex($viewValue) " 
	  		typeahead-min-length='2' 
	  		typeahead-on-select='scenarioWizard.addCollaborator(scenarioWizard.selectedCollaborator)'  
	  	typeahead-template-url="customTemplate.html" class="form-control" style="width:350px;">
	 </div>
</form>
<br>
<div class="container-fluid">
	<div class="row fluid">
		<div class="col-md-3" data-ng-show="scenarioWizard.scenarioServer.collaborators.length>0">
			<h3>Moderatori dello scenario</h3>
			<div data-ng-repeat="c in scenarioWizard.scenarioServer.collaborators">
				<div  show-on-hover-parent style="display:none"><span class="col-md-1 glyphicon glyphicon-trash pull-right" data-ng-click="scenarioWizard.deleteCollaborator(c)"></span></div>
				<img data-ng-src="api/v1/users/{{c.id}}/cover" 
						data-err-src="assets/public/img/user_ico.png" class="img-circle imgPreviewL"> {{c.lastname}} {{c.firstname}} 
			</div>
		</div>
	</div>
</div>

<br>
<div class="btn positiveButton pull-left" data-ui-sref="logged.scenarioWizard.associations"><span class="glyphicon glyphicon-arrow-left"></span> INDIETRO</div>

<script type="text/ng-template" id="customTemplate.html">
  <a href="">
      <img data-ng-src="api/v1/users/{{match.model.id}}/cover" 
						data-err-src="assets/public/img/user_ico.png" class="img-circle imgPreviewM">
	  <b>{{match.model.lastname}} {{match.model.firstname}}</b>
  </a>
</script>