<h3>Aggiungi collaboratore</h3>
<form class="form-search">
	 <div class="inner-addon left-addon">
		<i class="glyphicon glyphicon-user"></i>
	  	<input type="search" ng-model="scenarioWizard.selectedCollaborator" class="input-medium search-query" placeholder="Nome Cognome" 
	  		typeahead="s as s.firstname for s in scenarioWizard.selectableCollaborators | filter:$viewValue | limitTo:10" 
	  		typeahead-min-length='1' 
	  		typeahead-on-select='scenarioWizard.addCollaborator(scenarioWizard.selectedCollaborator)'  
	  	typeahead-template-url="customTemplate.html" class="form-control" style="width:350px;">
	 </div>
</form>
<br>
<div class="container-fluid">
	<div class="row fluid">
		<div class="col-md-3" data-ng-show="scenarioWizard.scenarioServer.collaborators.length>0">
			<h3>Moderatori dello scenario</h3>
			<div data-ng-repeat="c in scenarioWizard.scenarioServer.collaborators">
				<div  show-on-hover-parent style="display:none"><span class="col-md-1 glyphicon glyphicon-trash pull-right" data-ng-click="scenarioWizard.deleteCollaborator(c)"></span></div>
				<img data-ng-src="api/v1/users/{{c.id}}/cover" 
						data-err-src="assets/public/img/user_ico.png" class="img-circle imgPreviewL"> {{c.lastname}} {{c.firstname}} 
			</div>
		</div>
	</div>
</div>

<br>
<div class="btn btn-primary pull-left" data-ui-sref="logged.scenarioWizard.associations">Indietro</div>

<script type="text/ng-template" id="customTemplate.html">
  <a href="">
      <img data-ng-src="api/v1/users/{{match.model.id}}/cover" 
						data-err-src="assets/public/img/user_ico.png" class="img-circle imgPreviewM">
	  <b>{{match.model.lastname}} {{match.model.firstname}}</b>
  </a>
</script>