<div data-ng-if="commentTo.showViewOthers" 
	data-ng-click="commentTo.openViewOthers()"
	class="marginSTop text-left">
	<a class="clickable">Visualizza altri commenti</a>
</div>
<div class="marginSTop">
	<div data-ng-repeat="c in commentTo.visibleComments" class="textLeft col-xs-12 noPadding">	
			<img class="pull-left img imgPreviewM marginMRight"
				data-ng-src="api/v1/scenarios/{{commentTo.scenarioId}}/characters/{{c.character.id}}/cover"
				data-err-src="assets/public/img/icon/pg.png"></img>
	
		<div class="row">
					<label>{{c.character.firstname}}</label>: {{c.text}}
					<p style="font-size: 12px;"><span class="glyphicon glyphicon-user marginSRight"></span>
					{{c.user.firstname}}
					{{c.user.lastname}}  {{c.creationDate| date:'dd-M-yyyy HH:mm'}}</p>
		</div>
	</div>
</div>
<div data-ng-show="commentTo.showInsert">
	<img class="pull-left img imgPreviewM marginMTop marginMRight"
		data-ng-src="api/v1/scenarios/{{commentTo.scenarioId}}/characters/{{commentTo.currentCharacter.id}}/cover"
		data-err-src="assets/public/img/icon/pg.png"></img>
	<div class="row">
		<textarea data-ng-model="commentTo.post.newComment" rows="2"
			class="pull-left col-xs-10 marginMTop"
			placeholder="Inserisci un commento"></textarea>
		<div class="text-right marginLRight">
			<div class="btn generalButton btn-sm"
				data-ng-click="commentTo.addCommentToPost()">COMMENTA</div>
		</div>
	</div>
</div>
