<div class="modal-header">
	<h4 class="modal-title">ATTENZIONE</h4>
</div>
<div class="modal-body">
	<label>Mentre stavi lavorando a questo post, qualcun'altro lo ha modificato.</label>
	<label>Le tue modifiche sovrascriveranno quelle precedenti.</label>
	<br>
	<label>Sei sicuro di voler continuare?</label>
</div>
<div class="modal-footer">
	<button class="btn warningButton" data-ng-click="$close()">CONTINUA</button>
	<button class="btn generalButton1" data-ng-click="$dismiss()">ANNULLA OPERAZIONE</button>
</div>

