<div class="modal-header">
	<h3 class="modal-title">Crea un nuovo compito</h3>
</div>
<div class="modal-body">
	<form role="form">
		<label>TITOLO</label>
		<input id="title" type="text" class="form-control" placeholder="SCEGLI UN TITOLO"
				data-ng-model="dialogHomework.homework.title"/>
		<!-- Mettere la scelta dello scenario visibile solo se chiamo la modal da fuori dello scenario-->
		<label>DESCRIZIONE</label>
		<input id="title" type="text" class="form-control" placeholder="SCEGLI UN ALUNNO"
				data-ng-model="dialogHomework.homework.title"/>
	</form>
	
</div>
<div class="modal-footer">
	<button class="positiveButton btn" data-ng-click="dialogScenario.createScenario()"><span class="glyphicon glyphicon-floppy-save"></span> CREA</button>
	<button class="warningButton btn" data-ng-click="$dismiss()">ANNULLA</button>
	
</div>