<div class="modal-header">
	<h3 class="modal-title">Crea un nuovo scenario</h3>
</div>
<div class="modal-body">
	<label for="title">TITOLO</label>
	<input id="title" type="text" class="form-control" placeholder="SCEGLI UN TITOLO"
				data-ng-model="createScenario.scenario.title"/>
	<label for="startDate">DATA INIZIO</label>
	<input id="startDate" type="text" data-ng-model="createScenario.scenario.startDate" class="form-control" placeholder="yyyy-MM-dd"/>
	<label for="endDate">DATA FINE</label>
	<input id="endDate" type="text" class="form-control" placeholder="yyyy-MM-dd"
				data-ng-model="createScenario.scenario.endDate"/>
	<alertgeneric></alertgeneric>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" data-ng-click="createScenario.createScenario()">CREA</button>
	<button class="btn btn-warning" data-ng-click="$dismiss()">ANNULLA</button>
	
</div>

