<div class="modal-header">
	<h3 class="modal-title"> Nome del giornale dello scenario </h3>
</div>

<div class="modal-body">
<div class = "row">
<div class= "col-sm-12">
<label>Scegli un nome provvisorio per il giornale, potrai cambiarlo quando vorrai </label>

</div>


</div>

	<div class="row">
		<div class="col-sm-3">
			<label> <strong> Nome della testata: </label>
		</div>
		<div class="col-sm-9">
      		
			<textarea id="modal-title" rows="1" data-ng-model="dialogHeadline.headline" 
			placeholder="Nome del giornale"> </textarea>
			
		</div>
	</div>
	<alertgeneric></alertgeneric>
</div>



<div class="modal-footer">

	<button ng-disabled="dialogHeadline.invalidTitle" class="positiveButton btn" 
	data-ng-click="dialogHeadline.setHeadline()"><span class="glyphicon glyphicon-floppy-save"></span>SALVA</button>
	<button class="warningButton btn" data-ng-click="dialogHeadline.closeDialog()">ANNULLA</button>
	
</div>