<div class="box row"
	style="width: 250px; border: 1px; margin-right: 1%; border-color: #FFF">
	<!-- border-color:#5B5955" -->

	<table>
		<tr>
			<td colspan="7" align=center><b><i style="margin-left: 10px; margin-right: 20px;" data-ng-click="vm.prevMonth()"
			class="fa fa-arrow-circle-o-left"></i>
		{{vm.getMonthString(vm.currentMonthDate.month)}} {{vm.currentMonthDate.year}} {{vm.currentMonthDate.era}}
		<a data-ng-click="vm.nextMonth()" href=""><i style="margin-left: 20px; margin-right: 10px;"class="fa fa-arrow-circle-o-right"></i></a></b></td>
		</tr>

		<tr>
			<td colspan="7" align=center></td>
		</tr>

		<tr>
			<td align=center>{{vm.getDayOfWeekString(0)}}</td>
			<td align=center>{{vm.getDayOfWeekString(1)}}</td>
			<td align=center>{{vm.getDayOfWeekString(2)}}</td>
			<td align=center>{{vm.getDayOfWeekString(3)}}</td>
			<td align=center>{{vm.getDayOfWeekString(4)}}</td>
			<td align=center>{{vm.getDayOfWeekString(5)}}</td>
			<td align=center>{{vm.getDayOfWeekString(6)}}</td>
		</tr>
		
		<tr data-ng-repeat="row in vm.days track by $index">
			<td data-ng-repeat="col in row track by $index">{{col}}</td>
		</tr>
				
	</table>



</div>