<meta charset="UTF-8">
<div class="container-fluid mainContent">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<div class="row">
			
				<!-- APPUNTI LG/MD -->		
				<div class="col-md-3 doubleRow box boxGreen hidden-xs hidden-sm visible-md visible-lg hideOverflow">
					<h3 data-ui-sref="logged.dashboard.draft" style="margin-bottom:10px; cursor:pointer">Bozze</h3>						
					<p data-ng-hide="dashboard.myDraft || dashboard.myDraft.length==0">Qui saranno inserite le tue bozze</p>
					<div class="col-md-12" data-ng-repeat="d in dashboard.myDraft">
						<div style="cursor:pointer;" class="boxFakeDraft" data-ui-sref="logged.dashboard.draft.edit({postId : '{{d.id}}' })">
							<div class="row">
								<div data-ng-show="d.character" class="col-md-3">
									<img style="margin-left: 10px;" title="{{d.character.name}}" data-ng-src="{{d.character.cover}}" 
										data-err-src="assets/public/img/icon/pg.png" class="img-circle imgPreviewM">	
								</div>
								<div data-ng-hide="d.character" class="col-md-3">
									<img style="margin-left: 10px;" data-ng-src="assets/public/img/narr.png" class="imgPreviewM">
								</div>
								<div class="col-md-offset-1 col-md-8 text-left">
									<div class="row">
										<span style="font-size: 1.2em;" data-ng-show="d.character"><b>{{d.character.name}}</b></span>
										<span style="font-size: 1.2em;" data-ng-hide="d.character"><b>NARRATORE</b></span>
									</div>
									<div class="row">
										<span>{{d.scenarioName}}</span>
									</div>
								</div>
							</div>
							<div class="row text-left">
								<div class="col-md-offset-1 col-md-10" style="font-size: 0.9em;">
								{{d.text | limitTo : 57}}<span data-ng-show="d.text.length>57">...</span>
									<div class="row" data-ng-show="d.text.length<30"><br></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- SCENARIO LG/MD/SM -->				
				<div class="col-md-9 col-sm-12 singleRow box boxRed hidden-xs visible-sm visible-md visible-lg hideOverflow">
					<h1 data-ui-sref="logged.dashboard.scenariosList">
						<a href=""><img data-ng-src="assets/public/img/titoli_dashboard/scenari.png" class="title"></a>
						<a href=""><img data-ng-src="assets/public/img/titoli_dashboard/ic_scen.png" class="titleIcon"></a>
					</h1>					
					<div class="row marginMTop">						
						<div class="col-sm-2"
							data-ng-repeat="s in dashboard.scenariosToShow ">
							<div data-ng-switch data-on="s.isOpen">
								<div data-ui-sref="logged.scenario.posts({id : '{{s.id}}' })" data-ng-switch-when=true>							
									<a href="">
										<img data-ng-src="api/v1/scenarios/{{s.id}}/cover"
											data-err-src="assets/public/img/icon/ic_scen.png"
											class="img-circle imgPreviewL"/> 
										<h5>{{s.name | limitTo:15}}<span data-ng-if="s.name.length>15">...</span></h5>
											
									</a>
								</div>																					
							</div>
						</div>
						<div class="col-sm-2" data-ng-if="dashboard.user.openScenarios.length > dashboard.numScenariosToShow">
							<a data-ui-sref="logged.dashboard.scenariosList">
								<img data-ng-src="assets/public/img/icon/view_more.png"								
										class="scenDashIcon">		
								<h5>Vedi altri</h5>
							</a>
						</div>
					</div>
				</div>
				
				<!-- SCENARIO XS - 2 or less scenarios-->				
				<div data-ng-show="dashboard.scenariosToShow.length<3" class="col-xs-12 singleRow box boxRed visible-xs hidden-sm hidden-md hidden-lg hideOverflow">
					<h1 data-ui-sref="logged.dashboard.scenariosList">
						<a href=""><img data-ng-src="assets/public/img/titoli_dashboard/scenari.png" class="title"></a>
						<a href=""><img data-ng-src="assets/public/img/titoli_dashboard/ic_scen.png" class="titleIcon"></a>
					</h1>					
					<div class="row marginMTop">						
						<div data-ng-if="dashboard.scenariosToShow.length>0">							
							<div  class="col-xs-6"
							data-ng-repeat="s in dashboard.scenariosToShow ">
								<div data-ng-switch data-on="s.isOpen">
									<div data-ui-sref="logged.scenario.posts({id : '{{s.id}}' })" data-ng-switch-when=true>							
										<a href="">
											<img data-ng-src="api/v1/scenarios/{{s.id}}/cover"
												data-err-src="assets/public/img/icon/ic_scen.png"
												class="img-circle imgPreviewL"/> 
											<h5>{{s.name | limitTo:15}}<span data-ng-if="s.name.length>15">...</span></h5>
										</a>
									</div>																				
								</div>
							</div>
						</div>		
					</div>
				</div>
				
				<!-- SCENARIO XS - 3 or more scenarios-->				
				<div data-ng-show="dashboard.scenariosToShow.length>2" class="col-xs-12 doubleRow box boxRed visible-xs hidden-sm hidden-md hidden-lg hideOverflow">
					<h1 data-ui-sref="logged.dashboard.scenariosList">
						<a href=""><img data-ng-src="assets/public/img/titoli_dashboard/scenari.png" class="title"></a>
						<a href=""><img data-ng-src="assets/public/img/titoli_dashboard/ic_scen.png" class="titleIcon"></a>
					</h1>					
					<div class="row marginMTop">						
						<div data-ng-if="dashboard.scenariosToShow.length>0">							
							<div  class="col-xs-6"
							data-ng-repeat="s in dashboard.scenariosToShow">
								<div data-ng-switch data-on="s.isOpen">
									<div data-ui-sref="logged.scenario.posts({id : '{{s.id}}' })" data-ng-switch-when=true>							
										<a href="">
											<img data-ng-src="api/v1/scenarios/{{s.id}}/cover"
												data-err-src="assets/public/img/icon/ic_scen.png"
												class="img-circle imgPreviewL"/> 
											<h5>{{s.name | limitTo:15}}<span data-ng-if="s.name.length>15">...</span></h5>
										</a>
									</div>																		
								</div>
							</div>
						</div>		
						<div class="col-xs-6" data-ng-if="dashboard.user.openScenarios.length > dashboard.numScenariosToShow">
							<a data-ui-sref="logged.dashboard.scenariosList">
								<img data-ng-src="assets/public/img/icon/view_more.png"								
										class="scenDashIcon">		
								<h5>Vedi altri</h5>
							</a>
						</div>
					</div>
				</div>
				
					<!-- APPUNTI SM -->
				<div class="col-sm-12 singleRow box boxGreen hidden-xs visible-sm hidden-md hidden-lg hideOverflow">
					<h3 data-ui-sref="logged.dashboard.draft" style="margin-bottom:10px; cursor:pointer">Bozze</h3>						
					<p data-ng-hide="dashboard.myDraft || dashboard.myDraft.length==0">Qui saranno inserite le tue bozze</p>
					<div class="row">
						<div class="col-sm-4" data-ng-repeat="d in dashboard.myDraft | limitTo: 3">
							<div style="cursor:pointer;" class="boxFakeDraft" data-ui-sref="logged.dashboard.draft.edit({postId : '{{d.id}}' })">
								<div class="row">
									<img title="{{d.character.name}}" data-ng-src="{{d.character.cover}}" 
										data-err-src="assets/public/img/icon/pg.png" class="img-circle imgPreviewM">	
								</div>
								<div class="row">
									<span style="font-size: 1.2em;" data-ng-show="d.character"><b>{{d.character.name}}</b></span>
									<span style="font-size: 1.2em;" data-ng-hide="d.character"><b>NARRATORE</b></span>
								</div>	
								<div class="row">
									<span>{{d.scenarioName}}</span>
								</div>
								<hr>
								<div class="row" style="font-size: 0.9em;">
									{{d.text | limitTo : 57}}<span data-ng-show="d.text.length>57">...</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- APPUNTI XS -->
				<div class="col-xs-12 doubleRow box boxGreen visible-xs hidden-sm hidden-md hidden-lg hideOverflow">
					<h3 data-ui-sref="logged.dashboard.draft" style="margin-bottom:10px; cursor:pointer">Bozze</h3>						
					<p data-ng-hide="dashboard.myDraft || dashboard.myDraft.length==0">Qui saranno inserite le tue bozze</p>
					<div class="col-xs-12" data-ng-repeat="d in dashboard.myDraft">
						<div style="cursor:pointer;" class="boxFakeDraft" data-ui-sref="logged.dashboard.draft.edit({postId : '{{d.id}}' })">
							<div class="row">
								<div data-ng-show="d.character" class="col-xs-3">
									<img style="margin-left: 10px;" title="{{d.character.name}}" data-ng-src="{{d.character.cover}}" 
										data-err-src="assets/public/img/icon/pg.png" class="img-circle imgPreviewM">	
								</div>
								<div data-ng-hide="d.character" class="col-xs-3">
									<img style="margin-left: 10px;" data-ng-src="assets/public/img/narr.png" class="imgPreviewM">
								</div>
								<div class="col-xs-offset-1 col-xs-8 text-left">
									<div class="row">
										<span style="font-size: 1.2em;" data-ng-show="d.character"><b>{{d.character.name}}</b></span>
										<span style="font-size: 1.2em;" data-ng-hide="d.character"><b>NARRATORE</b></span>
									</div>
									<div class="row">
										<span>{{d.scenarioName}}</span>
									</div>
								</div>
							</div>
							<div class="row text-left">
								<div class="col-xs-offset-1 col-xs-10" style="font-size: 0.9em;">
									{{d.text | limitTo : 57}}<span data-ng-show="d.text.length>57">...</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- PERSONAGGI -->
				<div class="col-md-3 col-sm-4 singleRow box boxYellow hideOverflow">
					<h3>Personaggi</h3>
					<div data-ng-if="dashboard.myCharacters==null || dashboard.myCharacters.length==0">
						Qui verranno inseriti i propri personaggi
					</div>
					<div class="row">
						<div class="col-xs-4 marginMTop" data-ng-repeat="c in dashboard.myCharacters | limitTo:6">
							<a data-ui-sref="logged.scenario.charprofile({id: '{{c.scenarioId}}', idCharacter: '{{c.id}}'})" class="marginMTop">
									<img title="{{c.name}}" 
									data-ng-src="{{c.cover}}"
									data-err-src="assets/public/img/icon/pg.png"
									class="img-circle imgPreviewM">
							</a>
						</div>
						<div data-ui-sref="logged.userProfile({id : '{{dashboard.loggedUser.id}}'})" style="cursor:pointer;" class="row" data-ng-if="dashboard.myCharacters.length>6">
							<img src="assets/public/img/icon/view_more_vert.png" class="scenDashIcon2">
							<div class="hidden-xs visible-sm visible-md visible-lg ">Vedi altri</div>
						</div>
					</div>
				</div>
				
				<!-- COMPITI MD/LG-->
				<div class="col-md-6 col-sm-8 hidden-xs hidden-sm visible-md visible-lg singleRow box boxLightblue">
					<h3 data-ui-sref="logged.dashboard.missionsList" style="cursor:pointer;">
						Compiti
						<img data-ng-src="assets/public/img/titoli_dashboard/ic_hw.png" class="titleIconSmall">					
					</h3>
					<div class="row" data-ng-repeat="m in dashboard.myMissions | limitTo: 3">
						<div class="col-sm-2 col-xs-2">
							<div style="cursor:pointer;" data-ui-sref="logged.scenario.missions({id : '{{m.scenarioId}}'})" class='square-box'>
    							<div class='square-content'>
    								<div><span>{{m.assignDate | date : dashboard.missionDateFormatDay}}<br>{{m.assignDate | date : dashboard.missionDateFormatMonth}}</span></div>
    							</div>
    						</div>
						</div>
						<div class="col-xs-10 col-sm-10 text-left">
							<h4 data-ui-sref="logged.scenario.missions({id : '{{m.scenarioId}}'})">
								<a href="" style="color:#232323;">
									<span data-ng-show="m.title">{{m.title | limitTo: 40}}<span data-ng-show="m.title.length>40">...</span></span>
									<span data-ng-hide="m.title">{{m.description | limitTo: 40}}<span data-ng-show="m.description.length>40">...</span></span>
								</a>
							</h4>
							<p >
								<i data-ui-sref="logged.scenario.posts({id : '{{m.scenarioId}}'})"><a class="blueLink" href="">{{m.scenarioName}}</a></i>
								<span data-ng-show="m.characterName"> - 
									<span data-ui-sref="logged.scenario.charprofile({id : '{{m.scenarioId}}', idCharacter : '{{m.characterId}}'})"><a class="blueLink" href="">{{m.characterName}}</a></span>
								</span>
							</p>
						</div>
					</div>
				</div>
				
				<!-- COMPITI SM/XS-->
				<div class="col-md-6 col-sm-8 visible-xs visible-sm hidden-md hidden-lg singleRow box boxLightblue">
					<h3 data-ui-sref="logged.dashboard.missionsList" style="cursor:pointer;">
						Compiti
						<img data-ng-src="assets/public/img/titoli_dashboard/ic_hw.png" class="titleIconSmall">					
					</h3>
					<div class="row" data-ng-repeat="m in dashboard.myMissions | limitTo: 2">
						<div class="col-sm-2 col-xs-2">
							<div style="cursor:pointer;" data-ui-sref="logged.scenario.missions({id : '{{m.scenarioId}}'})" class='square-box'>
    							<div class='square-content'>
    								<div><span>{{m.assignDate | date : dashboard.missionDateFormatDay}}<br>{{m.assignDate | date : dashboard.missionDateFormatMonth}}</span></div>
    							</div>
    						</div>
						</div>
						<div class="col-xs-10 col-sm-10 text-left">
							<h4 data-ui-sref="logged.scenario.missions({id : '{{m.scenarioId}}'})">
								<a href="" style="color:#232323;">
									<span data-ng-show="m.title">{{m.title | limitTo: 50}}<span data-ng-show="m.title.length>50">...</span></span>
									<span data-ng-hide="m.title">{{m.description | limitTo: 50}}<span data-ng-show="m.description.length>40">...</span></span>
								</a>
							</h4>
							<p>
								<i data-ui-sref="logged.scenario.posts({id : '{{m.scenarioId}}'})"><a class="blueLink" href="">{{m.scenarioName}}</a></i>
								<span data-ng-show="m.characterName"> - 
									<span data-ui-sref="logged.scenario.charprofile({id : '{{m.scenarioId}}', idCharacter : '{{m.characterId}}'})"><a class="blueLink" href="">{{m.characterName}}</a></span>
								</span>
							</p>
						</div>
					</div>
				</div>
				
			</div>
			
			
			
			<div class="row">
			
				<!-- PREMI -->
				<div class="col-md-6 col-sm-12 singleRow box boxLightgreen">
					<h3>Premi</h3>						
					<p>Questa sezione non è ancora attiva</p>
					<img data-ng-src="assets/public/img/icon/wip4.png" class="img fileIcon">
				</div>
				
				<!-- COMPAGNI -->
				<div class="col-md-3 col-sm-6 singleRow box boxBlue">
					<h3>Compagni</h3>
						<div ng-if="dashboard.user.friends==null">
						Qui verranno inseriti i propri compagni
						
					</div>
					<div class="row">
						<div class="col-xs-4 marginMTop" data-ng-repeat="a in dashboard.user.friends | limitTo:6">
							<a data-ui-sref="logged.userProfile({id: '{{a.id}}'})" class="marginMTop">
									<img title="{{a.firstname}} {{a.lastname}}" 
									data-ng-src="api/v1/users/{{a.id}}/cover"
									data-err-src="assets/public/img/ic_student.png"
									class="img-circle imgPreviewM">
							</a>
						</div>
					</div>
					<div class="row" ng-if="dashboard.user.friends.length>6">
						<img src="assets/public/img/icon/view_more_vert.png"class="scenDashIcon2" data-ui-sref="logged.dashboard.studentsList">
						<span data-ui-sref="logged.dashboard.studentsList">Vedi altri</span>
					</div>
				</div>
				
				<!-- INSEGNANTI -->
				<div class="col-md-3 col-sm-6 singleRow box boxBrown">
					<h3>Insegnanti</h3>
					<div ng-if="dashboard.user.teachers==null">
						Qui verranno inseriti i propri insegnanti
					</div>
					<div class="row">				
						<div data-ng-repeat="c in dashboard.user.teachers | limitTo:6" class="marginMTop col-xs-4">
							<!--  data-ui-sref="logged.userProfile({id: '{{c.id}}'})"-->
							<a class="marginMTop">
									<img title="{{c.firstname}} {{c.lastname}}" 
									data-ng-src="api/v1/users/{{c.id}}/cover"
									data-err-src="assets/public/img/ic_teacher.png"
									class="img-circle imgPreviewM"
									data-ng-click="dashboard.openCollCard(c.id,$index)">
									<user-card tabindex="{{dashboard.tab[$index]}}" userid="{{c.id}}" ng-show="dashboard.showCollCard[$index]" data-ng-blur="dashboard.openCollCard(c.id,$index)"></user-card>							
							</a>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>