<meta charset="UTF-8">
<div class="container-fluid mainContent">
	<!-- Added test commit -->
	<div class="row-fluid">
		<div class="col-lg-1"></div>
		<div class="col-sm-12 col-lg-10">
			<div class="row-fluid">
				<div
					class="col-md-3 doubleRow box boxGreen hidden-xs hidden-sm visible-md visible-lg">
					<h1>
					<img ng-src="assets/public/img/titoli_dashboard/compiti.png" class="title">
					<img ng-src="assets/public/img/titoli_dashboard/ic_hw.png" class="titleIcon">
					</h1>
					<div ng-repeat="m in dashboard.myMissions">
						<div class="col-xs-12">{{m.title}}</div>
					</div>
					
					<p ng-if="dashboard.missionList==null">Qui verranno inseriti i propri compiti</p>
					<div class="row">
						<div class="col-xs-4">
							<div class="wrapperDivSquared">
								<div class="wrapperContent">
									<p class="dayHW">26</p>
									<p class="dayNameHW">MAR</p>
								</div>					
							</div>
						</div>
						<div class="col-xs-8 text-left">
							<h4>L'incontro tra Belle, Lumière e Tockins</h4>
							<p>
								<i>La Bella e la Bestia</i></p>
							<p>	<b>Studente:</b> Antonio Maggiora
							</p>
						</div>
					</div>
				</div>
				<div
					class="col-sm-12 singleRow box boxGreen visible-xs visible-sm hidden-md hidden-lg">
					<h1>
						<img ng-src="assets/public/img/titoli_dashboard/compiti.png" class="title">
						<img ng-src="assets/public/img/titoli_dashboard/ic_hw.png" class="titleIcon">
					</h1>
					
					
				</div>
				<div class="col-md-9 singleRow box boxRed hidden-xs visible-sm visible-md visible-lg">
					<h1 data-ui-sref="logged.dashboard.scenariosList">
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/scenari.png" class="title"></a>
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/ic_scen.png" class="titleIcon"></a>
					</h1>
					<div class="row marginMTop">
						<a href="">
							<div class="col-sm-2" data-ng-click="dashboard.showPopUpCreationScenario()">
								<!--	ng-click="dashboard.showPopUpCreationScenario()" -->
								
									<img href="" src="assets/public/img/icon/nuovo scenario.png"
										class="img scenDashIcon">								
									<h4>Crea scenario</h4>
							</div>
						</a>
						<div ng-if="dashboard.scenariosToShow.length>0">
							
							<div  class="col-sm-2"
							data-ng-repeat="s in dashboard.scenariosToShow ">
								<div ng-switch on="s.isOpen">
									
									
									<div data-ui-sref="logged.scenario.posts({id : '{{s.id}}' })" ng-switch-when=true>
										
										
										<a href="">
											<h5>{{s.name | limitTo:15}} <span ng-if="s.name.length>15">...</span></h5>
											<img data-ng-src="api/v1/scenarios/{{s.id}}/cover"
												data-err-src="assets/public/img/icon/ic_scen.png"
												class="img-circle imgPreviewL"/> 
										</a>
									</div>
									
									
									
									<div data-ui-sref="logged.scenarioWizard.info({id : '{{s.id}}' })" ng-switch-when=false>

										<a href="">
											<h5><span class="glyphicon glyphicon-cog"></span> {{s.name | limitTo:15}} <span ng-if="s.name.length>15">...</span></h5>
											<img data-ng-src="api/v1/scenarios/{{s.id}}/cover"
												data-err-src="assets/public/img/icon/ic_scen.png"
												class="img-circle imgPreviewL"/> 
										</a>
										
									</div>
									

								</div>
								
							</div>
						</div>						
						
										
						<div class="col-sm-2" ng-if="dashboard.user.creatingScenarios.length+dashboard.user.openScenarios.length+dashboard.user.closedScenarios > dashboard.numScenariosToShow">
							<a ui-sref="logged.dashboard.scenariosList">
							<img data-ng-src="assets/public/img/icon/view_more.png"								
									class="scenDashIcon">		
							<h5>Vedi altri</h5>
							</a>
					</div>
				</div>
			</div>
				<div class="col-xs-12 doubleRow box boxRed visible-xs hidden-sm hidden-md hidden-lg">
					<h1 data-ui-sref="logged.dashboard.scenariosList">
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/scenari.png" class="title"></a>
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/ic_scen.png" class="titleIcon"></a>
					</h1>
					<div class="row marginMTop">
						<a href="">
							<div class="col-sm-2" data-ng-click="dashboard.showPopUpCreationScenario()">
								<!--	ng-click="dashboard.showPopUpCreationScenario()" -->
								<img href="" src="assets/public/img/icon/nuovo scenario.png"
									class="img scenDashIcon">								
									<h4>Crea scenario</h4>		
							</div>
						</a>
						<div ng-if="dashboard.scenariosToShow.length>0">
						
							
							
							<div  class="col-sm-2"
								data-ng-repeat="s in dashboard.scenariosToShow | limitTo:2">
								<div ng-switch on="s.isOpen">
									
									
									<div data-ui-sref="logged.scenario.posts({id : '{{s.id}}' })" ng-switch-when=true>
										
										
										<a href="">
											<h5>{{s.name | limitTo:15}} <span ng-if="s.name.length>15">...</span></h5>
											<img data-ng-src="api/v1/scenarios/{{s.id}}/cover"
												data-err-src="assets/public/img/icon/ic_scen.png"
												class="img-circle imgPreviewL"/> 
										</a>
									</div>
									
									
									
									<div data-ui-sref="logged.scenarioWizard.info({id : '{{s.id}}' })" ng-switch-when=false>

										<a href="">
											<h5><span class="glyphicon glyphicon-cog"></span> {{s.name | limitTo:15}} <span ng-if="s.name.length>15">...</span></h5>
											<img data-ng-src="api/v1/scenarios/{{s.id}}/cover"
												data-err-src="assets/public/img/icon/ic_scen.png"
												class="img-circle imgPreviewL"/> 
										</a>
										
									</div>
									

								</div>
								
							</div>
						
						
						
						</div>						
						
										
						<div class="col-sm-2 marginMTop" ng-if="dashboard.scenariosToShow.length>2">
							<a ui-sref="logged.dashboard.scenariosList">
								<h4>Vedi tutti<img data-ng-src="assets/public/img/icon/view_more_vert.png"								
										class="scenDashIcon2 marginSLeft">					
								</h4>
							</a>
					</div>
				</div>
			</div>
				
				
				<div class="col-sm-4 col-md-3 singleRow box boxYellow">
					<div data-ui-sref="logged.dashboard.studentsList">
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/alunni.png" class="title"></a>
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/ic_stud.png" class="titleIcon"></a>
					</div>
					<div ng-if="dashboard.user.students==null">
						Qui verranno inseriti i propri alunni
					</div>
					<div class="row">
						<div class="col-xs-4 marginMTop" data-ng-repeat="a in dashboard.user.students | limitTo:6">
							<a data-ui-sref="logged.userProfile({id: '{{a.id}}'})" class="marginMTop">
									<img title="{{a.firstname}} {{a.lastname}}" 
									data-ng-src="api/v1/users/{{a.id}}/cover"
									data-err-src="assets/public/img/ic_student.png"
									class="img-circle imgPreviewM">
							</a>
						</div>
					</div>
					<div class="row" ng-if="dashboard.user.students.length>6">
						<img src="assets/public/img/icon/view_more_vert.png"class="scenDashIcon2" data-ui-sref="logged.dashboard.studentsList">
						<span data-ui-sref="logged.dashboard.studentsList">Vedi altri</span>
					</div>
					
				</div>
				<div class="col-sm-4 col-md-3 singleRow box boxLightgreen">

					<div data-ui-sref="logged.dashboard.colleaguesList">
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/colleghi.png" class="title"></a>
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/ic_coll.png" class="titleIcon"></a>
					</div>
					<div ng-if="dashboard.user.colleagues==null">
						Qui verranno inseriti i propri colleghi
					</div>
					<div class="row">				
						<div data-ng-repeat="c in dashboard.user.colleagues | limitTo:6" class="marginMTop col-xs-4">
							<!--  data-ui-sref="logged.userProfile({id: '{{c.id}}'})"-->
							<a class="marginMTop">
									<img title="{{c.firstname}} {{c.lastname}}" 
									data-ng-src="api/v1/users/{{c.id}}/cover"
									data-err-src="assets/public/img/ic_teacher.png"
									class="img-circle imgPreviewM"
									data-ng-click="dashboard.openCollCard(c.id,$index)">
									<user-card tabindex="{{dashboard.tab[$index]}}" userid="{{c.id}}" class="userCard" ng-show="dashboard.showCollCard[$index]" data-ng-blur="dashboard.openCollCard(c.id,$index)"></user-card>							
							</a>
						</div>
					</div>
					<div class="row" ng-if="dashboard.user.colleagues.length>6">
						<img src="assets/public/img/icon/view_more_vert.png" class="scenDashIcon2" data-ui-sref="logged.dashboard.colleaguesList">
						<span data-ui-sref="logged.dashboard.colleaguesList">Vedi altri</span>
					</div>
						
				</div>
				<div class="col-sm-4 col-md-3 singleRow box boxLightblue">
					<div>
						<img ng-src="assets/public/img/titoli_dashboard/nuovo.png" class="titleIcon">
						<img ng-src="assets/public/img/titoli_dashboard/compito.png" class="titleIcon">
					</div>
					 <div class="">
						<form role="form">
							<div class="form-group">
								<input type="text" class="form-control" id="email" ng-model="dashboard.mission.title"
									placeholder="TITOLO DEL COMPITO">
							</div>
							<div class="form-group">
								<select id="selectAttendee" class="form-control" data-ng-model="scenario.mission.scenID"
								ng-change="dashboard.scenarioChanged()">
									<option value="" disabled selected>SCEGLI SCENARIO</option>
									<option value="{{s.id}}" data-ng-repeat ="s in dashboard.user.openScenarios">
										<span class="tagName">{{s.name}}
										</span>
									</option>									
				
								</select>
							</div>			
							<div class="form-group">
								<select id="selectAttendee" class="form-control" data-ng-model="dashboard.mission.studentId"
								ng-change="dashboard.studentChanged()">
									<option value="" disabled selected>SCEGLI ALUNNO</option>
									<option value="{{s.id}}" data-ng-repeat ="s in studentsList">
										<span class="tagName">{{s.lastname}}
										{{s.firstname}}</span>
									</option>
								</select>
							</div>			
							<div class="form-group">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<form class="form-inline">
											<div class="form-group">
												<input ui-date="dateOptions" class="form-control" required
													data-ng-model="dashboard.mission.deliveryDate"
													placeholder="DATA CONSEGNA COMPITO"></input>
											</div>
										</form>
									</div>
								</form>
							</div>
							
							<button type="submit" class="confirm btn generalButton" ng-click="dashboard.createMission()">ASSEGNA</button>
						</form>
					</div>
				</div>
				
				<div class="col-sm-8 col-md-6 singleRow box boxBlue hidden-xs visible-sm visible-md visible-lg">
					<!-- <h1 data-ui-sref="logged.dashboard.filesList"> -->
					<h1>
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/materiali.png" class="title"></a>
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/ic_mat.png" class="titleIcon"></a>
					</h1>
					<p>Questa sezione sarà presto attiva!</p>
					<div class="row">
						<img ng-src="assets/public/img/icon/wip4.png" class="img fileIcon">
					</div>
					<!-- <div class="row marginMTop">
						<div class="col-sm-4">
							<img ng-src="assets/public/img/icon/ic_excel.png" class="img fileIcon">
							<h4>Titolo del file</h4>
						</div>
					</div> -->
				</div>
				<div class="col-sm-8 col-md-6 doubleRow box boxBlue visible-xs hidden-sm hidden-md hidden-lg">
					<!-- <h1 data-ui-sref="logged.dashboard.filesList"> -->
					<h1>
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/materiali.png" class="title"></a>
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/ic_mat.png" class="titleIcon"></a>
					</h1>
					<p>Questa sezione sarà presto attiva!</p>
					<div class="row">
						<img ng-src="assets/public/img/icon/wip4.png" class="img fileIcon">
					</div>
					<!-- <div class="row marginLTop">
						<img ng-src="assets/public/img/icon/ic_word.png" class="img fileIcon">
						<h4>Titolo del file</h4>
					</div>
					<div class="row marginLTop">
						<img ng-src="assets/public/img/icon/ic_excel.png" class="img fileIcon">
						<h4>Titolo del file</h4>
					</div>
					<a ui-sref="logged.dashboard.filesList" class="marginLTop">	
						<h4>Vedi altri</h4>
					</a> -->
				</div>
				
				<div class="col-sm-4 col-md-6 singleRow box boxBrown">
					<h1>
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/azioni.png" class="titleIcon"></a>
						<a href=""><img ng-src="assets/public/img/titoli_dashboard/ic_att.png" class="titleIcon"></a>
					</h1>
					<p>Questa sezione sarà presto attiva!</p>
					<div class="row">
						<img ng-src="assets/public/img/icon/wip2.png" class="img fileIcon">
					</div>
					<!--  <ul class="list-group">
						<li class="list-group-item"><a href=""></a></li>
						
					</ul>-->
				</div>
			</div>
		</div>
		<div class="col-lg-1"></div>
	</div>
</div>
