<div class="container-fluid mainContent">	
		<div class="row-fluid">
		<div class ="col-lg-1"></div>
			<div class="col-sm-12 col-lg-8 noPadding">			
				<div class="row-fluid">
					<div class="col-md-3 doubleRow box hidden-xs hidden-sm visible-md visible-lg">
						<h3>Appunti</h3>						
						<div>
							<h4>Titolo del compito</h4>
							Qua verranno inserite le anteprime dei singoli compiti
						</div>
					</div>
					<div class="col-sm-12 singleRow box visible-xs visible-sm hidden-md hidden-lg">
						<h3>Appunti</h3>						
						<div>
							<h4>Titolo del compito</h4>
							Qua verranno inserite le anteprime dei singoli compiti
						</div>
					</div>					
					<div class="col-md-9 col-sm-12 singleRow box">
							<h3>Scenari</h3>
							<div class="leftFloat marginMTop">
								<img src="http://www.colorhexa.com/607931.png" class="img-circle imgPreviewL">
								<img class="overlapImg img-circle" src="http://www.wrapedecor.it/catalogue/21/99/1658/100-719%20Principale.jpg">
								<h4>Titolo dello scenario</h4>
							</div>							
					</div>
					
						<div class="col-sm-4 col-md-3 singleRow box">
							<h3>Personaggi</h3>
							<div class="internalDiv">
								<div class="table-responsive textLeft">
									<table>
										<tbody>
											<tr>
												<td><img src="http://www.colorhexa.com/607931.png" class="img-circle imgPreviewM tableMargin"></td>
												<td>
													<table>
													<tbody>
													  <tr>
														<td><span>Nome Cognome Cognome</span></td>
													  </tr>
													  <tr>
														<td><span>Nome Scenario</span></td>
													  </tr>
													</tbody>
													</table>												
												</td>
											</tr>
										</tbody>
									</table>
									
									<table>
										<tbody>
											<tr>
												<td><img src="http://www.colorhexa.com/607931.png" class="img-circle imgPreviewM tableMargin"></td>
												<td>
													<table>
														<tbody>
														  <tr>
															<td><span>Nome Cognome Molto Lungo</span></td>
														  </tr>
														  <tr>
															<td><span>Nome Scenario</span></td>
														  </tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</div>	
							</div>
						</div>
						<div class="col-sm-8 col-md-6 singleRow box">
							<h3>Compiti</h3>
							<div class="table-responsive textLeft">
							<table>
								<tbody>
									<tr>
										<td>
											<div class="tableMargin dateHomework">
												<div class="fontL">4</div>
												<div class="fontM">APR</div>
											</div>
										</td>
										<td>
											<table>
												<tbody>
												  <tr>
													<td><h4>Materia</h4></td>
												  </tr>
												  <tr>
													<td><span>Titolo del compito</span></td>
												  </tr>
												 </tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-responsive textLeft">
							<table>
								<tbody>
									<tr>
										<td>
											<div class="tableMargin dateHomework">
												<div class="fontL">4</div>
												<div class="fontM">APR</div>
											</div>
										</td>
										<td>
											<table>
												<tbody>
												  <tr>
													<td><h4>Materia</h4></td>
												  </tr>
												  <tr>
													<td><span>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</span></td>
												  </tr>
												 </tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="col-sm-8 col-md-6 singleRow box">
						<h3>Azioni</h3>
					</div>
					<div class="col-sm-4 col-md-3 singleRow box">
						<h3>Compagni</h3>
						<table>
							<tbody>
								<tr>
									<td><img src="http://www.colorhexa.com/607931.png" class="img-circle imgPreviewM tableMargin"></td>
									<td><span>Nome Cognome</span></td>									
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-4 col-md-3 singleRow box">
						<h3>Docenti</h3>
						<table>
							<tbody>
								<tr>
									<td><img src="http://www.colorhexa.com/607931.png" class="img-circle imgPreviewM tableMargin"></td>
									<td><span>Nome Cognome</span></td>									
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-8 col-md-12 singleRow box visible-xs visible-sm visible-md hidden-lg">
						<h3>Premi</h3>
					</div> 
				</div>
			</div>
			<div class="col-lg-2 col-md-12 tripleRow box hidden-xd hidden-sm hidden-md visible-lg">
				<h3>Premi</h3>
			</div>
			
		</div>  
</div>