<meta charset="UTF-8">
<div class="container-fluid mainContent">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<div class="row">
				<div class="col-md-3 doubleRow box boxGreen hidden-xs hidden-sm visible-md visible-lg">
					<h3>Appunti</h3>						
					<p>Questa sezione non è ancora attiva</p>
					<img data-ng-src="assets/public/img/icon/wip4.png" class="img fileIcon">
				</div>
				<div class="col-md-9 col-sm-12 singleRow box boxRed">
					<h1>
						<a href=""><img data-ng-src="assets/public/img/titoli_dashboard/scenari.png" class="title"></a>
						<a href=""><img data-ng-src="assets/public/img/titoli_dashboard/ic_scen.png" class="titleIcon"></a>
					</h1>					
					<div class="row marginMTop">						
						<div data-ng-if="dashboard.scenariosToShow.length>0">							
							<div  class="col-sm-2"
							data-ng-repeat="s in dashboard.scenariosToShow ">
								<div data-ng-switch data-on="s.isOpen">
									<div data-ui-sref="logged.scenario.posts({id : '{{s.id}}' })" data-ng-switch-when=true>							
										<a href="">
											<h5>{{s.name | limitTo:15}} <span data-ng-if="s.name.length>15">...</span></h5>
											<img data-ng-src="api/v1/scenarios/{{s.id}}/cover"
												data-err-src="assets/public/img/icon/ic_scen.png"
												class="img-circle imgPreviewL"/> 
										</a>
									</div>														
									<div data-ui-sref="logged.scenarioWizard.info({id : '{{s.id}}' })" data-ng-switch-when=false>
										<a href="">
											<h5>
												<span class="glyphicon glyphicon-cog"></span> {{s.name | limitTo:15}} 
												<span data-ng-if="s.name.length>15">...</span>
											</h5>
											<img data-ng-src="api/v1/scenarios/{{s.id}}/cover"
												data-err-src="assets/public/img/icon/ic_scen.png"
												class="img-circle imgPreviewL"/> 
										</a>										
									</div>							
								</div>
							</div>
						</div>		
						<div class="col-sm-2 col-xs-3" data-ng-if="dashboard.user.openScenarios.length+dashboard.user.closedScenarios > dashboard.numScenariosToShow">
							<a data-ui-sref="logged.dashboard.scenariosList">
								<img data-ng-src="assets/public/img/icon/view_more.png"								
										class="scenDashIcon">		
								<h5>Vedi altri</h5>
							</a>
					</div>
				</div>
				</div>
				<div class="col-sm-12 singleRow box boxGreen visible-xs visible-sm hidden-md hidden-lg">
					<h3>Appunti</h3>						
					<p>Questa sezione non è ancora attiva</p>
					<img data-ng-src="assets/public/img/icon/wip4.png" class="img fileIcon">
				</div>
				<div class="col-md-3 col-sm-4 singleRow box boxYellow">
					<h3>Personaggi</h3>
					<div ng-if="dashboard.myCharacters==null || dashboard.myCharacters.length==0">
						Qui verranno inseriti i propri personaggi
					</div>
					<div class="row">
						<div class="col-xs-4 marginMTop" data-ng-repeat="c in dashboard.myCharacters | limitTo:6">
							<a data-ui-sref="logged.scenario.charprofile({id: '{{c.scenarioId}}', idCharacter: '{{c.id}}'})" class="marginMTop">
									<img title="{{c.name}}" 
									data-ng-src="{{c.cover}}"
									data-err-src="assets/public/img/icon/pg.png"
									class="img-circle imgPreviewM"> {{c.name | limitTo:10}}
							</a>
						</div>
					</div>
<!-- 					<div class="row" ng-if="dashboard.user.students.length>6"> -->
<!-- 						<img src="assets/public/img/icon/view_more_vert.png"class="scenDashIcon2" data-ui-sref="logged.dashboard.studentsList"> -->
<!-- 						<span data-ui-sref="logged.dashboard.studentsList">Vedi altri</span> -->
<!-- 					</div> -->
				</div>
				<div class="col-md-6 col-sm-8 singleRow box boxLightblue">
					<h3>Compiti</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12 singleRow box boxLightgreen">
					<h3>Premi</h3>						
					<p>Questa sezione non è ancora attiva</p>
					<img data-ng-src="assets/public/img/icon/wip4.png" class="img fileIcon">
				</div>
				<div class="col-md-3 col-sm-6 singleRow box boxBlue">
					<h3>Compagni</h3>
						<div ng-if="dashboard.user.friends==null">
						Qui verranno inseriti i propri compagni
						
					</div>
					<div class="row">
						<div class="col-xs-4 marginMTop" data-ng-repeat="a in dashboard.user.friends | limitTo:6">
							<a data-ui-sref="logged.userProfile({id: '{{a.id}}'})" class="marginMTop">
									<img title="{{a.firstname}} {{a.lastname}}" 
									data-ng-src="api/v1/users/{{a.id}}/cover"
									data-err-src="assets/public/img/ic_student.png"
									class="img-circle imgPreviewM">
							</a>
						</div>
					</div>
					<div class="row" ng-if="dashboard.user.friends.length>6">
						<img src="assets/public/img/icon/view_more_vert.png"class="scenDashIcon2" data-ui-sref="logged.dashboard.studentsList">
						<span data-ui-sref="logged.dashboard.studentsList">Vedi altri</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 singleRow box boxBrown">
					<h3>Insegnanti</h3>
					<div ng-if="dashboard.user.teachers==null">
						Qui verranno inseriti i propri insegnanti
					</div>
					<div class="row">				
						<div data-ng-repeat="c in dashboard.user.teachers | limitTo:6" class="marginMTop col-xs-4">
							<!--  data-ui-sref="logged.userProfile({id: '{{c.id}}'})"-->
							<a class="marginMTop">
									<img title="{{c.firstname}} {{c.lastname}}" 
									data-ng-src="api/v1/users/{{c.id}}/cover"
									data-err-src="assets/public/img/ic_teacher.png"
									class="img-circle imgPreviewM"
									data-ng-click="dashboard.openCollCard(c.id,$index)">
									<user-card tabindex="{{dashboard.tab[$index]}}" userid="{{c.id}}" ng-show="dashboard.showCollCard[$index]" data-ng-blur="dashboard.openCollCard(c.id,$index)"></user-card>							
							</a>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>