<div class="modal-header">
	<h4 class="modal-title">Cancellazione scenario: {{dialogScenario.scenToDelete.name}}</h4>
</div>
<div class="modal-body">
	<label>Sei sicuro di voler cancellare {{dialogScenario.scenToDelete.name}} ?</label>
	<alertgeneric></alertgeneric>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" style="margin-top:1%; data-ng-click="dialogScenario.deleteScenario()">SI</button>
	<button class="btn generalButton" data-ng-click="$dismiss()">ANNULLA</button>
	
</div>

