
<div class="col-sm-12 line-2"></div>
<div class="col-sm-12 testata">

	<h5 id="number">Numero {{headlineNewspaper.number}}</h5>
	<!-- aggiungere ng-model="title" -->
	<label 
	 style="cursor: pointer;" id="text-area-title-newspaper"
		rows="1" data-ng-model="headlineNewspaper.headline.title" 
		data-ng-click="headlineNewspaper.showPopUpCreationTitle()">
		<span data-ng-if="headlineNewspaper.headline.title == ''"> Assegna un nome al giornale</span>
		
		 {{headlineNewspaper.headline}}
		
		</label>
		
		
			
	<div data-ng-click="headlineNewspaper.setDateNewNumber()"
				class="glyphicon glyphicon-calendar" style="float:right; margin-top: 10px; margin-left: 4px;"></div>		
	<h5 id="date">Data il giornale</h5>

<label class="col-sm-6 arrow_box arrow_box:after arrow_box:before animated pulse" 
ng-if="headlineNewspaper.showWarning">
 Attento, il titolo è troppo lungo! Scegli un nome più corto per il giornale. 
</label>

</div>
<div class="col-sm-12 line-2"></div>
<div class="col-sm-12 line"></div>




