<div data-ng-if="insertStatus.showInsertStatus">
	<div class="textRight" style="cursor:pointer">
			<label data-ng-click="insertStatus.setDateNewPost()">{{insertStatus.newPost.formattedDate}}</label>
			<div data-ng-click="insertStatus.setDateNewPost()"
				class="glyphicon glyphicon-calendar marginMRight"></div>
			<div class="pull-right">
<!-- 				<div data-ng-show="insertStatus.showDatePicker" -->
<!-- 					custom-date-picker start-date="insertStatus.startDate" end-date="insertStatus.endDate"  -->
<!-- 			date-number="insertStatus.newPost.julianDayNumber" -->
<!-- 			date-string="insertStatus.newPost.formattedDate"></div>	 -->
			</div>		
	</div>
	<div class="col-xs-12 marginMTop">
		<div class="row">
			<div class="squareCharImg"
				style="background-image:url('{{insertStatus.character.cover}}'),url('assets/public/img/icon/pg.png')"></div>	

		
			<div class="col-xs-8 col-sm-9 col-md-10">
				<h4 class="pull-left">{{insertStatus.character.name}} 
					<span ng-if="insertStatus.tagIsSet || insertStatus.newPost.place.text">-</span> 
					<span ng-if="insertStatus.tagIsSet" 
						data-ng-click="insertStatus.switchShowTagBox()"> 
						con <span class="linkPost">{{insertStatus.stringTags}}</span></span>
					<span ng-if="insertStatus.tagIsSet && insertStatus.newPost.place.text">, </span> 
					<span ng-if="insertStatus.newPost.place.text" 
						data-ng-click="insertStatus.setPositionNewPost()"
						class="linkPost">{{insertStatus.newPost.place.text}}</span>
				</h4>
				<textarea id="textContentStatus" class="pull-left allWidth" placeholder="A COSA STAVI PENSANDO?"
				rows="3" data-ng-model="insertStatus.newPost.content"></textarea>
			</div>				
		</div>	
	</div>


	<div class="col-xs-12 extraContent marginSTop ">
		<div class="pull-left marginSTop marginMRight">
			<div style="cursor:pointer" title="Aggiungi un'immagine al post" ngf-select
				ngf-change="insertStatus.addImageToNewPost($files)"
				class="tooltips glyphicon glyphicon-camera iconsMargin"
				data-ng-style="insertStatus.colorImageMarker"
				data-ng-click="insertStatus.hideTagBox()"></div>
			
			<div style="cursor:pointer" title="Allega un file al post" ngf-select
				ngf-change="insertStatus.addFileToNewPost($files)"
				class="tooltips glyphicon glyphicon-file iconsMargin"
				data-ng-style="insertStatus.colorFileMarker"
				data-ng-click="insertStatus.hideTagBox()"></div>
			
		
			<div style="cursor:pointer" title="Aggiungi una posizione al post"
				class="tooltips glyphicon glyphicon-map-marker iconsMargin"
				data-ng-click="insertStatus.setPositionNewPost(); insertStatus.hideTagBox()"
				data-ng-style="showNewsPost.colorMapMarker"></div>
			<!-- 					<label></label> -->

			<!-- 			<div title="Tagga personaggi al post" -->
			<!-- 				class="tooltips glyphicon glyphicon-tags" my-tag-box tags="insertStatus.newPost.tags" selectable="insertStatus.scenario.characters"  -->
			<!-- 					type="character" scenario="{{insertStatus.scenario.id}}" style="margin-right: 5px;"></div> -->
			<!-- 			<label></label> -->

			<div style="cursor:pointer" class="tooltips glyphicon glyphicon-tags iconsMargin" 
				data-ng-style="insertStatus.colorTagsMarker"
				title="Tagga personaggi al post"
				data-ng-click="insertStatus.switchShowTagBox()">
			</div>
		</div>
		
			<!-- 					<div title="Indica le tue fonti" -->
		<!-- 						data-ng-click="scenarioPost.addSourceToNewPost()" -->
		<!-- 						class="tooltips glyphicon glyphicon-book" style="margin-right: 5px;"></div> -->
		<!-- 					<label></label> -->
		<!-- 				</div> -->
		
	</div>
	<div class="col-xs-12 extraContent text-left">		
	
			<tags-input data-ng-show="insertStatus.showTagBox"
				data-ng-model="insertStatus.newPost.tags" display-property="name"
				placeholder="TAGGA UN PERSONAGGIO" replace-spaces-with-dashes="false"
				template="tag-template" add-from-autocomplete-only="true">
			<auto-complete source="insertStatus.search($query,true)"
				min-length="0" load-on-focus="true" load-on-empty="true"
				max-results-to-show="32" template="autocomplete-template">
			</auto-complete> </tags-input>

	
		<div style="cursor:pointer" class="row colPadding">
			<div data-ng-repeat="image in insertStatus.newPost.image">
					<div class="squareImg" style="background-image:url('{{insertStatus.getMedia(image.id)}}')">
					<div class="hoverContent textRight"><span class="glyphicon glyphicon-remove marginMTop iconsMargin"
							data-ng-click="insertStatus.removeImage(image)"></span></div>
					</div>
					
			<!-- 					<div title="Indica le tue fonti" -->
			<!-- 						data-ng-click="scenarioPost.addSourceToNewPost()" -->
			<!-- 						class="tooltips glyphicon glyphicon-book" style="margin-right: 5px;"></div> -->
			<!-- 					<label></label> -->
			<!-- 				</div> -->
		
		</div>
		<!-- Inserire icone -->
		<div style="cursor:pointer" class="row colPadding">
			<div data-ng-repeat="file in insertStatus.newPost.file">
				<div class="col-xs-2">
					<div class="row">
						<div class="squareFileIcon" style="background-image:url('assets/public/img/files/ic_img.png')" 
							ng-if="file.fileType == 'img'">
							<div class="hoverContent textRight"><span class="glyphicon glyphicon-remove marginMTop iconsMargin"
							data-ng-click="insertStatus.removeFile(file)"></span></div>
						</div>
						<div class="squareFileIcon" style="background-image:url('assets/public/img/files/ic_pdf.png')" 
							ng-if="file.fileType == 'pdf'">
							<div class="hoverContent textRight"><span class="glyphicon glyphicon-remove marginMTop iconsMargin"
							data-ng-click="insertStatus.removeFile(file)"></span></div>
						</div>
						<div class="squareFileIcon" style="background-image:url('assets/public/img/files/ic_doc.png')" 
							ng-if="file.fileType == 'doc'">
							<div class="hoverContent textRight"><span class="glyphicon glyphicon-remove marginMTop iconsMargin"
							data-ng-click="insertStatus.removeFile(file)"></span></div>
						</div>
						<div class="squareFileIcon" style="background-image:url('assets/public/img/files/ic_ppt.png')" 
							ng-if="file.fileType == 'ppt'">
							<div class="hoverContent textRight"><span class="glyphicon glyphicon-remove marginMTop iconsMargin"
							data-ng-click="insertStatus.removeFile(file)"></span></div>
						</div>
						<div class="squareFileIcon" style="background-image:url('assets/public/img/files/ic_excel.png')" 
							ng-if="file.fileType == 'excel'">
							<div class="hoverContent textRight"><span class="glyphicon glyphicon-remove marginMTop iconsMargin"
							data-ng-click="insertStatus.removeFile(file)"></span></div>
						</div>
						
					</div>
					<div class="row text-center marginEmXS">
						<span>{{file.name | limitTo:7}}</span>
						<span ng-if="file.name.length>7">...</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="row col-xs-12">
	<div class="pull-right">
		<div data-ng-click="insertStatus.draftNewPost(); insertStatus.hideTagBox()"
			class="btn generalButton1">SALVA COME BOZZA</div> 
		<div data-ng-click="insertStatus.savePost(); insertStatus.hideTagBox()"
			class="btn positiveButton">PUBBLICA</div>
	</div>
</div>

</div>
	

<script type="text/ng-template" id="tag-template">
      <div class="tag-template">
 <!--       <div class="left-panel">
          <img class="imgPreviewM" data-ng-src="{{data.cover}}" data-err-src="assets/public/img/icon/pg.png"/>
        </div> -->
        <div class="right-panel">
          <span>{{$getDisplayText()}}</span>
          <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
      </div>
</script>

<script type="text/ng-template" id="autocomplete-template">
      <div class="autocomplete-template">
        <div class="left-panel">
          <img class="imgPreviewM" data-ng-src="{{data.cover}}" data-err-src="assets/public/img/icon/pg.png"/>
        </div>
        <div class="right-panel">
          <span ng-bind-html="$highlight($getDisplayText())"></span>
        </div>
      </div>
</script>
