<div class="container">
	<h1>Cosa c'è di nuovo</h1>
	<h3><span style="color:#cb654f;"><i>me</i>schola</span> è in continua evoluzione. Qui puoi trovare un riepilogo delle ultime funzionalità
	aggiunte alla piattaforma e dare un'occhiata a tutto quello che abbiamo in cantiere.</h3>
	<br>
	<h4>Le ultime novità</h4>
	<ul>
		<li>
			<b>Personalizzazione profilo utente</b>: adesso è possibile personalizzare ulteriormente il 
			proprio profilo personale. Ricordati che esso potrà essere visitato solo da coloro che partecipano
			ai tuoi stessi scenari.
		</li>
		<li>
			<b>Recupero password</b>: hai dimenticato la password? Da oggi puoi richiedere una nuova password
			seguendo la procedura proposta dalla piattaforma. Dalla pagina di login, clicca sul pulsante in
			alto a destra.
		</li>
		<li>
			<b>Sezione suggerimenti</b>: se hai una proposta per migliorare <i>me</i>schola, adesso puoi
			comunicarcela utilizzando l'apposita sezione <i>Inviaci un suggerimento</i>. La trovi nel menù personale cliccando sull'icona
			a fianco al tuo nome in alto a destra.
		</li>
		<li>
			<b>Segnalazione problemi</b>: la sezione <i>Segnala un problema</i> non è sparita.
			L'abbiamo solo spostata all'interno del tuo menù personale (l'icona in alto a destra). Se riscontri
			anomalie o comportamenti inattesi durante l'utilizzo della piattaforma: noi provvederemo nel più
			breve tempo possibile a sistemare il problema. 
		</li>
	</ul>
	<h4>In arrivo</h4>
	<ul>
		<li>
			<b>Notifiche</b>: così come suggerito dall'icona in alto (<span class="glyphicon glyphicon-bullhorn"></span>) a breve sarà attivo
			il servizio di notifica degli avvenimenti più importanti. Sarai quindi sempre aggiornato sulle attività che ti riguardano svolte
			negli scenari a cui partecipi.
		</li>
		<li>
			<b>Messaggi</b>: <span class="glyphicon glyphicon-envelope"></span> attraverso questa icona potrai accedere invece alla tua casella
			dei messaggi. Potrai comunicare attraverso <i>me</i>schola con tutti coloro che partecipano con te ad uno scenario.
		</li>
		<li>
			<b>Modifica e cancellazione dei commenti</b>: così come già avviene per i post, presto sarà possibile modificare e cancellare i commenti.
		</li>
<!-- 		<li>Giornale dello scenario</li> -->
<!-- 		<li>Possibilità di esportare il lavoro a scenario terminato</li> -->
	</ul>
	<br>
	<h4>Se anche tu hai un'idea da proporre per contribuire a migliore <span style="color:#cb654f;"><i>me</i>schola</span>, clicca 
		<a data-ui-sref="logged.newFeature" href="">qui</a>.</h4>
</div>		
