    <!-- Sezione news-->    
        <div class="container news">
        
        <div class="col-md-12">
            <h2> Cosa c'è di nuovo</h2>
            <div class="enfasize"> 
                <span class="logo-name"><b><i>me</i>schola</b></span> è in continua evoluzione. Qui puoi trovare un riepilogo delle ultime funzionalità aggiunte alla piattaforma e dare un'occhiata a tutto quello che abbiamo in cantiere.
            </div>
            
            <hr>
            
        </div>  
          
            
           
          
        <div class="col-md-6">
       <h3>Le ultime novità !!!</h3>

        <ul class="news">
       	   <li>
                  <img class="ic_news" src="assets/public/img/lara/megaphone.svg"> 
                  <p class="news-text">
                      <span class="news-title"> Notifiche </span>
                      <p>Da oggi è finalmente attivo il servizio di notifiche degli avvenimenti più importanti. Sarai quindi sempre aggiornato sulle attività che ti riguardano.
                    </p>
            </li>
            <li>
                  <img class="ic_news" src="assets/public/img/lara/power.svg"> 
                  <p class="news-text">
                      <span class="news-title"> Velocita'</span>
                      <p>Per permetterti di creare al meglio le tue storie meschola è diventato ancora più veloce e reattivo, non c'è più bisogno di aggiornare
                       continuamente le pagine per scaricare gli aggiornamenti, questo avviene in tempo reale. Prova per credere!
                    </p>
                  
            </li>

            <li> 
                
                <img class="ic_news" src="assets/public/img/lara/user.svg">   
                <p>  
                <span class="news-title">Personalizzazione profilo utente</span> 
                   <p> Adesso è possibile personalizzare ulteriormente il proprio profilo personale. Ricordati che esso potrà essere visitato solo da coloro che partecipano ai tuoi stessi scenari.
                    </p>
                

            </li>
            <li>
                <img class="ic_news" src="assets/public/img/lara/lock.svg">
                <p>
                <span class="news-title"> Recupero password </span>
                    <p>Hai dimenticato la password? Da oggi puoi richiedere una nuova password seguendo la procedura proposta dalla piattaforma. Dalla pagina di login, clicca sul pulsante in alto a destra.
                        </p>

            </li>        
            <li>
                <img class="ic_news" src="assets/public/img/lara/chat.svg">
                <p>
                <span class="news-title"> Sezione suggerimenti </span>
                    <p>Se hai una proposta per migliorare meschola, adesso puoi comunicarcela utilizzando l'apposita sezione Inviaci un suggerimento. La trovi nel menù personale cliccando sull'icona a fianco al tuo nome in alto a destra.
                </p>
            </li>
            
                
        </ul>


       </div>  
        
       <div class="col-md-6">      
      <h3>In arrivo ...</h3>
           
        <ul>
    
            <li>
                <img class="ic_news" src="assets/public/img/lara/envelope.svg"> 
                <p>
                    <span class="news-title"> Messaggi</span>  
                    <p> 
                    	Attraverso questa icona potrai presto accedere alla tua casella dei messaggi. Potrai comunicare attraverso meschola con tutti coloro che hanno partecipato ad uno scenario assieme a te.
                    </p>
                </p>
            
            </li>

            <li>
                <img class="ic_news" src="assets/public/img/lara/bin2.svg">
                <p>
                <span class="news-title">  Modifica e cancellazione dei commenti</span>
                    <p>Così come già avviene per i post, presto sarà possibile modificare e cancellare i commenti.
                        </p>
                </p>
            </li>
            
             <li>
                <img class="ic_news" src="assets/public/img/lara/newspaper.svg">
                <p>
                <span class="news-title">  Il giornale dello scenario</span>
                    <p>La figura del giornalista è quasi pronta ad entrare a far parte del mondo di meschola. Questo permetterà di inserire
                       delle vere e proprie pagine di giornale all'interno dei propri scenari.
                        </p>
                </p>
            </li>
</ul>

           
        </div>   
        
        <div class="clearfix"></div>
          <div class="col-md-12 center call-to-action"> 
        
            <h3 >Se anche tu hai un'idea da proporre per contribuire a migliorare meschola, <a href="#" class="link" data-ui-sref="logged.newFeature">clicca qui. </a></h3> 
        </div>
            
        </div>     