<div data-ng-show="likeTo.liker">
	<div 
		data-ng-if="likeTo.post.youLike"
		data-ng-click="likeTo.likePost(likeTo.post)"
		class="text-left noPadding">
		<span title="Non mi piace più"
		class="tooltips glyphicon glyphicon-thumbs-up pull-left marginLRight"></span>
		Mi piace
	</div>
	<div 
		data-ng-if="!likeTo.post.youLike"
		data-ng-click="likeTo.likePost(likeTo.post)"
		class="text-left noPadding">
		<span title="Mi piace!"
		class="tooltips glyphicon glyphicon-thumbs-up pull-left marginLRight"></span>
		Mi piace
	</div>
</div>