<div data-ng-if="metaCommentTo.showViewOthers" 
	data-ng-click="metaCommentTo.openViewOthers()"
	class="marginSTop text-left">
		<a class="clickable">Visualizza altri suggerimenti</a></div>
<div class="marginSTop">
	<div data-ng-repeat="m in metaCommentTo.visibleComments" class="textLeft col-xs-12 noPadding">
			<img 
				class="pull-left img imgPreviewM marginMRight"
				data-ng-src="api/v1/users/{{m.user.id}}/cover"
				data-err-src="assets/public/img/ic_student.png"></img>
		<div class="row">			
					<label>{{m.user.firstname}} {{m.user.lastname}}</label>: {{m.text}}
		</div>
	</div>
</div>
	<img 
		class="pull-left img imgPreviewM marginMTop marginMRight"
		data-ng-src="api/v1/users/{{metaCommentTo.writer.id}}/cover"
		data-err-src="assets/public/img/ic_student.png"></img>

<div class="row">
	<textarea data-ng-model="metaCommentTo.post.newMetaComment" rows="2"
		class="pull-left lessWidth marginMTop"
		placeholder="Inserisci un suggerimento"></textarea>
	<div class="text-right marginLRight">
		<div class="btn generalButton btn-sm pull-right"
			data-ng-click="metaCommentTo.addMetaCommentToPost()">SUGGERISCI</div>
	</div>
</div>
