
<div >
	
	<div class="row">
	<h3><i>Missione dello scenario</i></h3>
		<div class="col-xs-12 box boxBrown">
				<insert-mission 
					id-scenario-veloce= "{{scenario.scen.id}}"
					scenario="scenario.scen"
					is-moderator="scenario.isModerator"
					is-creator="scenario.isCreator">
				</insert-mission>	
			
		</div>
			
	</div>

	<div class="row" >
		<hr class="hrDivider">
	</div>
	<div class="box">
		<work-spinner>
			<img width="40px" height="40px" src="/assets/public/img/p_spinner.gif" />
		</work-spinner>
	</div>
	<div class="row">
	<h3 data-ng-if="(scenario.isCreator || scenario.isModerator) && scenarioMissions.characters && scenarioMissions.characters.length>0"><i>Missioni dei personaggi</i></h3>
	<h3 data-ng-if="!scenario.isCreator && !scenario.isModerator && scenarioMissions.myCharacter"><i>Missione del mio personaggio</i></h3>
	<div data-ng-repeat="c in scenarioMissions.characters">
		<div class="col-xs-12 box boxBrown">
				
				<insert-mission 
					id-scenario-veloce= "{{scenario.scen.id}}"
					scenario="scenario.scen"
					character="c"
					is-moderator="scenario.isModerator"
					is-creator="scenario.isCreator">
				</insert-mission>	
		</div>
	</div>
	</div>
</div>



