
<div >
	<div class="row">
	<h3>Missione dello scenario:</h3>
		<div class="col-xs-12 box boxBrown">
				<insert-mission 
					id-scenario-veloce= "{{scenario.scen.id}}"
					scenario="scenario.scen"
					is-moderator="scenario.isModerator"
					is-creator="scenario.isCreator">
				</insert-mission>	
			
		</div>
			
	</div>

	<div class="row" >
		<hr class="hrDivider">
	</div>
	
	<div class="row">
	<h3 data-ng-if="scenario.isCreator || scenario.isModerator">Missioni dei personaggi:</h3>
	<h3 data-ng-if="!scenario.isCreator && !scenario.isModerator && scenarioMissions.myCharacter">Missione del mio personaggio:</h3>
	<div data-ng-repeat="c in scenarioMissions.characters">
		<div class="col-xs-12 box boxBrown">
				<insert-mission 
					id-scenario-veloce= "{{scenario.scen.id}}"
					scenario="scenario.scen"
					character="c"
					is-moderator="scenario.isModerator"
					is-creator="scenario.isCreator">
				</insert-mission>	
		</div>
	</div>
	</div>
</div>



