<div class="container-fluid marginXSBottom">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed"
			data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		 <a data-ui-sref="logged.dashboard" href="">
		 	<img class="img imgPreviewM" src="assets/public/img/calderone1.png">
		 </a>
		 <a data-ui-sref="logged.dashboard" href="">
		 	<span class="titleNav"><b><i>me</i>schola</b></span>
		 </a>
		
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse"
		id="bs-example-navbar-collapse-1">
		
		
		<ul class="nav navbar-nav">
		</ul>

		<ul class="nav navbar-nav navbar-right">
		
			<li data-ui-sref="logged.lastNews">
			
				<a style="border: 2px; border-style:dashed; border-color:#cb654f;" tooltip="Le ultime novità introdotte" href="">Novità</a></li>
			<li>
				<a data-ui-sref="logged.dashboard" tooltip="Home" href=""><span class="glyphicon glyphicon-home"></span></a></li>
			<li class="dropdown">
				<a href="#"  class="dropdown-toggle" tooltip="Notifiche" data-toggle="dropdown" role="button" aria-expanded="false">
					<span class="glyphicon glyphicon-bullhorn"></span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
<!-- 					<li><a href="#">Notifica 1</a></li> -->
<!-- 					<li><a href="#">Notifica 2</a></li> -->
<!-- 					<li><a href="#">Notifica 3</a></li> -->
<!-- 					<li><a href="#">Notifica 4</a></li> -->
					
<!-- 					<li class="divider"></li> -->
<!-- 					<li><a href="#">Vedi tutte</a></li> -->
				</ul></li>
			<li class="dropdown">
				<a tooltip="Messaggi" href="#" class="dropdown-toggle"
				data-toggle="dropdown" role="button" aria-expanded="false"><span
					class="glyphicon glyphicon-envelope"></span><span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
<!-- 					<li><a href="#">Messaggio 1</a></li> -->
<!-- 					<li><a href="#">Messaggio 2</a></li> -->
<!-- 					<li><a href="#">Messaggio 3</a></li> -->
<!-- 					<li class="divider"></li> -->
<!-- 					<li><a href="#">Vedi tutti</a></li> -->
				</ul>
			</li>
<!-- 				<a href=""><img src="assets/public/img/user_ico.png" class="img-circle" width="20" height="20"> Utente </a> -->
			<li data-ui-sref="logged.userProfile({id : '{{navbar.user.id}}' })" class="noPadding">
					<a tooltip="Docente" data-ng-if="navbar.user.role.authority == 'ROLE_TEACHER'" href="" class="noPadding">
					<img data-ng-src="{{navbar.cover}}" 
						data-err-src="{{navbar.basicCover}}"
						class="img-circle imgPreviewM"> 
					{{navbar.user.firstName}} {{navbar.user.lastName}} 
					
					</a>
					<a tooltip="Studente" data-ng-if="navbar.user.role.authority == 'ROLE_USER'" href="" class="noPadding">
					<img data-ng-src="{{navbar.cover}}" 
						data-err-src="{{navbar.basicCover}}"
						class="img-circle imgPreviewM"> 
					{{navbar.user.firstName}} {{navbar.user.lastName}} 
					
					</a>
					<a tooltip="Amministratore" data-ng-if="navbar.user.role.authority == 'ROLE_ADMIN'" href="" class="noPadding">
						<img data-ng-src="{{navbar.cover}}" 
						data-err-src="{{navbar.basicCover}}"
						class="img-circle imgPreviewM"> 
					{{navbar.user.firstName}} {{navbar.user.lastName}} 
					
					</a>
			</li>
			<li class="dropdown">
				<a tooltip="Impostazioni" href="#" class="dropdown-toggle"
				data-toggle="dropdown" role="button" aria-expanded="false"><span
					class="glyphicon glyphicon-cog"><span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="" data-ui-sref="logged.dashboard.draft">Le mie bozze</a></li>
					<li data-ui-sref="logged.issues"><a href="#">Segnala un problema</a></li>
					<li data-ui-sref="logged.newFeature"><a href="#">Inviaci un suggerimento</a></li>
<!-- 					<li data-ng-if="navbar.user.role.authority == 'ROLE_TEACHER'"><a href="#">Invita un collega</a></li> -->
					<li data-ui-sref="logged.userProfile({id : '{{navbar.user.id}}' })"><a href="#">Il mio profilo</a></li>
					<li class="divider"></li>
					<li><a href="" data-ng-click="navbar.logout()">Log Out</a></li>
				</ul></li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
