<div class="row preview-container">

	<div class="col-sm-11 line-green-bigger" style="margin-left: 3%;">
	</div>

	<h3 class="title-preview">Titolo articolo più importante della
		testata</h3>

	<div class="col-sm-11 line-6 " style="margin-left: 3%;"></div>

	<h6 class="subtitle-preview">Sottotitolo dell'articolo</h6>


	<img class="img-responsive img-preview" style="margin-left: 4%;"
		src="assets/public/img/newspaper-img/ic_photo_default-horizontal.jpg" />


</div>

<div class="col-sm-3"></div>
<div class="col-sm-6">
	<button class="btn ctaFirst button-preview">Leggi tutto</button>
</div>
<div class="col-sm-3"></div>
<div class="row opacity-container"></div>