<style>
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
	background-color:transparent;
	border-top: none;
	border-left:none;
	border-right:none;
	outline:none;
	border-radius:0px;
	-webkit-appearance: none;.
	border: 0;
	box-shadow: none;
	border-color:#5B5955;
}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-1 col-lg-2"></div>
		<div class="col-sm-5 col-md-4 col-lg-3 box boxBrown" id="imgProfile">
			<h3 class="goUppercase">{{personalProfile.user.firstName}} {{personalProfile.user.lastName}}</h3>
			<p>{{personalProfile.ruolo}}</p>
			<div class="profilePicContainer" style="cursor:pointer;">
				<img class="profilePicture img img-circle" data-ng-src="{{personalProfile.url}}" 
				data-err-src="assets/public/img/ic_teacher.png" data-ng-if="personalProfile.ruolo=='DOCENTE'"></img>
				
				<img class="profilePicture img img-circle" data-ng-src="{{personalProfile.url}}" 
				data-err-src="assets/public/img/ic_student.png" data-ng-if="personalProfile.ruolo=='STUDENTE'"></img>
				
				<div class="hoverContent profilePicture" data-ng-if="personalProfile.isModifiable" 
					data-ngf-select data-ngf-change="personalProfile.uploadCover($files)">
					<span class="glyphicon glyphicon-camera iconHover"></span>
				</div>
				
			</div>
			
			<p style="cursor:pointer;" data-ng-click="personalProfile.switchEditProfile()" data-ng-if="personalProfile.user.profile.quote!=null"><i><a>"{{personalProfile.user.profile.quote}}"</a></i> </p>			
			
			<p data-ng-if="personalProfile.user.email!=null"><label>Email:</label> {{personalProfile.user.email}} </p>
			
			<p style="cursor:pointer;" data-ng-click="personalProfile.switchEditProfile()" data-ng-if="personalProfile.user.profile.school!=null"><a><label>Scuola:</label> {{personalProfile.user.profile.school}} ({{personalProfile.user.profile.schoolCity}}) </a></p>
	
			<!--  <h4>Scuola, materie insegnate / preferite, Interessi, Citazione</h4>--> 
			
			
		</div>
		<div class="col-sm-7 col-md-6 col-lg-5 box fixedHeight imgProfile"
				style="background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)),url('{{personalProfile.coverLarge}}'), url('assets/public/img/cover_default.jpg')">		
			
		<a href="">
		<div class="bottomCoverDiv">
			<span data-ng-show="personalProfile.isModifiable" 
				class="glyphicon glyphicon-camera overlapIconCover pull-right"
					ngf-select
					ngf-change="personalProfile.uploadCoverLarge($files)"></span>
		</div>		
		</a>
					
<!-- 		<div class="col-md-2"></div> -->
<!-- 		<div> -->
<!-- 			<h3>MyImage</h3> -->
<!-- 				<div data-ng-repeat="thumb in images track by $index"> -->
<!-- 					<img data-ng-src='data:image/jpeg;base64, {{thumb}}'> -->
<!-- 				</div> -->
<!-- 			<h3>MyFile</h3> -->
<!-- 			<div data-ng-repeat="thumb in files"> -->
<!-- 					<img data-ng-src='{{thumb}}'> -->
<!-- 				</div> -->
<!-- 		</div> -->
		</div>
	</div>
	
	
	<div class="row" data-ng-hide="personalProfile.isModifiable && personalProfile.editProfile">
		<div class="col-md-1 col-lg-2"></div>
		<div class="col-sm-12 col-md-10 col-lg-8 box2 boxBrown" >
				<span data-ng-if="personalProfile.user.profile.gender!=null"><label>Sesso: </label><span data-ng-show="personalProfile.user.profile.gender"> Uomo</span> <span data-ng-hide="personalProfile.user.profile.gender">Donna</span></span> 
				<span data-ng-if="personalProfile.user.profile.bornDate!=null"><hr><label>Data di nascita:</label> {{personalProfile.user.profile.bornDate | date: personalProfile.dateFormat}} </span>	
				<span data-ng-if="personalProfile.user.profile.bornCity!=null"><hr><label>Città di nascita:</label> {{personalProfile.user.profile.bornCity}} </span>
				<span data-ng-if="personalProfile.user.profile.schoolCity!=null"><hr><label>Città della scuola:</label> {{personalProfile.user.profile.schoolCity}}</span> 
		</div>
	</div>
	
	
	<div class="row" data-ng-if="personalProfile.isModifiable && personalProfile.editProfile">
		<div class="col-md-1 col-lg-2"></div>
		<div class="col-sm-12 col-md-10 col-lg-8 box2 boxGray" >
	
			<form class="form-horizontal paddingSLeft" role="form">
			    <div class="form-group ">
			      <label class="control-label control-label-custom col-sm-4 ">CITAZIONE:</label>
			      <div class="col-sm-7 paddingSRight">
			        <input type="text" class="form-control " ng-model="personalProfile.updateUserDTO.quote">
			      </div>
			    </div>
			    <div class="form-group ">
			      <label class="control-label control-label-custom col-sm-4">SESSO:</label>
			      <div class="col-sm-7 paddingSRight onoffswitch">  
			      	<div class="onoffswitch">
					    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked ng-model="personalProfile.updateUserDTO.gender">
					    <label class="onoffswitch-label" for="myonoffswitch">
					        <span class="onoffswitch-inner"></span>
					        <span class="onoffswitch-switch"></span>
					    </label>
					</div>        
			      </div>
			    </div>
			   
			    
			    <div class="form-group">
			      <label class="control-label control-label-custom col-sm-4">SCUOLA:</label>
			      <div class="col-sm-7 paddingSRight">          
			        <input type="text" class="form-control" ng-model="personalProfile.updateUserDTO.school">
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label control-label-custom col-sm-4">CITTA' IN CUI SI TROVA LA SCUOLA:</label>
			      <div class="col-sm-7 paddingSRight">          
			        <input type="text" class="form-control" ng-model="personalProfile.updateUserDTO.schoolCity">
			      </div>
			    </div>
			    
			    <div class="form-group">
			      <label class="control-label control-label-custom col-sm-4">CITTA' NASCITA:</label>
			      <div class="col-sm-7 paddingSRight">          
			        <input type="text" class="form-control" ng-model="personalProfile.updateUserDTO.bornCity">
			      </div>
			    </div>
		
			    <div class="form-group">
			    		<label class="control-label control-label-custom col-sm-4">DATA NASCITA:</label>
			    		<div class="col-sm-7 paddingSRight">
							<form class="form-inline">
									
									<input style="cursor:pointer;" ui-date="personalProfile.dateOptions" ui-date-format="d-m-yy" class="form-control" 
										data-ng-model="personalProfile.bornDateString"></input>
								
							</form>
						</div>
				</div>
				
			   <br>
			    
			   <div class="form-group">
			  		<span class="pull-right control-label col-sm-4" style="cursor:pointer; text-align:right;" data-ng-if="personalProfile.isModifiable" href="" data-ng-click="personalProfile.switchEditPassword()"><a>Cambia password</a></span> 
				</div>
			    
			    
			</form>

		</div>
	</div>
	<div  id="changePwd" class="row" data-ng-if="personalProfile.isModifiable && personalProfile.editPassword">
		<div class="col-md-1 col-lg-2"></div>
		<div class="col-sm-12 col-md-10 col-lg-8 box boxGray" >
		<form class="form-horizontal paddingSLeft" role="form">
			 <div class="form-group row">
			      <label class="control-label control-label-custom col-sm-4">VECCHIA PASSWORD:</label>
			      <div class="col-sm-4 paddingSRight">          
			        <input style="width:100%; margin:auto;" type="password" autocomplete="off" class="form-control" ng-model="personalProfile.oldPassword">
			      </div>
			</div>
			<div class="form-group row">
			      <label class="control-label control-label-custom col-sm-4">NUOVA PASSWORD:</label>
			      <div class="col-sm-4 paddingSRight">          
			        <input style="width:100%; margin:auto;" type="password" autocomplete="off" class="form-control" ng-model="personalProfile.newPassword">
			      </div>
			</div>
			<div class="form-group row">
			      <label class="control-label control-label-custom col-sm-4">RIPETI NUOVA:</label>
			      <div class="col-sm-4 paddingSRight">          
			        <input style="width:100%; margin:auto;" type="password" autocomplete="off" class="form-control" ng-model="personalProfile.newPassword2">
			      </div>
			</div>
			<div class="form-group row">
			      <div class="col-sm-4"></div>
			      <div style="color:red;" class="col-sm-4 paddingSRight">          
			        {{personalProfile.messageErrorModifyPassword}}
			      </div>
			</div>
			<br>
			
			<button class="btn btn-success" data-ng-click="personalProfile.modifyPassword()">Cambia password</button>	
			<button class="btn btn-warning" data-ng-click="personalProfile.deleteModifyPassword()">Annulla cambio password</button>	
		</form>
		</div>
	</div>	
	<div class="row" data-ng-if="personalProfile.isModifiable">
		<div class="col-md-1 col-lg-2"></div>
			<div class="col-sm-12 col-md-10 col-lg-8 box boxBrown" >
				<div class="marginMTop">
					<div class="row" ng-show="!personalProfile.editProfile">
							<div ng-click="personalProfile.showEditProfile()"  style="cursor:pointer;" class="col-sm-4">
								<img src="assets/public/img/char_profile/ic_edit_act.png"
								style="height:100px;" 	/>													
							</div>
							<div style="cursor:no-drop;" class="col-sm-4">
								<img src="assets/public/img/char_profile/ic_save_inact.png" 
								style="height:100px;">
							</div>
							<div style="cursor:no-drop;" class="col-sm-4">
								<img src="assets/public/img/char_profile/ic_discard_inact.png" 
								style="height:100px;">
							</div>
							
					</div>
					<div class="row" ng-show="personalProfile.editProfile">
							<div style="cursor:no-drop;" class="col-sm-4">
								<img src="assets/public/img/char_profile/ic_edit_inact.png" 
								style="height:100px;">
							</div>
							<div style="cursor:pointer;" class="col-sm-4">
								<img src="assets/public/img/char_profile/ic_save_act.png" 
								data-ng-click="personalProfile.updateMe(); personalProfile.closeEditProfile(); " style="height:100px;">
							</div>
							<div style="cursor:pointer;" class="col-sm-4">
								<img src="assets/public/img/char_profile/ic_discard_act.png" 
								ng-click="personalProfile.deleteUpdateMe(); personalProfile.closeEditProfile();" style="height:100px;">
							</div>					
					</div>
				</div>
			</div>
	</div>
	
	<div class="row" data-ng-if="personalProfile.editablePassword">
		<div class="col-md-1 col-lg-2"></div>
		<div class="col-sm-12 col-md-10 col-lg-8 box boxBrown" >
			
				<label for="oldP">Vecchia password:</label><input style="width:25%; margin:auto;" type="password" data-ng-model="personalProfile.oldPassword" class="form-control" id="oldP"></input>
				<label for="newP">Nuova password:</label><input style="width:25%; margin:auto;" type="password" data-ng-model="personalProfile.newPassword" class="form-control" id="newP"></input>
				<label for="newP2">Ripeti Nuova password:</label><input style="width:25%; margin:auto;" type="password" data-ng-model="personalProfile.newPassword2" class="form-control" id="newP2"></input>
				<br>
				<button data-ng-click="personalProfile.modifyPassword()">Cambia</button>
		</div>
	</div>
	
</div>