<div class="container-fluid">
	
	<div class="row">
		<hr class="hrDivider">
	</div>	
		
	<div>
		<insert-post 
			character="scenario.currentCharacter" 
			posts="scenarioPost.posts" scenario="scenarioPost.scen" 
			has-character="scenario.hasCharacter" is-moderator ="scenario.isModerator">
		</insert-post>
	</div>
	
</div>


<!-- ELENCO POST -->
<div class="row" update-post-on-scrool stop="scenarioPost.stopUpdatePost()" start="scenarioPost.startUpdatePost()">
	<div data-ng-repeat="s in scenarioPost.posts">
		<show-news-post post="s" scenario-id="{{scenarioPost.scen.id}}" logged-user= "scenario.loggedUser" current-character="scenario.currentCharacter"></show-news-post>
	</div>
</div>
