

	<div class="row">
		<div class="col-sm-12" id="header">
			<h4 id="page-title"> Stai leggendo il giornale numero 
			{{publishedNewspaper.newspaper.number}} dello scenario:</h4>
		</div>
	</div>



<div class="row">
		<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 giornale" style="padding-bottom: 2%;">
			<div class="row" style="padding: 7px;">
				<headline-newspaper newspaper = "publishedNewspaper.newspaper" scenario = "publishedNewspaper.scen"></headline-newspaper>
			</div>
			
			
			<!-- icona art 1 -->		
	<div data-ng-if = "publishedNewspaper.isJournalist"  

class=" col-xs-2 col-sm-2 visible-xs visible-sm visible-md visible-lg pull-right "
style="animation-delay: 1s;" >
		<a style="cursor: pointer;"  data-placement="bottom"
		data-ng-click = "publishedNewspaper.goToDraft(1)" > 
			<img
	data-toggle="tooltip" title="Modifica articolo" 
		src="/assets/public/img/newspaper-img/ic_edit_article.png"
		class="img-mod-2">
			</a>
</div>
					
					<article-two-columns newspaper= "publishedNewspaper.newspaper"> </article-two-columns>
		 <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						
	<div data-ng-if = "publishedNewspaper.isJournalist"  

class=" col-xs-2 col-sm-2 visible-xs visible-sm visible-md visible-lg pull-right "
style="animation-delay: 1s;" >
		<a style="cursor: pointer;"  data-placement="bottom"
		data-ng-click = "publishedNewspaper.goToDraft(2)" > 
			<img
	data-toggle="tooltip" title="Modifica articolo" 
		src="/assets/public/img/newspaper-img/ic_edit_article.png"
		class="img-mod-3">
			</a>
</div>					
						
						<div class="col-sm-12 line-3" style = "margin-top: -2%"></div>
							<article-one-column-img newspaper= "publishedNewspaper.newspaper"></article-one-column-img>
					</div>
					
			<div data-ng-if = "publishedNewspaper.isJournalist"  

class=" col-xs-2 col-sm-2 visible-xs visible-sm visible-md visible-lg pull-right "
style="animation-delay: 1s;" >
		<a style="cursor: pointer;"  data-placement="bottom"
		data-ng-click = "publishedNewspaper.goToDraft(3)" > 
			<img
	data-toggle="tooltip" title="Modifica articolo" 
		src="/assets/public/img/newspaper-img/ic_edit_article.png"
		class="img-mod-2">
			</a>
</div>				
					
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						</br>
					<article-two-columns-img newspaper= "publishedNewspaper.newspaper"></article-two-columns-img>
					</div>
			</div>
		</div> 
		
	<div class="row">	
	<div class="col-sm-4 pull-right">
			<div data-ng-click="publishedNewspaper.goToDashboard();"
			class="btn generalButton1">TORNA ALLA REDAZIONE</div>
			</div>
	</div>