<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="row">
				<div class="col-xs-10">
					<h1>I miei scenari</h1>			
				</div>
				<div class="col-xs-2">
					<div class="col-sm-2" ng-click="dashboard.showPopUpCreationScenario()" >
						<img href="" src="assets/public/img/Icon_WriteArticles.png"
							class="img-circle imgPreviewL" > 
						<h4><i>Crea scenario</i></h4>
					</div>
				</div>
			</div>
			<div class="box">
				<h2>Scenari in creazione</h2>
				<div ng-if='scenariosList.user.creatingScenarios==null'>Non sono presenti scenari in creazione</div>			
				
					<div class="row sideMarginThree">
					<div data-ng-repeat="s in scenariosList.user.creatingScenarios" data-ui-sref="logged.scenarioWizard.info({id : '{{s.id}}' })">
						<div class="col-sm-4"  data-ui-sref="createScenario">
						<!-- Aggiungere il link con la pagina giusta -->
							<div class="row marginMTop">
								<div class="col-sm-6">
									<div class="roundedImgDiv" 
									style="background-image:url('api/v1/scenarios/{{s.id}}/cover'),
									url('assets/public/img/logo.png')"></div>
								</div>
									<div class="col-sm-6 vAlignExt">
										<div class="vAlignInt">{{s.name}}</div>										
									</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="box">		
				<h2>Scenari attivi</h2>
				<div ng-if='scenariosList.user.openScenarios==null'>Non sono presenti scenari attivi</div>
				<div class="row sideMarginThree">
					<div data-ng-repeat="s in scenariosList.user.openScenarios" >
						<div class="col-sm-4"  data-ui-sref="logged.scenario({id : '{{s.id}}' })">
							<div class="row marginMTop">
								<div class="col-sm-6">
									<div class="roundedImgDiv" 
									style="background-image:url('api/v1/scenarios/{{s.id}}/cover'),
									url('assets/public/img/logo.png'),
									url('assets/public/img/logo.png')"></div>
								</div>
								<div class="col-sm-6 vAlignExt">
									<div class="vAlignInt">{{s.name}} {{s.creationDate}}</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="box">			
				<h2>Scenari conclusi</h2>
				<div ng-if='scenariosList.user.closedScenarios==null'>Non sono ancora stati chiusi scenari</div>
				<div class="row sideMarginThree">
					<div data-ng-repeat="s in scenariosList.user.closedScenarios" >				
						<div class="col-sm-4"  data-ui-sref="logged.scenario({id : '{{s.id}}' })">
							<div class="row marginMTop">
								<div class="col-sm-6">
									<div class="roundedImgDiv" 
									style="background-image:url('api/v1/scenarios/{{s.id}}/cover')"></div>
								</div>
									<div class="col-sm-6 vAlignExt">
										<div class="vAlignInt">{{s.name}}</div>
									</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2"></div>
		
	</div>

</div>