<meta charset="UTF-8">
<div class="container-fluid">	
		<div class="row">
		<section class="col-sm-9 col-md-8 col-sm-push-3 col-md-push-2">
				<div class="jumbotron" style="background-image: url('{{scenario.scen.cover}}')">		
					<h1>{{scenario.scen.name}}</h1>
					    <p id="uploadSpan" ngf-select ngf-change="uploadCover($files)"><span class="glyphicon glyphicon-camera"></span></p>
					
				</div>
				<ul class="nav nav-pills nav-justified menu">
					<li><a href="#">POST</a></li>
					<li><a href="#">PERSONAGGI</a></li>
					<li><a href="#">MAPPE</a></li>
				</ul>
				<!-- inserire il menu per timeline/news -->
				
			</section>		
			<aside class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-8">
				<div class="col-xs-12 box">
							<h3>Nuovo compito</h3>	
							<div class="marginMTop">
								<form role="form">
							<div class="form-group">
								<input type="text" class="form-control" id="email"
									placeholder="TITOLO DEL COMPITO">
							</div>
							<div class="form-group">
								I PROMESSI SPOSI
							</div>
							<div class="form-group">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<form class="form-inline">
											<div class="form-group">
												<input ui-date="dateOptions" class="form-control" required
													data-ng-model="register.bornDate"
													placeholder="DATA CONSEGNA COMPITO"></input>
											</div>
										</form>
									</div>
								</form>
							</div>
							<button type="submit" class="confirm btn btn-default">Crea</button>
						</form>
							</div>
				</div>
				<div class="col-xs-12 box">
					<table class="marginM">
						<tbody>
							<tr>
								<td><img src="http://www.colorhexa.com/607931.png" class="img-circle imgPreviewM tableMargin"></td>
								<td>
									<table>
									<tbody>
									  <tr>
										<td><span>Nome Cognome</span></td>
									  </tr>
									  <tr>
										<td><span> Crea nuovo post </span><span class="glyphicon glyphicon-pencil"></span></td>
									  </tr>
									</tbody>
									</table>												
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</aside>
			
			<aside class="col-xs-12 col-md-2">
				<div class="col-xs-12 box">
					<div class="input-group marginM">
					
					
					  <input type="text" class="form-control" placeholder="Cerca nello scenario...">
					  <span class="input-group-btn">
						<button class="btn btn-default confirm" type="button"><span class="glyphicon glyphicon-search"></span></button>
					  </span>
					</div>
				</div>
				
				<div class="col-xs-12 box">
					<p class="marginMTop">
						Creato da<b> Nome Cognome</b><br>
						<b>N°</b> collaboratori<br>
						<b>N°</b> partecipanti<br>
						<b>N°</b> personaggi
					</p>
				</div>
				
				<div class="col-xs-12 box">
					<p class="marginMTop">
						Gestisci scenario
					</p>
				</div>
			</aside>
		</div>
		<div class="row marginMTop">
			<section class="col-sm-9 col-md-8 col-sm-push-3 col-md-push-2">
				<div class="col-xs-12 box post">
				<input type="text" class="form-control" placeholder="TITOLO DEL NUOVO POST" style="margin-top:3px;">
					<textarea class="form-control" rows="3" placeholder="CONTENUTO"></textarea>
					<table class="table" style="margin-bottom:0px;">
						<tr>
						<td style="padding:0px;">
								<input type="date" id="date" class="form-control" required="required"></input>
							</td>
							<td><button type="confirm" class="confirm btn btn-default" style="float:right; margin:0px;">CREA</button></td>
						</tr>
					</table>
					
				</div>
				<div class="col-xs-12 box">	
				<div class="post">
					<table class="table" style="margin-bottom:0px;">
					<tr>
						<td>
						<div id="innominatoProvvisorio"></div>
						</td>
						<td style:"padding-top:40px;">
							<h3>Il tormento interiore dell'Innominato</h3>
							<p>Inviato da <span class="evidenziato">L'Innominato</span> il<span class="evidenziato"> 10 dicembre 1628</span> presso <span class="evidenziato">Il Castello dell'Innominato</span></p>	
						</td>
					</tr>
					</table>				
					<p class="testo">«Per un uomo! Tutti premurosi, tutti allegri, per vedere un uomo! E però ognuno di costoro avrà il suo diavolo che lo tormenti. Ma nessuno, nessuno n'avrà uno come il mio; nessuno avrà passata una notte come la mia! Cos'ha quell'uomo, per render tanta gente allegra? [...] Oh se le avesse per me le parole che possono consolare! se...! Perché non vado anch'io? Perché no?... Anderò, anderò; e gli voglio parlare: a quattr'occhi gli voglio parlare. Cosa gli dirò? Ebbene, quello che, quello che... Sentirò cosa sa dir lui, quest'uomo!»
					</p>
					<div id="innProvvisorio"></div>
					<p><span class="evidenziato">2 commenti</span> | <span class="evidenziato">3 meta-commenti</span></p>
					<input type="text" class="form-control" placeholder="INSERISCI COMMENTO" style="margin-top:3px;">
					</div>
				</div>
				<div class="col-xs-12 box">	
				<div class="post">
					<table class="table" style="margin-bottom:0px;">
					<tr>
						<td>
						<div id="luciaProvvisoria"></div>
						</td>
						<td style:"padding-top:40px;">
							<h3>Addio, monti</h3>
							<p>Inviato da <span class="evidenziato">Lucia Mondella</span> il<span class="evidenziato"> 10 novembre 1628</span> presso <span class="evidenziato">Lago di Como</span></p>	
						</td>
					</tr>
					</table>				
					<p class="testo">«Addio, monti sorgenti dall'acque, ed elevati al cielo; cime inuguali, note a chi è cresciuto tra voi, e impresse nella sua mente, non meno che lo sia l’aspetto de' suoi più familiari; torrenti, de' quali distingue lo scroscio, come il suono delle voci domestiche; ville sparse e biancheggianti sul pendio, come branchi di pecore pascenti; addio! Quanto è tristo il passo di chi, cresciuto tra voi, se ne allontana! Alla fantasia di quello stesso che se ne parte volontariamente, tratto dalla speranza di fare altrove fortuna, si disabbelliscono, in quel momento, i sogni della ricchezza; egli si maraviglia d’essersi potuto risolvere, e tornerebbe allora indietro, se non pensasse che, un giorno, tornerà dovizioso.[...]»
					</p>
					<p><span class="evidenziato">4 commenti</span> | <span class="evidenziato">12 meta-commenti</span></p>
					<input type="text" class="form-control" placeholder="INSERISCI COMMENTO" style="margin-top:3px;">
					</div>
				</div>
			</section>
			<aside class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-8">
				<div class="col-xs-12 box">
					<h3>Giornale</h3>	
				</div>
				
				<div class="col-xs-12 box">
					<h3>Materiale</h3>	
				</div>
				
				<div class="col-xs-12 box">
					<h3>Classifiche</h3>	
				</div>
				
			</aside>
			<aside class="col-xs-12 col-md-2">
				<div class="col-xs-12 box">
					<h3>News</h3>	
				</div>
			</aside>
		</div>
</div>