<div class="modal-header">
	<h3 class="modal-title">Modifica la data di <span data-ng-if="dialogSetDate.start">inizio</span><span data-ng-if="!dialogSetDate.start">fine</span></h3>
</div>
<div class="modal-body">
	<label for="title">{{scenarioWizard.scenario.name}}</label>
	<label for="startDate">DATA INIZIO</label>
	
	<div class="form-group row" id="startDate">
	
		<input style="margin:3px;" class="col-xs-3 " type="text" data-ng-model="dialogSetDate.newDate.year"  placeholder="Anno"/>
		
		<select class="selectpicker" data-ng-model="dialogSetDate.newDate.month" >
		    <option value="" disabled selected style="display:none;">Mese</option>
		    <option value="1">Gennaio</option>
		    <option value="2">Febbraio</option>
		    <option value="3">Marzo</option>
		    <option value="4">Aprile</option>
		    <option value="5">Maggio</option>
		    <option value="6">Giugno</option>
		    <option value="7">Luglio</option>
		    <option value="8">Agosto</option>
		    <option value="9">Settembre</option>
		    <option value="10">Ottobre</option>
		    <option value="11">Novembre</option>
		    <option value="12">Dicembre</option>
 		</select>
 		
		<select class="selectpicker"  data-ng-model="dialogSetDate.newDate.day">
		    <option value="" disabled selected style="display:none;">Giorno</option>
		    <option>1</option>
		    <option>2</option>
		    <option>3</option>
		    <option>4</option>
		    <option>5</option>
		    <option>6</option>
		    <option>7</option>
		    <option>8</option>
		    <option>9</option>
		    <option>10</option>
		    <option>11</option>
		    <option>12</option>
		    <option>13</option>
		    <option>14</option>
		    <option>15</option>
		    <option>16</option>
		    <option>17</option>
		    <option>18</option>
		    <option>19</option>
		    <option>20</option>
		    <option>21</option>
		    <option>22</option>
		    <option>23</option>
		    <option>24</option>
		    <option>25</option>
		    <option>26</option>
		    <option>27</option>
		    <option>28</option>
		    <option>29</option>
		    <option>30</option>
		    <option>31</option>
 		</select>
 		

		<span class="btn-group">
			<label class="btn-primary btn-sm" data-ng-model="dialogSetDate.newDate.afterChrist" btn-radio="false">A.C.</label>
			<label class="btn-primary btn-sm" data-ng-model="dialogSetDate.newDate.afterChrist" btn-radio="true">D.C.</label>
		</span>
		
	</div>

	
	<alertgeneric></alertgeneric>
	
</div>
<div class="modal-footer">
	<button class="positiveButton btn" data-ng-click="dialogSetDate.closeModal()">MODIFICA</button>
	<button class="generalButton btn" data-ng-click="$dismiss()">ANNULLA</button>
	
</div>
<!-- Test commit -->

