<div data-ng-if="!showNewsPost.deleted">

<div data-ng-if="showNewsPost.post.character" class="container-fluid">
	<div class="col-md-12 box boxGray">
		<div class="row marginSTop">	
			<div class="col-xs-2 col-sm-3 col-md-2">
				<img data-ui-sref="logged.scenario.charprofile({id : '{{showNewsPost.scenario.id}}', idCharacter : '{{showNewsPost.currentCharacter}}' })"
					class="img-thumbnail imgPreviewL marginMRight hidden-xs visible-sm visible-md visible-lg"
					data-ng-src="{{showNewsPost.post.character.cover}}"
					data-err-src="assets/public/img/icon/pg.png"></img>
				<img data-ui-sref="logged.scenario.charprofile({id : '{{showNewsPost.scenario.id}}', idCharacter : '{{showNewsPost.currentCharacter}}' })"
				class="img-thumbnail imgPreviewM marginMRight visible-xs hidden-sm hidden-md hidden-lg"
				data-ng-src="{{showNewsPost.post.character.cover}}"
				data-err-src="assets/public/img/icon/pg.png"></img>
			</div>
			<div class="col-xs-8 col-sm-9 col-md-10">
				<span class="pull-right marginMRight" href="">						
					<a href="" data-ui-sref="logged.userProfile({id : '{{showNewsPost.post.user.id}}'})">
						<span class="glyphicon glyphicon-user"></span>
						{{showNewsPost.post.user.firstname}} {{showNewsPost.post.user.lastname}},
						{{showNewsPost.post.creationDate | date: showNewsPost.realDateFormat}} 	
										
					</a>
						
					<div class="marginMLeft dropdown pull-right">
						<a class="glyphicon glyphicon-cog dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#" ng-click="showNewsPost.switchEditPost()">Modifica post</a></li>
						    <li><a href="#" ng-click="showNewsPost.deletePost()">Elimina post</a></li>
						 </ul>	
					 </div>	
					 <div data-ng-if="showNewsPost.post.lastChangeDate && (showNewsPost.post.lastChangeDate != showNewsPost.post.creationDate)">
						<font size="2" color="#868686">Modificato il: {{showNewsPost.post.lastChangeDate | date: showNewsPost.realDateFormat}}</font>
					</div>				
				</span>	
				<div class="row">					
								
					<h4 class="pull-left"><a href="" data-ui-sref="logged.scenario.charprofile({id : '{{showNewsPost.scenario.id}}', idCharacter : '{{showNewsPost.currentCharacter}}' })">
											{{showNewsPost.post.character.name}}</a>
					</h4>
				</div>
	<!-- DIV di default  INIZIO --------------------------------------------------------------------------------->
				<div  ng-show="!showNewsPost.editPost">
					<div class="row">
						<p class="pull-left">{{showNewsPost.formatDate(showNewsPost.post.julianDayNumber)}}
							<span data-ng-show="showNewsPost.post.place.text"> - presso <i>{{showNewsPost.post.place.text}}</i></span>
							<a><span data-ng-click="showNewsPost.viewMap()" data-ng-show="showNewsPost.post.place.x" class="glyphicon glyphicon-map-marker"></span></a>
						</p>
					</div>
					<div class="row text-left paddingMRight">
						<p class="textJustify" data-ng-bind-html="showNewsPost.post.text | linky:'_blank'"></p>
					</div>
					<div data-ng-show="showNewsPost.post.tags.length>0" class="row text-left marginSTop">
						<b>Con: </b>
						<span data-ng-repeat="t in showNewsPost.post.tags">
							<a href="" data-ui-sref="">{{t.firstname}}</a>
						</span>
					</div>					
					<div class="row">								
						<div data-ng-repeat="row in showNewsPost.post.media track by $index">
							<div data-ng-click="showNewsPost.openPostGallery($parent.$index, $index)"
								data-ng-repeat="col in row track by $index" class="col-lg-2 col-md-3 col-xs-4 noPadding text-left">
								<img data-ng-src="{{col}}" class="imgPreviewL marginMTop" />
							</div>
						</div>
						<div data-ng-repeat="file in showNewsPost.post.filesMetadata">
							<div class="col-sm-2 textLeft noPadding">
								<a href="{{showNewsPost.getMediaUrl(file.id)}}" target="_self" download="{{file.originalName}}">{{file.originalName}}</a>
							</div>
						</div>
					</div>	
					<div class="row">
					<div class="col-xs-12 noPaddingLeft">
					<hr></div>
				</div>					
				<div class="row text-left">
					<div class="btn invisibleButton">
						<like-to post="showNewsPost.post" liker="showNewsPost.currentCharacter"
						scenario-id="{{showNewsPost.scenario.id}}"></like-to>
					</div>
					<button type="button" class="btn invisibleButton"
						data-ng-class="showNewsPost.classCommentButton"
						data-ng-click="showNewsPost.switchShowComment()">			
						<span class="glyphicon glyphicon-comment marginLRight"></span>
					Commenta
					</button>						
					<button type="button" class="btn invisibleButton"								
						data-ng-click="showNewsPost.switchShowMetaComment()" >
						<span class="glyphicon glyphicon-exclamation-sign marginLRight"></span>Suggerisci
					</button>
				</div>						
				<div class="row marginSTop">
					<summarize-info-post data-ng-if="!showNewsPost.deleted" post="showNewsPost.post" current-character="showNewsPost.currentCharacter" show-comment="showNewsPost.showComment" show-meta-comment="showNewsPost.showMetaComment"></summarize-info-post>
				</div>
				<div data-ng-if="showNewsPost.showComment" class="row">
					<comment-to post="showNewsPost.post" writer="showNewsPost.currentCharacter"
						scenario-id="{{showNewsPost.scenario.id}}" current-character="showNewsPost.currentCharacter"></comment-to>
				</div>
				<div data-ng-if="showNewsPost.showMetaComment" class="row">
					<meta-comment-to post="showNewsPost.post" writer="showNewsPost.loggedUser"
						scenario-id="{{showNewsPost.scenario.id}}"></meta-comment-to>
				</div>
				</div>
				
	<!-- DIV di default  FINE ----------------------------------------------------------------------------------------------------------->
				
	<!-- DIV di update  INIZIO ---------------------------------------------------------------------------------------------------------->
				
				<div ng-show="showNewsPost.editPost">
					<div class="row">
						<p class="pull-left">{{showNewsPost.formatDate(showNewsPost.post.julianDayNumber)}}
							<span data-ng-show="showNewsPost.post.place.text"> - presso <i>{{showNewsPost.post.place.text}}</i></span>
							<a><span data-ng-click="showNewsPost.viewMap()" data-ng-show="showNewsPost.post.place.x" class="glyphicon glyphicon-map-marker"></span></a>
						</p>
					</div>
					<div class="row paddingMRight">
						<textarea data-ng-model ="showNewsPost.postDTO.text" class="pull-left allWidth" rows="3">{{showNewsPost.postDTO.text}}</textarea>
				
					</div>
					<div data-ng-show="showNewsPost.post.tags.length>0" class="row text-left marginSTop">
						<b>Con: </b>
						<div class="tags-wrapper">
						<div class="tags-cloud">
							<div data-ng-repeat="t in showNewsPost.post.tags" class="tag">
								<span class="tagName" >
									{{t.firstname}}
								</span>
								<span>
									&nbsp;<b data-ng-click="showNewsPost.removeTag($index)" class="glyphicon glyphicon-remove"></b>
								</span>	
							</div>
						</div>
						</div>
						
					</div>
							
					<div class="row marginSTop ">
						<div class="pull-left marginSTop marginMRight">
<!-- 							<div title="Aggiungi un'immagine al post" ngf-select -->
<!-- 								ngf-change="showNewsPost.addImageToPost($files)" -->
<!-- 								class="tooltips glyphicon glyphicon-camera iconsMargin" -->
<!-- 								data-ng-style="showNewsPost.colorImageMarker" -->
<!-- 								data-ng-click="showNewsPost.hideTagBox()"></div> -->
							
<!-- 							<div title="Allega un file al post" ngf-select -->
<!-- 								ngf-change="showNewsPost.addFileToPost($files)" -->
<!-- 								class="tooltips glyphicon glyphicon-file iconsMargin" -->
<!-- 								data-ng-style="showNewsPost.colorFileMarker" -->
<!-- 								data-ng-click="showNewsPost.hideTagBox()"></div> -->
						
<!-- 							<div title="Aggiungi una posizione al post" -->
<!-- 								class="tooltips glyphicon glyphicon-map-marker iconsMargin" -->
<!-- 								data-ng-click="showNewsPost.setPositionPost(); showNewsPost.hideTagBox()" -->
<!-- 								data-ng-style="showNewsPost.colorMapMarker"></div> -->
				
							<div class="tooltips glyphicon glyphicon-tags iconsMargin" data-ng-style="showNewsPost.colorTagsMarker"
								title="Tagga personaggi al post"
								data-ng-click="showNewsPost.switchShowTagBox()">
							</div>
						</div>
					</div>
					<div class="row text-left">		
	
						<tags-input data-ng-show="showNewsPost.showTagBox"
							data-ng-model="showNewsPost.newCharactersToTags" display-property="name"
							placeholder="TAGGA UN PERSONAGGIO" replace-spaces-with-dashes="false"
							template="tag-template" add-from-autocomplete-only="true">
						<auto-complete source="showNewsPost.search($query)"
							min-length="0" load-on-focus="true" load-on-empty="true"
							max-results-to-show="32" template="autocomplete-template">
						</auto-complete> </tags-input>
			
				
						<div class="row">
							<div data-ng-repeat="row in showNewsPost.post.media track by $index">
							<div data-ng-repeat="col in row track by $index" class="col-lg-2 col-md-3 col-xs-4 text-left imgToPost">
								<img data-ng-src="{{col}}" class="imgPreviewL" />
								<div class="hoverContent imgPreviewL textRight"><span class="glyphicon glyphicon-remove iconsMargin"
										data-ng-click="showNewsPost.recalculateMatrix()"></span></div>
								</div>
							</div>
							
							<div data-ng-repeat="image in showNewsPost.post.image">
								<div class="col-lg-2 col-md-3 imgToPost">
									<img class="img imgPreviewL" ng-src="{{showNewsPost.getMedia(image.id)}}">
									
									
							<!-- 					<div title="Indica le tue fonti" -->
							<!-- 						data-ng-click="scenarioPost.addSourceToNewPost()" -->
							<!-- 						class="tooltips glyphicon glyphicon-book" style="margin-right: 5px;"></div> -->
							<!-- 					<label></label> -->
							<!-- 				</div> -->
			
								</div>
							</div>
						</div>
						<!-- Inserire icone -->
						<div class="row">
							<div data-ng-repeat="file in showNewsPost.post.filesMetadata">				
									<div class="col-sm-2 textLeft">
										{{file.originalName}} 
										<span data-ng-show="file.originalName" show-on-hover-parent
											class="glyphicon glyphicon-remove"
											data-ng-click="showNewsPost.removeFile(file)"></span>
									</div>
							</div>
						</div>
					</div>
					<div class="row col-xs-12">
						<div class="pull-right">
							<button data-ng-click="showNewsPost.updateStatus()"
								class="btn generalButton">AGGIORNA POST</button>
							
							<button data-ng-click="showNewsPost.closeEditPost()"
								class="btn btn-danger">ANNULLA</button>
						</div>
					</div>
				</div>
				<!-- DIV di update  FINE --------------------------------------------------------------------------------->		
								
				
			</div>
		</div>
	</div>
</div>

<!-- EVENTO -->
<div data-ng-if="!showNewsPost.deleted">

<div data-ng-if="!showNewsPost.post.character" class="container-fluid">
	<div class="col-md-12 box boxGray">
		<div class="row marginSTop">
			<div class="col-xs-2 col-sm-3 col-md-2">
				<img
					class="img-thumbnail imgPreviewL marginMRight hidden-xs visible-sm visible-md visible-lg"
					data-ng-src="assets/public/img/narr.png"></img>
				<img
				class="img-thumbnail imgPreviewM marginMRight visible-xs hidden-sm hidden-md hidden-lg"
				data-ng-src="assets/public/img/bookImage.png"></img>
			</div>
			<div class="col-xs-8 col-sm-9 col-md-10">
				<span class="pull-right marginMRight" href="">
					<a href="" data-ui-sref="logged.userProfile({id : '{{showNewsPost.post.user.id}}'})">
						<span class="glyphicon glyphicon-user"></span>
						{{showNewsPost.post.user.firstname}} {{showNewsPost.post.user.lastname}}
						{{showNewsPost.post.creationDate | date: showNewsPost.realDateFormat}}						
					</a>
						<div class="marginMLeft dropdown pull-right">
						<a class="glyphicon glyphicon-cog dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#" ng-click="showNewsPost.switchEditPost()">Modifica post</a></li>
						    <li><a href="#" ng-click="showNewsPost.deletePost()">Elimina post</a></li>
						 </ul>	
					 </div>	
					 <div data-ng-if="showNewsPost.post.lastChangeDate && (showNewsPost.post.lastChangeDate != showNewsPost.post.creationDate)">
						<font size="2" color="#868686">Modificato il: {{showNewsPost.post.lastChangeDate | date: showNewsPost.realDateFormat}}</font>
					</div>		
				</span>
				<div class="row">
					<h4 class="pull-left">
						<a href="">NARRATORE</a>
					</h4>
				</div>
				
				<!--  DIV di default inizio -->
				<div data-ng-show="!showNewsPost.editPost">
				<div class="row">			
					<p class="pull-left">{{showNewsPost.formatDate(showNewsPost.post.julianDayNumber)}}
						<span data-ng-show="showNewsPost.post.place.text"> - presso <i>{{showNewsPost.post.place.text}}</i></span>
						<a href=""><span data-ng-click="showNewsPost.viewMap()" data-ng-show="showNewsPost.post.place.x" class="glyphicon glyphicon-map-marker"></span></a>
					</p>				
				</div>
				<div class="row">
					<span class="pull-left" data-ng-bind-html="showNewsPost.post.text | linky:'_blank'"></span>
				</div>
				<div data-ng-show="showNewsPost.post.tags.length>0" class="row text-left marginSTop"> 
						
					<b>Con: </b>
					<span data-ng-repeat="t in showNewsPost.post.tags">
						<a href="">{{t.firstname}}</a>
					</span>
				</div>
				<div class="row">
					<div class="row" data-ng-repeat="row in showNewsPost.post.media track by $index">
							<div data-ng-click="showNewsPost.openPostGallery($parent.$index, $index)"
								data-ng-repeat="col in row track by $index" class="col-lg-2 col-md-3 col-xs-4 noPadding text-left">
								<img data-ng-src="{{col}}" class="imgPreviewL" />
							</div>
					</div>
					<div data-ng-repeat="file in showNewsPost.post.filesMetadata">
						<div class="col-sm-2">
							<a href="{{showNewsPost.getMediaUrl(file.id)}}" target="_self" download="{{file.originalName}}">{{file.originalName}}</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 noPaddingLeft">
					<hr></div>
				</div>			
				<div class="row text-left">
					<div class="btn invisibleButton">
						<like-to  post="showNewsPost.post" liker="showNewsPost.currentCharacter"
						scenario-id="{{showNewsPost.scenario.id}}"></like-to>
					</div>
					<button class="btn invisibleButton"
							data-ng-class="showNewsPost.classCommentButton" 
							data-ng-click="showNewsPost.switchShowComment()">
						<span class="glyphicon glyphicon-comment marginLRight"></span>
						Commenta
					</button>
					<button class="btn invisibleButton"
							data-ng-click="showNewsPost.switchShowMetaComment()">
						<span class="glyphicon glyphicon-exclamation-sign marginLRight"></span>
						Suggerisci
					</button>				
				</div>
				<div class="row marginSTop">
					<summarize-info-post  post="showNewsPost.post" current-character="showNewsPost.currentCharacter" show-comment="showNewsPost.showComment" show-meta-comment="showNewsPost.showMetaComment"></summarize-info-post>
				</div>	
				<div data-ng-if="showNewsPost.showComment" class="row">
					<comment-to post="showNewsPost.post" writer="showNewsPost.currentCharacter"
						scenario-id="{{showNewsPost.scenario.id}}" current-character="showNewsPost.currentCharacter"></comment-to>
				</div>
				<div data-ng-if="showNewsPost.showMetaComment" class="row">
					<meta-comment-to post="showNewsPost.post" writer="showNewsPost.loggedUser"
						scenario-id="{{showNewsPost.scenario.id}}"></meta-comment-to>
				</div>
			</div>
			<!-- DIV di default fine -->
			
			<!-- DIV di update inizio -->
			<div data-ng-show="showNewsPost.editPost">
				<div class="row">
						<p class="pull-left">{{showNewsPost.formatDate(showNewsPost.post.julianDayNumber)}}
							<span data-ng-show="showNewsPost.post.place.text"> - presso <i>{{showNewsPost.post.place.text}}</i></span>
							<a><span data-ng-click="showNewsPost.viewMap()" data-ng-show="showNewsPost.post.place.x" class="glyphicon glyphicon-map-marker"></span></a>
						</p>
					</div>
					<div class="row paddingMRight">
						<textarea data-ng-model ="showNewsPost.postDTO.text" class="pull-left allWidth" rows="3">{{showNewsPost.postDTO.text}}</textarea>
				
					</div>
					<div data-ng-show="showNewsPost.post.tags.length>0" class="row text-left marginSTop">
						<b>Con: </b>
						<div class="tags-wrapper">
						<div class="tags-cloud">
							<div data-ng-repeat="t in showNewsPost.post.tags" class="tag">
								<span class="tagName" >
									{{t.firstname}}
								</span>
								<span>
									&nbsp;<b data-ng-click="showNewsPost.removeTag($index)" class="glyphicon glyphicon-remove"></b>
								</span>	
							</div>
						</div>
						</div>
						
					</div>
							
					<div class="row marginSTop ">
						<div class="pull-left marginSTop marginMRight">
<!-- 							<div title="Aggiungi un'immagine al post" ngf-select -->
<!-- 								ngf-change="showNewsPost.addImageToPost($files)" -->
<!-- 								class="tooltips glyphicon glyphicon-camera iconsMargin" -->
<!-- 								data-ng-style="showNewsPost.colorImageMarker" -->
<!-- 								data-ng-click="showNewsPost.hideTagBox()"></div> -->
							
<!-- 							<div title="Allega un file al post" ngf-select -->
<!-- 								ngf-change="showNewsPost.addFileToPost($files)" -->
<!-- 								class="tooltips glyphicon glyphicon-file iconsMargin" -->
<!-- 								data-ng-style="showNewsPost.colorFileMarker" -->
<!-- 								data-ng-click="showNewsPost.hideTagBox()"></div> -->
						
<!-- 							<div title="Aggiungi una posizione al post" -->
<!-- 								class="tooltips glyphicon glyphicon-map-marker iconsMargin" -->
<!-- 								data-ng-click="showNewsPost.setPositionPost(); showNewsPost.hideTagBox()" -->
<!-- 								data-ng-style="showNewsPost.colorMapMarker"></div> -->
				
							<div class="tooltips glyphicon glyphicon-tags iconsMargin" data-ng-style="showNewsPost.colorTagsMarker"
								title="Tagga personaggi al post"
								data-ng-click="showNewsPost.switchShowTagBox()">
							</div>
						</div>
					</div>
					<div class="row text-left">		
	
						<tags-input data-ng-show="showNewsPost.showTagBox"
							data-ng-model="showNewsPost.newCharactersToTags" display-property="name"
							placeholder="TAGGA UN PERSONAGGIO" replace-spaces-with-dashes="false"
							template="tag-template" add-from-autocomplete-only="true">
						<auto-complete source="showNewsPost.search($query)"
							min-length="0" load-on-focus="true" load-on-empty="true"
							max-results-to-show="32" template="autocomplete-template">
						</auto-complete> </tags-input>
			
				
						<div class="row">
							<div data-ng-repeat="row in showNewsPost.post.media track by $index">
							<div data-ng-repeat="col in row track by $index" class="col-lg-2 col-md-3 col-xs-4 text-left imgToPost">
								<img data-ng-src="{{col}}" class="imgPreviewL" />
								<div class="hoverContent imgPreviewL textRight"><span class="glyphicon glyphicon-remove iconsMargin"
										data-ng-click="showNewsPost.recalculateMatrix()"></span></div>
								</div>
							</div>
							
							<div data-ng-repeat="image in showNewsPost.post.image">
								<div class="col-lg-2 col-md-3 imgToPost">
									<img class="img imgPreviewL" ng-src="{{showNewsPost.getMedia(image.id)}}">
									
									
							<!-- 					<div title="Indica le tue fonti" -->
							<!-- 						data-ng-click="scenarioPost.addSourceToNewPost()" -->
							<!-- 						class="tooltips glyphicon glyphicon-book" style="margin-right: 5px;"></div> -->
							<!-- 					<label></label> -->
							<!-- 				</div> -->
			
								</div>
							</div>
						</div>
						<!-- Inserire icone -->
						<div class="row">
							<div data-ng-repeat="file in showNewsPost.post.filesMetadata">				
									<div class="col-sm-2 textLeft">
										{{file.originalName}} 
										<span data-ng-show="file.originalName" show-on-hover-parent
											class="glyphicon glyphicon-remove"
											data-ng-click="showNewsPost.removeFile(file)"></span>
									</div>
							</div>
						</div>
					</div>
					<div class="row col-xs-12">
						<div class="pull-right">
							<button data-ng-click="showNewsPost.updateEvent()"
								class="btn generalButton">AGGIORNA POST</button>
							
							<button data-ng-click="showNewsPost.closeEditPost()"
								class="btn btn-danger">ANNULLA</button>
						</div>
					</div>
			</div>
			
			</div>

		</div>

	</div>
</div>
		
		
</div>
<script type="text/ng-template" id="tag-template">
      <div class="tag-template">
 <!--       <div class="left-panel">
          <img class="imgPreviewM" data-ng-src="{{data.cover}}" data-err-src="assets/public/img/user_ico.png"/>
        </div> -->
        <div class="right-panel">
          <span>{{$getDisplayText()}}</span>
          <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
      </div>
</script>

<script type="text/ng-template" id="autocomplete-template">
      <div class="autocomplete-template">
        <div class="left-panel">
          <img class="imgPreviewM" data-ng-src="{{data.cover}}" data-err-src="assets/public/img/user_ico.png"/>
        </div>
        <div class="right-panel">
          <span ng-bind-html="$highlight($getDisplayText())"></span>
        </div>
      </div>
</script>
