<div class="container-fluid">

	<div class="row">
		<div class="col-sm-12 header-container">
			<h4 style="text-align: center;">Bozza dell'articolo</h4>
		</div>

		<div class="col-sm-12 body-container">

			<!-- COUNT chars container -->

			<div class="col-sm-12">
				<span class="glyphicon glyphicon-time count"></span> <input
					class="customCheckBox biggerCheckbox " id="showCount" type="checkbox"
					name="show-count" value="show-count" ng-model="draft.isChecked" />
				<label for="showCount">Attiva il conteggio caratteri per
					sapere quanto puoi scrivere</label>
			</div>

			<!-- Count chars cirlces containers -->

			<div class="row" style="background-color: #f6f2ea"
				ng-if="draft.isChecked">
				<!-- <div class="col-sm-6">
		 <h5 ng-if = "draft.id == 1"><span class="blue"  ng-class="{'red': draft.article.title.length >= 26 }"
		>{{25 - draft.article.title.length}}</span> Battute titolo</h5> 
		
		</div> -->

				<!-- <div class="col-sm-6">
		<h5><span class="yellow">1</span>Battute sottotitolo</h5>
		</div -->

				<div class="col-sm-6 animated fadeInDown">
					<h5 ng-if="draft.id == 2">
						<span class="green"
							ng-class="{'red': draft.article.text1.length >= 1160 }">{{1159
							- draft.article.text1.length}}</span>Battute testo articolo
					</h5>
				</div>

			</div>

			<!-- CITY selector container -->
			<div class="col-sm-12 col-xs-12" data-ng-if="draft.id != '2'">
				<span class="glyphicon glyphicon-map-marker count"></span> <input
					class="customCheckBox biggerCheckbox " id="showCount" type="checkbox"
					name="show-count" value="show-count" ng-model="draft.isCityChecked" />
				<label for="showCount"> Aggiungi o modifica la città del tuo
					articolo</label>
			</div>

			<div class="col-sm-12 col-xs-12 animated fadeInDown"
				data-ng-if="draft.isCityChecked">
				<input class="selectCity" placeholder="Nome città"
					ng-model="draft.article.city"> </input>
			</div>
			<!-- UPLOAD MEDIA container -->

			<div style = "cursor: pointer;" data-ng-if="draft.id == '2'" class="col-sm-12 col-xs-12"
				data-ngf-select data-ngf-change="draft.uploadImage($files)">
				<span class="glyphicon glyphicon-camera count"></span> <label
					style="margin-top: -6%; margin-left: 3%; cursor: pointer;">Carica qui
					l'immagine dell'articolo </label>
			</div>

			<work-spinner> <img 
				src="/assets/public/img/p_spinner.gif" /> </work-spinner>
				
				<div data-ng-if = "!draft.isUploaded" >
					<div class="col-sm-2"></div>
				<div class="col-sm-8">
				<img class= "img-responsive"  style = "margin-top: 4%;"
					src = "{{draft.article.image}}"/>
					<div class="hoverContent textRight">
						<span class="glyphicon glyphicon-remove marginMTop iconsMargin"
							data-ng-click="draft.removeImage()"></span>
					</div>
					</div>
						<div class="col-sm-2"></div>
				</div>
	
				
			<div data-ng-if="draft.uploadedFile">
			<div class="col-sm-2"></div>
			
			<div class="col-sm-8">
				<img class="img-responsive"
				style = "margin-top: 4%;"
					 src = "{{draft.getUploadedImage()}}"/>
					<div class="hoverContent textRight">
						<span class="glyphicon glyphicon-remove marginMTop iconsMargin"
							data-ng-click="draft.removeImage()"></span>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
			

			<div class="col-sm-12 textarea-container">
				<div class="row">
					<div class="col-sm-12">

						<textarea class="title-textarea" rows="1"
							ng-model="draft.article.title"
							placeholder="{{draft.article.title}}"> </textarea>

						<textarea class="subtitle-textarea" rows="1"
							data-ng-if="draft.article.subtitle.length>0"
							placeholder="{{draft.article.subtitle}}"
							ng-model="draft.article.subtitle" style="width: 100%;"> </textarea>
					</div>

					<div class="col-sm-12">
						<textarea class="column-textarea"
							data-ng-model="draft.article.text1"
							placeholder="{{draft.article.text1}}" rows="18"
							style="width: 100%;">

		</textarea>
					</div>
				</div>
			</div>
		<div class="col-sm-12 background-container">
		<img src="/assets/public/img/newspaper-img/sfondo-assets.png"
					class="img-responsive" />
			</div>
		</div>
		<div class="col-sm-12 button-container">
			<button data-ng-if = "!draft.isEditing" style="cursor: pointer;" class="positiveButton btn"
				data-ng-click="draft.setData(draft.article)">
				<span class="glyphicon glyphicon-floppy-save"></span>SALVA BOZZA
			</button>
			
			<button data-ng-if = "draft.isEditing" style="cursor: pointer;" class="positiveButton btn"
				data-ng-click="draft.setData(draft.article)">
				<span class="glyphicon glyphicon-floppy-save"></span>AGGIORNA GIORNALE
			</button>

		</div>

	</div>
</div>


<script>
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>