<div class="row marginMTop text-center">
	<input type="checkbox" checked ng-change="scenarioStoryline.switchOrder(scenarioStoryline.showFromEnd)" 
		bs-switch data-ng-model="scenarioStoryline.showFromEnd"  
		data-on-custom-text="DALLA FINE ALL'INIZIO" 
		data-off-custom-text="DALL'INIZIO ALLA FINE"
		class="switchStoryline" ng-if="scenarioStoryline.posts">
	<label ng-if="!scenarioStoryline.posts">Qui verranno visualizzati i post nell'ordine cronologico della storia</label>
</div>
<div class="box">
	<work-spinner>
		<img width="40px" height="40px" src="/assets/public/img/p_spinner.gif" />
	</work-spinner>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<ul class="timeline">
			<li data-ng-class="scenarioStoryline.getPosition($index)"
				data-ng-repeat="post in scenarioStoryline.posts track by $index">
				<div ng-if="$even" class="timeline-badge primary">
					<a href=""
						title="{{post.user.firstname}} {{post.user.lastname}}, {{post.creationDate | date : scenarioStoryline.realDateFormatWithHour}}">
						<i popover-placement="left" popover-trigger="mouseenter" popover="{{post.user.firstname}} {{post.user.lastname}}, {{post.creationDate | date : scenarioStoryline.realDateFormatWithHour}}"
						class="glyphicon glyphicon-time"></i></a>					
				</div>
				<div ng-if="$odd" class="timeline-badge primary">
					<a href=""
						title="{{post.user.firstname}} {{post.user.lastname}}, {{post.creationDate | date : scenarioStoryline.realDateFormatWithHour}}">
						<i popover-placement="right" popover-trigger="mouseenter" popover="{{post.user.firstname}} {{post.user.lastname}}, {{post.creationDate | date : scenarioStoryline.realDateFormatWithHour}}"
						class="glyphicon glyphicon-time"></i></a>					
				</div>
				
				<div class="timeline-panel">
					<div class="timeline-header">
						<div class="row colPadding">
							<div data-ng-if="post.character.id" href="" class="squareImgStoryline" data-ui-sref="logged.scenario.charprofile({id : '{{post.scenarioId}}', idCharacter : '{{post.character.id}}' })" style=" cursor:pointer; background-image:url('{{post.character.cover}}'),url('assets/public/img/icon/pg.png');"></div>
							<div data-ng-if="!post.character.id" href="" class="squareImgStoryline" style=" cursor:pointer; background-image:url('{{post.character.cover}}'),url('assets/public/img/icon/pg.png');"></div>
							
							<div class="col-xs-8">
								<a data-ng-if="post.character.id" href="" data-ui-sref="logged.scenario.charprofile({id : '{{post.scenarioId}}', idCharacter : '{{post.character.id}}' })"><h6>{{post.character.name}}</h6></a>
								<a data-ng-if="!post.character.id" href=""><h6>{{post.character.name}}</h6></a>
								<div class="text-center">{{scenarioStoryline.formatDate(post.julianDayNumber, post.timeNumber)}}</div>
							</div>
						</div>
					</div>
					<div class="timeline-heading">
						<!-- 						<div class="videowrapper"> -->
						<!-- 							<iframe height="300" -->
						<!-- 								src="https://www.youtube.com/embed/IuLG6WqjOEo" frameborder="0" -->
						<!-- 								allowfullscreen=""></iframe> -->
						<!-- 						</div> -->
						
					</div>
					<div class="timeline-body">
						<div class="row storylineText">
						<p class="textJustify" data-ng-bind-html="post.text | linky:'_blank'"></p>
						</div>
						<div data-ng-repeat="row in post.media track by $index">
							<div class="row storylineText">
								<div data-ng-click="scenarioStoryline.openPostGallery(post, $parent.$index, $index)"
									data-ng-repeat="col in row track by $index">
									<div class="squareImgStoryline" style="background-image:url('{{col}}'); cursor:pointer;"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="timeline-footer">
						<div class="media" data-ng-repeat="comment in post.comments">
							<a class="pull-left" href="#"> <img class="imgPreviewM"
								data-ng-src="{{comment.character.cover}}"
								data-err-src="assets/public/img/icon/pg.png" />
							</a> <span class="clickable"><i>{{comment.character.firstname}}</i></span>
							<div class="media-body">
								<p>{{comment.text}}</p>
							</div>
							<hr class="hrStoryline">
						</div>
						
						
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>













<!--  <div class="row">
	<div data-ng-repeat="s in scenarioStoryline.posts">


		<div data-ng-if="s.character" class="row">
			<div class="col-md-10 col-md-offset-1 box">
				<div class="row">
					<div class="pull-left col-md-8">
						<b class="pull-left"><a href="">{{s.character.name}}</a></b>
					</div>
					<div class="pull-right col-md-4">
						<label class="pull-right">{{scenarioStoryline.formatDate(s.historicalDate)}}</label>
					</div>
				</div>
				<div class="row rowPost">
					<div class="col-md-2">
						<img style="margin: 5px;"
							class="pull-left img-thumbnail imgPreviewL"
							data-ng-src="{{s.character.cover}}"
							data-err-src="assets/public/img/cesar.png"></img>
						<div class="pull-left box box-info">
							{{s.creationDate | date: scenarioPost.realDateFormat}} <br>
							{{s.user.firstname}} {{s.user.lastname}}
						</div>
					</div>

					<div class="col-md-10 postStatus">
						<div class="row">
							<div class="col-md-12">
								<label class="pull-left">{{s.text}}</label>
							</div>
							<div data-ng-repeat="image in s.imagesMetadata">
								<img class="imgPreviewXL" alt={{image.name}} data-ng-src="api/v1/media/{{image.id}}">
							</div>
							<div data-ng-repeat="file in s.filesMetadata">
								<p>{{file.originalName}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-10 col-md-offset-2">
					<div data-ng-show="s.tags.length>0" class="row">
						<div style="margin-left: 35px;" class="pull-left">
							<b>Con: </b><i><span data-ng-repeat="t in s.tags"> <a href="">{{t.firstname}}</a> </span></i>
						</div>	
					</div>
					<div data-ng-show="scenario.hasCharacter" class="row"
						style="margin-left: 25px; margin-top: 7px; margin-bottom: 7px;">
						<div data-ng-if="s.youLike"
							data-ng-click="scenarioPost.likePost(s)" title="Non mi piace più"
							class="tooltips glyphicon glyphicon-thumbs-up pull-left">Ti
							piace</div>
						<div data-ng-if="!s.youLike"
							data-ng-click="scenarioPost.likePost(s)" title="Mi piace!"
							class="tooltips glyphicon glyphicon-thumbs-up pull-left"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-10" style="text-align: center;">
						<div class="tabComment"
							data-ng-click="scenarioPost.switchCommentTab(true)">COMMENTA</div>
						<div class="tabComment pull-right"
							data-ng-click="scenarioPost.switchCommentTab(false)"
							style="margin-right: 5px;">DIETRO LE QUINTE</div>
					</div>
					<div class="col-md-2"></div>
					<div data-ng-if="scenarioPost.commentTab" class="col-md-10"
						style="text-align: center;">
						<div class="col-md-2">
							<img style="margin: 5px; margin-left: 10px;"
								class="pull-right img-thumbnail imgPreviewM"
								data-ng-src="api/v1/scenarios/{{scenarioPost.scen.id}}/characters/{{scenario.currentCharacter.id}}/cover"
								data-err-src="assets/public/img/cesar.png"></img>
						</div>
						<div class="col-md-10">
							<textarea data-ng-model="s.newComment" rows="2"
								style="margin: 5px;" class="col-md-12"
								placeholder="Inserisci un commento"></textarea>
							<div class="btn generalButton btn-sm pull-right"
								data-ng-click="scenarioPost.addCommentToPost(s)">COMMENTA</div>
						</div>
						<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
						</div>
						<div data-ng-repeat="c in s.comments" class="row">
							<div class="col-md-2">
								<img style="margin: 5px; margin-left: 10px;"
									class="pull-right img-thumbnail imgPreviewM"
									data-ng-src="api/v1/scenarios/{{scenarioPost.scen.id}}/characters/{{c.character.id}}/cover"
									data-err-src="assets/public/img/cesar.png"></img>
							</div>
							<div class="col-md-10">
								<div style="margin: 5px;" class="col-md-10 pull-left">
									<p>
										<label>{{c.character.firstname}}</label>: {{c.text}}
									</p>
								</div>
								<div class="col-md-1">
									<p class="pull-right" style="font-size: x-small;">{{c.user.firstname}}
										{{c.user.lastname}}</p>
								</div>
							</div>
						</div>
					</div>
					<div data-ng-if="!scenarioPost.commentTab" class="col-md-10"
						style="text-align: center;">
						<div class="col-md-2">
							<img style="margin: 5px; margin-left: 10px;"
								class="pull-right img-thumbnail imgPreviewM"
								data-ng-src="api/v1/users/{{scenario.loggedUser.id}}/cover"
								data-err-src="assets/public/img/user_ico.png"></img>
						</div>
						<div class="col-md-10">
							<textarea data-ng-model="s.newMetaComment" rows="2"
								style="margin: 5px;" class="col-md-12"
								placeholder="Dai un suggerimento ai tuoi amici"></textarea>
							<div class="btn generalButton btn-sm pull-right"
								data-ng-click="scenarioPost.addMetaCommentToPost(s)">COMMENTA</div>
						</div>
						<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
						</div>
						<div data-ng-repeat="c in s.metaComments" class="row">
							<div class="col-md-2">
								<img style="margin: 5px; margin-left: 10px;"
									class="pull-right img-thumbnail imgPreviewM"
									data-ng-src="api/v1/users/{{c.user.id}}/cover"
									data-err-src="assets/public/img/user_ico.png"></img>
							</div>
							<div class="col-md-10">
								<div style="margin: 5px;" class="col-md-10">

									<p class="pull-left">{{c.text}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->


<!-- EVENTO 
		<div data-ng-if="!s.character" class="row">
			<div class="col-md-10 col-md-offset-1 box">
				<div class="row">
					<div class="pull-left col-md-8">
						<b class="pull-left">NARRATORE</b>
					</div>
					<div class="pull-right col-md-4">
						<label class="pull-right">{{scenarioStoryline.formatDate(s.historicalDate)}}</label>
					</div>

				</div>
				<div class="row rowPost">
					<div class="col-md-2">
						<img style="margin: 5px;"
							class="pull-left img-thumbnail imgPreviewL"
							src="assets/public/img/bookImage.png"></img>
						<div class="pull-left box box-info">
							{{s.creationDate | date: scenarioPost.realDateFormat}} <br>
							{{s.user.firstname}} {{s.user.lastname}}
						</div>
					</div>

					<div class="col-md-10 postStatus">
						<div class="row"><p><b>TIPOLOGIA EVENTO: </b>{{s.type}}</p></div>
						<div class="row">
							<div class="col-md-12">
								<label class="pull-left">{{s.text}}</label>
							</div>
							<div data-ng-show="s.imageId">
								<img class="imgPreviewXL" data-ng-src="{{s.imageUrl}}">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-10 col-md-offset-2">
					<div data-ng-show="s.tags.length>0" class="row">
						<div style="margin-left: 35px;" class="pull-left">
							<b>Con: </b><i><span data-ng-repeat="t in s.tags"> <a href="">{{t.firstname}}</a> </span></i>
						</div>	
					</div>
					<div data-ng-show="scenario.hasCharacter" class="row"
						style="margin-left: 25px; margin-top: 7px; margin-bottom: 7px;">
						<div data-ng-if="s.youLike"
							data-ng-click="scenarioPost.likePost(s)" title="Non mi piace più"
							class="tooltips glyphicon glyphicon-thumbs-up pull-left">Ti
							piace</div>
						<div data-ng-if="!s.youLike"
							data-ng-click="scenarioPost.likePost(s)" title="Mi piace!"
							class="tooltips glyphicon glyphicon-thumbs-up pull-left"></div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-10" style="text-align: center;">
						<div class="tabComment"
							data-ng-click="scenarioPost.switchCommentTab(true)">COMMENTA</div>
						<div class="tabComment pull-right"
							data-ng-click="scenarioPost.switchCommentTab(false)"
							style="margin-right: 5px;">DIETRO LE QUINTE</div>
					</div>
					<div class="col-md-2"></div>
					<div data-ng-if="scenarioPost.commentTab" class="col-md-10"
						style="text-align: center;">
						<div class="col-md-2">
							<img style="margin: 5px; margin-left: 10px;"
								class="pull-right img-thumbnail imgPreviewM"
								data-ng-src="api/v1/scenarios/{{scenarioPost.scen.id}}/characters/{{scenario.currentCharacter.id}}/cover"
								data-err-src="assets/public/img/cesar.png"></img>
						</div>
						<div class="col-md-10">
							<textarea data-ng-model="s.newComment" rows="2"
								style="margin: 5px;" class="col-md-12"
								placeholder="Inserisci un commento"></textarea>
							<div class="btn btn-primary btn-sm pull-right"
								data-ng-click="scenarioPost.addCommentToPost(s)">COMMENTA</div>
						</div>
						<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
						</div>
						<div data-ng-repeat="c in s.comments" class="row">
							<div class="col-md-2">
								<img style="margin: 5px; margin-left: 10px;"
									class="pull-right img-thumbnail imgPreviewM"
									data-ng-src="api/v1/scenarios/{{scenarioPost.scen.id}}/characters/{{c.character.id}}/cover"
									data-err-src="assets/public/img/cesar.png"></img>
							</div>
							<div class="col-md-10">
								<div style="margin: 5px;" class="col-md-10">
									<p class="pull-left">{{c.text}}</p>
								</div>
								<div class="col-md-1">
									<p class="pull-right" style="font-size: x-small;">{{c.user.firstname}}
										{{c.user.lastname}}</p>
								</div>
							</div>
						</div>
					</div>
					<div data-ng-if="!scenarioPost.commentTab" class="col-md-10"
						style="text-align: center;">
						<div class="col-md-2">
							<img style="margin: 5px; margin-left: 10px;"
								class="pull-right img-thumbnail imgPreviewM"
								data-ng-src="api/v1/users/{{scenario.loggedUser.id}}/cover"
								data-err-src="assets/public/img/user_ico.png"></img>
						</div>
						<div class="col-md-10">
							<textarea data-ng-model="s.newMetaComment" rows="2"
								style="margin: 5px;" class="col-md-12"
								placeholder="Dai un suggerimento ai tuoi amici"></textarea>
							<div class="btn btn-primary btn-sm pull-right"
								data-ng-click="scenarioPost.addMetaCommentToPost(s)">COMMENTA</div>
						</div>
						<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
						</div>
						<div data-ng-repeat="c in s.metaComments" class="row">
							<div class="col-md-2">
								<img style="margin: 5px; margin-left: 10px;"
									class="pull-right img-thumbnail imgPreviewM"
									data-ng-src="api/v1/users/{{c.user.id}}/cover"
									data-err-src="assets/public/img/user_ico.png"></img>
							</div>
							<div class="col-md-10">
								<div style="margin: 5px;" class="col-md-10">
									<p class="pull-left">{{c.text}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div> -->
