<div class="container-fluid">
	<div class="row">
		<div class="col-lg-1">					
		</div>
		<div class="col-lg-1">
			<a href=""><div data-ui-sref="logged.dashboard" class="row visible-lg hidden-md hidden-sm hidden-xs text-center">
				<img ng-src="assets/public/img/icon/back.png" class="sideIcon marginXXLTop">
				<img ng-src="assets/public/img/titoli_dashboard/torna alla dashboard.png" class="title marginMTop">			
			</div></a>	
		</div>		
		<div class="col-sm-12 col-lg-8">
			<div class="row text-center">				
					<h1 class="dashSectionTitle">
						ALUNNI
						<img ng-src="assets/public/img/titoli_dashboard/ic_stud.png" class="titleIcon">
					</h1>					
			</div>
			<div class="box boxYellow dashSection">
				<div class="row sideMarginThree">
					<div data-ng-repeat="s in studentsList.user.students | orderBy: 'lastname'">						
						<a data-ui-sref="logged.userProfile({id: '{{s.id}}'})" class="col-md-4 col-xs-6">
							<div class="row marginMTop marginSBottom">
								<div class="col-sm-5 marginSideThree">
									<div class="roundedImgDiv"
										style="background-image:url('api/v1/users/{{s.id}}/cover'),
										url('assets/public/img/ic_student.png')"></div>
								</div>
								<div class="col-sm-7 vAlignExt">
									<h4 class="vAlignInt">{{s.firstname}} {{s.lastname}} </h4>
								</div>
							</div>
						</a>
					</div>
					<div ng-if="studentsList.user.students==null">
						Qui verranno inseriti i propri alunni.
					</div>
				</div>
			</div>
		</div>
		<div class="row hidden-lg visible-md visible-sm visible-xs text-center marginMTop">
			<a href="">
				<div data-ui-sref="logged.dashboard">
					<img ng-src="assets/public/img/icon/back.png" class="sideIcon">
					<img ng-src="assets/public/img/titoli_dashboard/torna alla dashboard.png" class="title">			
				</div>
			</a>
			
		</div>		
		
	</div>
</div>