<div class="tags-wrapper">
	<div id="tagsList" class="tags-cloud">
		<div data-ng-repeat="selectedTag in tagBox.selectedTags" class="tag">
			<span data-ng-show="tagBox.type=='user'" class="tagName">{{selectedTag.lastname}}
				{{selectedTag.firstname}}</span> <span
				data-ng-show="tagBox.type=='character'" class="tagName">{{selectedTag.name}}</span>
			<span>&nbsp;<b data-ng-click="tagBox.removeTag($index)"
				class="fa fa-times cross"></b></span>
		</div>
		<input type="text" placeholder="Tagga i tuoi amici" id="searchInput"
			data-ng-keydown="tagBox.checkKeyDown($event)" class="form-control"
			data-ng-model="tagBox.searchText" data-ng-change="tagBox.search()" />
	</div>
	<ul data-ng-show="tagBox.showSuggestions" id="suggestions"
		class="suggestions-list">
		<li data-ng-repeat="suggestion in tagBox.suggestions"
			class="blockSpan" data-ng-mouseover="$parent.selectedIndex=$index"
			data-ng-class="{active : tagBox.selectedIndex===$index}">
			<div data-ng-click="tagBox.addToSelectedTags($index)">
				<img data-ng-src="suggestion.cover"
					data-err-src="assets/public/img/user_ico.png"
					class="img-circle imgPreviewM">{{suggestion.name}}
			</div>
		</li>

	</ul>
</div>
