<div class="container-fluid">
<div class="row">
<div class="col-md-1"></div>
	<div class="col-lg-2 col-md-3 col-sm-4 pull-left">
		<div class="box" data-ng-show="scenario.isCreator">
			<h5>CREA NUOVO COMPITO</h5>
						<div class="marginMTop">
							<form role="form ">
								<div class="form-group">
									<input type="text" class="form-control" 
										placeholder="TITOLO ">
								</div>		
								<div class="form-group">
									<input type="text" class="form-control" 
										placeholder="DESCRIZIONE ">
								</div>
											
								<div class="form-group">
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<form class="form-inline">
												<div class="form-group">
													<input ui-date="dateOptions" class="form-control" required
														
														placeholder="DATA CONSEGNA"></input>
												</div>
											</form>
										</div>
									</form>
								</div>
								<div class="form-group">
									<select id="" class="" >
										<option value="" disabled selected style="display:none;">SELEZIONA ALUNNO</option>
										<option>TUTTI</option>
									    <option>ALUNNO 1</option>
									    <option>ALUNNO 2</option>
									    <option>ALUNNO 3</option>
									    <option>ALUNNO 4</option>
					
									</select>
								</div>			
								<button type="submit" class="btn generalButton marginSBottom">Assegna</button>
							</form>
	
						</div>
		</div>
		<div class="box" data-ng-show="scenario.hasCharacter">
	<div class ="row sideMarginThree marginMTop marginSBottom">
	<label>Stai interpretando:</label>
	<div class="row marginMTop">
		<div class="col-sm-6">
			<img data-ng-src="{{scenario.currentCharacter.cover}}" data-err-src="assets/public/img/ic_characters.png" 
			class="img-circle imgPreviewL">
		</div>
		<div class="col-sm-6 marginMTop">
			<label class="highlightText sideMarginThree">{{scenario.currentCharacter.name}}</label>
		</div>
	</div>
	</div>
	</div>
		<div class="box input-group visible-xs visible-sm visible-md hidden-lg">
				<input type="text" class="form-control" placeholder="Cerca nello scenario...">
				<span class="input-group-btn">
					<button class="btn generalButton" type="button"><span class="glyphicon glyphicon-search"></span></button>
				</span>
			</div>
			<div class="box visible-xs visible-sm visible-md hidden-lg">
				
				<label> {{scenario.scen.name}}</label><br>
					Creato da: <label> {{scenario.scen.teacherCreator.firstname}} {{scenario.scen.teacherCreator.lastname}}</label><br>
					<hr>
					<span data-ng-if="scenario.scen.attendees"><label>{{scenario.scen.attendees.length}}</label> partecipanti<br></span>
					<span data-ng-if="!scenario.scen.attendees"><label>0</label> partecipanti<br></span>
					<span data-ng-if="scenario.scen.characters"><label>{{scenario.scen.characters.length}}</label> personaggi<br></span>
					<span data-ng-if="!scenario.scen.characters"><label>0</label> personaggi<br></span>
					<span data-ng-if="scenario.scen.collaborators"><label>{{scenario.scen.collaborators.length}}</label> collaboratori<br></span>
					<span data-ng-if="!scenario.scen.collaborators"><label>0</label> collaboratori<br></span>
				
				
				<div data-ng-if="scenario.isModerator" data-ui-sref="logged.scenarioWizard.info({id: '{{scenario.scen.id}}'})">
					<hr>
					<a href="">
						<p class="marginMTop">
							<span class="glyphicon glyphicon-cog"></span>
							Gestisci scenario		
						</p>
					</a>
				</div>
			</div>		
	</div>
	
	<div class="col-lg-6 col-sm-8">
		<div class="jumbotron" style="
		background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)),url('{{scenario.scen.cover}}')">		
			<h1 class="text-center">{{scenario.scen.name}}</h1>
			<!-- p da mostrare solo per moderator -->
<!-- 			<p id="uploadSpan" ngf-select ngf-change="uploadCover($files)"><span class="glyphicon glyphicon-camera"></span></p> -->
		</div>
		<div class="container-fluid wizard">
			<div class="row text-center">
				<a href="" class="col-xs-3" data-ui-sref=".posts" data-ui-sref-active="active"><label>POST</label></a>
				<a href="" class="col-xs-3" data-ui-sref=".storyline" data-ui-sref-active="active"><label>STORYLINE</label></a>
				<a href="" class="col-xs-3" data-ui-sref=".characters" data-ui-sref-active="active"><label>PERSONAGGI</label></a>
				<a href="" class="col-xs-3" data-ui-sref=".map" data-ui-sref-active="active"><label>MAPPA</label></a>
			</div>
		</div>
<!-- 		<ul class="wizard nav nav-pills nav-justified menu"> -->
<!-- 			<li><a href="" data-ui-sref-active="active" data-ui-sref=".posts">POST</a></li> -->
<!-- 			<li><a href="" data-ui-sref-active="active" data-ui-sref=".characters">PERSONAGGI</a></li> -->
<!-- 			<li><a href="" data-ui-sref-active="active" data-ui-sref=".map">MAPPA</a></li> -->
<!-- 		</ul> -->
		<div data-ui-view="body"></div>
	</div>
	
		<div class="col-lg-2">
			<div class="box input-group hidden-xs hidden-sm hidden-md visible-lg">
				<input type="text" class="form-control" placeholder="Cerca nello scenario...">
				<span class="input-group-btn">
					<button class="btn generalButton" type="button"><span class="glyphicon glyphicon-search"></span></button>
				</span>
			</div>
			<div class="box hidden-xs hidden-sm hidden-md visible-lg">
				
				<label> {{scenario.scen.name}}</label><br>
					Creato da: <label> {{scenario.scen.teacherCreator.firstname}} {{scenario.scen.teacherCreator.lastname}}</label><br>
					<hr>
					<span data-ng-if="scenario.scen.attendees"><label>{{scenario.scen.attendees.length}}</label> partecipanti<br></span>
					<span data-ng-if="!scenario.scen.attendees"><label>0</label> partecipanti<br></span>
					<span data-ng-if="scenario.scen.characters"><label>{{scenario.scen.characters.length}}</label> personaggi<br></span>
					<span data-ng-if="!scenario.scen.characters"><label>0</label> personaggi<br></span>
					<span data-ng-if="scenario.scen.collaborators"><label>{{scenario.scen.collaborators.length}}</label> collaboratori<br></span>
					<span data-ng-if="!scenario.scen.collaborators"><label>0</label> collaboratori<br></span>
				
				
				<div data-ng-if="scenario.isModerator" data-ui-sref="logged.scenarioWizard.info({id: '{{scenario.scen.id}}'})">
					<hr>
					<a href="">
						<p class="marginMTop">
							<span class="glyphicon glyphicon-cog"></span>
							Gestisci scenario		
						</p>
					</a>
				</div>
			</div>		
		</div>
	</div>
</div>