
<!-- ------------------ TEMPLATE 1 ------------------ -->

<div data-ng-if= "template.newspaper.idTemplate == 1 || template.currentIdTemplate == '1'" class="container-fluid">
	<div class="row">
		<div class="col-sm-12" id="header">
			<h4 id="page-title">Ora che hai scelto l'impaginazione del
				numero inizia a scrivere gli articoli:</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 giornale" style="padding-bottom: 2%;">
			<div class="row" style="padding: 7px;">
				<headline-newspaper newspaper = "template.newspaper" scenario = "template.scen"></headline-newspaper>
			</div>
					
					<article-two-columns newspaper=template.newspaper> </article-two-columns>
		 <div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						
						<div class="col-sm-12 line-3" style = "margin-top: -2%"></div>
							<article-one-column-img newspaper= "template.newspaper"></article-one-column-img>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						</br>
					<article-two-columns-img newspaper= "template.newspaper"></article-two-columns-img>
					</div>
			</div>
		</div>
		<!-- FOOTER -->
		<div class="row">
	<div data-ng-if ="template.newspaper.status == 'DRAFT'"class="col-sm-10 col-xs-8" style="cursor: pointer;" ng-click="template.showPopUpDeleteNewspaper()">
	<img style="width:30%; margin-top:3%;"  ng-src="assets/public/img/wizard/elimina.png">
	</div>

</div>

	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div data-ng-disabled="true" style="cursor: pointer"
				data-ng-click="template.publishNewspaper()"
				class="btn positiveButton">PUBBLICA IL GIORNALE</div>
		</div>
		<div class="col-sm-4"></div>
	</div>

</div>
	


<!-- ------------------ TEMPLATE 2 ------------------ -->

 <div data-ng-if= "template.newspaper.idTemplate == 2 || template.currentIdTemplate == '2'" class="container-fluid">

	<div class="row row-centered">
		<div class="col-sm-12" id="header">
			<h4 id="page-title">Ora che hai scelto l'impaginazione del
				numero inizia a scrivere gli articoli:</h4>
		</div>
	</div>
	<div class="row">
		<div
			class="col-lg-12 col-sm-12 col-md-12 col-xs-12 col-md-offset-0 giornale"
			style="padding-bottom: 2%;">
			<div class="row" style="padding: 7px;">
				<headline-newspaper newspaper = "template.newspaper" scenario = "template.scen"></headline-newspaper>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
					<article-column-image></article-column-image>

					<article-one-column></article-one-column>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
					<article-one-column-img></article-one-column-img>
					<div class="clearfix visible-xs visible-sm visible-md visible-lg"></div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<article-two-columns> </article-two-columns>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-xs-8">
				<img style="width: 30%; margin-top: 3%;"
					ng-src="assets/public/img/wizard/elimina.png">
			</div>
			
		</div>


		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<div data-ng-disabled="true" style="cursor: pointer"
					data-ng-click="template.publishNewspaper()"
					class="btn positiveButton">PUBBLICA IL GIORNALE</div>
			</div>
			<div class="col-sm-4"></div>
		</div>

	</div>

</div> 

<div class="col-sm-12 col-xs-12" style="margin-top: 4%; ">
		<a href="#" class="return-to-top" data-toggle="tooltip" style = " float: right;"
		title="Torna su" ><i class="glyphicon glyphicon-chevron-up" 
		style = "color:white;"></i></a>
</div>

<script>
$(document).ready(function(){ 
    
	
	  $(window).scroll(function () {
	        if ($(this).scrollTop() > 50) {
	            $('.return-to-top').fadeIn();
	        } else {
	            $('.return-to-top').fadeOut();
	        }
	    });
	
	
    	$('.return-to-top').click(function() {   
    		console.log("MATTEO");
    	    $("body,html").animate({
    	        scrollTop : 0                     
    	    }, 500);
    	    return false;
    	});
    	
});
</script>


<script>

//Go to top - script

 
</script>

 <script>
  new WOW().init(
	{
		animateClass: 'animated',
		
	}	  
  );
 </script>
