<div class="container-fluid">

<div class="col-lg-1"></div>
<div class="col-lg-1">
	<a href=""><div data-ui-sref="logged.dashboard" class="row visible-lg hidden-md hidden-sm hidden-xs text-center">
				<img ng-src="assets/public/img/icon/back.png" class="sideIcon marginXXLTop">
				<img ng-src="assets/public/img/titoli_dashboard/torna alla dashboard.png" class="title marginMTop">			
			</div></a>	
</div>


<div class="col-lg-8">

		<center><h1>{{scenarioWizard.title}}</h1></center>

	
	    <div class="text-center">
	        <div class="wizard row">
	            <a class=""
	            	data-ui-sref=".info"
	               	data-ng-click="scenarioWizard.changeStateTab(0)"
	               	data-ui-sref-active="active">
	               	<img data-ng-src="assets/public/img/wizard/wiz_info.png"
					class="img-circle imgPreviewL">
					<div class="stepTitle">INFO GENERALI</div>
	               
	            </a>
	            <a class=""
	            	data-ui-sref=".attendees"
	           	   	data-ng-click="scenarioWizard.changeStateTab(1)"
	               	data-ui-sref-active="active">
	               	<img data-ng-src="assets/public/img/wizard/wiz_att.png"
					class="img-circle imgPreviewL">
	               	<div class="stepTitle">PARTECIPANTI</div>
	            </a>
	            <a class=""
	            	data-ui-sref=".characters"
	               	data-ng-click="scenarioWizard.changeStateTab(2)"	           
	               	data-ui-sref-active="active">
	               	<img data-ng-src="assets/public/img/wizard/wiz_char.png"
					class="img-circle imgPreviewL">
	              	<div class="stepTitle">PERSONAGGI</div>
	            </a>
	            <a class=""
	            	data-ui-sref=".associations"
	               	data-ng-click="scenarioWizard.changeStateTab(3)"
	               	data-ui-sref-active="active">
	               	<img data-ng-src="assets/public/img/wizard/wiz_rel.png"
					class="img-circle imgPreviewL">
	               	<div class="stepTitle">ASSOCIAZIONI</div>
	            </a>
	            <a 	class=""
	            	data-ui-sref=".collaborators"
	               	data-ng-click="scenarioWizard.changeStateTab(4)"
	               	data-ui-sref-active="active">
	               	<img data-ng-src="assets/public/img/wizard/wiz_coll.png"
					class="img-circle imgPreviewL">
	               	<div class="stepTitle">COLLABORATORI</div>
	            </a>
	           
	        </div>
	
	        <div data-ui-view class="box boxBrown textLeft col-xs-12"></div>
	        <!--  <div class="row textRight pickRow">
		            <div class="btn btn-success" data-ng-show="scenarioWizard.associations.length>0 && !scenarioWizard.isScenarioActive()" data-ng-click="scenarioWizard.openScenario()"><span class="glyphicon glyphicon-play"></span> ATTIVA</div>
		            <div class="btn generalButton" data-ng-show="scenarioWizard.isScenarioActive()" data-ng-click="scenarioWizard.enterInScenario()"><span class="glyphicon glyphicon-open"></span> ENTRA NELLO SCENARIO</div>
		            <div class="btn generalButton" data-ng-show="scenarioWizard.isScenarioActive()" data-ng-click="scenarioWizard.suspendScenario()"><span class="glyphicon glyphicon-pause"></span> SOSPENDI</div>
		            <div class="btn btn-warning" data-ng-show="scenarioWizard.isScenarioActive()" data-ng-click="scenarioWizard.closeScenario()"><span class="glyphicon glyphicon-stop"></span> CHIUDI</div>
		            <div class="btn btn-danger" data-ng-click="scenarioWizard.showPopUpDeleteScenario()"><span class="glyphicon glyphicon-trash"></span> ELIMINA</div>
	            </div>-->
	    </div>
		<div class="row textRight pickRow hidden-lg visible-md visible-sm visible-xs">
			<a href="">
				<img data-ng-show="scenarioWizard.associations.length>0 && !scenarioWizard.isScenarioActive()" data-ng-click="scenarioWizard.openScenario()" ng-src="assets/public/img/wizard/attiva.png" class="marginLRight titleIcon">
				<img data-ng-show="scenarioWizard.isScenarioActive()" data-ng-click="scenarioWizard.enterInScenario()" ng-src="assets/public/img/wizard/entra.png" class="marginLRight titleIcon">
<!-- 				<img data-ng-show="scenarioWizard.isScenarioActive()" data-ng-click="scenarioWizard.suspendScenario()" ng-src="assets/public/img/wizard/sospendi.png" class="marginLRight titleIcon"> -->			
				<img data-ng-show="scenarioWizard.isScenarioActive() && scenarioWizard.iAmCreator()" data-ng-click="scenarioWizard.closeScenario()" ng-src="assets/public/img/wizard/chiudi.png" class="marginLRight titleIcon">
				<img data-ng-click="scenarioWizard.showPopUpDeleteScenario() " ng-src="assets/public/img/wizard/elimina.png" class="titleIcon">
				</a>
		</div>
</div>
<div class="col-lg-1 hidden-xs hidden-sm hidden-md visible-lg">
	<div class="marginXXLTop">
		<a href="">
		<img data-ng-show="scenarioWizard.associations.length>0 && !scenarioWizard.isScenarioActive()" data-ng-click="scenarioWizard.openScenario()" ng-src="assets/public/img/wizard/attiva.png" class="marginLTop titleIcon">
		<img data-ng-show="scenarioWizard.isScenarioActive()" data-ng-click="scenarioWizard.enterInScenario()" ng-src="assets/public/img/wizard/entra.png" class="marginLTop titleIcon">
<!-- 		<img data-ng-show="scenarioWizard.isScenarioActive()" data-ng-click="scenarioWizard.suspendScenario()" ng-src="assets/public/img/wizard/sospendi.png" class="marginLTop titleIcon">
 -->		<img data-ng-show="scenarioWizard.isScenarioActive() && scenarioWizard.iAmCreator()" data-ng-click="scenarioWizard.closeScenario()" ng-src="assets/public/img/wizard/chiudi.png" class="marginLTop titleIcon">
		<img data-ng-click="scenarioWizard.showPopUpDeleteScenario()" ng-src="assets/public/img/wizard/elimina.png" class="marginLTop titleIcon">
		</a>
	</div>
</div>


<div class="row hidden-lg visible-md visible-sm visible-xs marginLTop text-center">
	<a href="">
		<div data-ui-sref="logged.dashboard">
			<img ng-src="assets/public/img/icon/back.png" class="sideIcon">
			<img ng-src="assets/public/img/titoli_dashboard/torna alla dashboard.png" class="title sideMarginThree">			
		</div>
	</a>
</div>		
<div class="col-lg-1"></div>
</div>