<div class="container-fluid">
<div class="row">
<div class="col-md-1"></div>
	<div class="col-lg-2 col-md-3 col-sm-4">
	 	
		<div class="box" data-ng-show="!scenario.isCreator && !scenario.isModerator">
			<h3>I MIEI COMPITI: </h3>
  			<!--<div data-ng-repeat="scenario.myMissions"></div>  -->
		</div>
		<div class="box" data-ng-show="scenario.isCreator">
			<h3>CREA NUOVO COMPITO: </h3>
						<div class="marginMTop">
							<form role="form ">
								<div class="form-group">
									<input type="text" id="title" class="form-control" 
										placeholder="TITOLO DEL COMPITO" data-ng-model="scenario.mission.title">
								</div>		
								<div class="form-group">
									<input type="text" class="form-control"  id="description"
										placeholder="DESCRIZIONE DEL COMPITO" data-ng-model="scenario.mission.description">
								</div>
											
								<div class="form-group">
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<form class="form-inline">
												<div class="form-group">
													<input ui-date="dateOptions" class="form-control" required id="deliveryDate"
														placeholder="DATA CONSEGNA COMPITO" data-ng-model="scenario.mission.deliveryDate"></input>
												</div>
											</form>
										</div>
									</form>
								</div>
								<div class="form-group">
									<select id="selectAttendee" class="form-control" data-ng-model="scenario.mission.studentId">
										<option value="" disabled selected>SCEGLI ALUNNO</option>
										<option value="{{attendee.id}}" data-ng-repeat ="attendee in scenario.scen.attendees">
											<span class="tagName">{{attendee.lastname}}
											{{attendee.firstname}}</span>
										</option>									
					
									</select>
								</div>							
								<button type="submit" class="btn generalButton marginSBottom" data-ng-click="scenario.createMission()">ASSEGNA</button>
							</form>
	
						</div>
		</div>
		 <div class="box" data-ng-show="scenario.hasCharacter" data-ui-sref="logged.scenario.charprofile({id : '{{scenario.scen.id}}', idCharacter : '{{scenario.currentCharacter.id}}' })">
		 	<a href="">
		 	<div class="row marginMTop">
		 		<img data-ng-src="{{scenario.currentCharacter.cover}}" data-err-src="assets/public/img/icon/pg.png" 
							class="img-circle imgPreviewXL">
			</div>
			<p class="highlightText sideMarginThree">{{scenario.currentCharacter.name}}</p>
			</a>			
		</div>		
		<!-- <div class="box input-group visible-xs visible-sm visible-md hidden-lg">
			<input type="text" class="form-control" placeholder="Cerca nello scenario...">
			<span class="input-group-btn">
				<button class="btn generalButton" type="button"><span class="glyphicon glyphicon-search"></span></button>
			</span>
		</div> -->
		<div class="box visible-xs visible-sm visible-md hidden-lg">
			
			<label> {{scenario.scen.name}}</label><br>
				Creato da: <label> {{scenario.scen.teacherCreator.firstname}} {{scenario.scen.teacherCreator.lastname}}</label><br>
				<hr>
				<span data-ng-if="scenario.scen.attendees"><label>{{scenario.scen.attendees.length}}</label> studenti<br></span>
				<span data-ng-if="!scenario.scen.attendees"><label>0</label> studenti<br></span>
				<span data-ng-if="scenario.scen.characters"><label>{{scenario.scen.characters.length}}</label> personaggi<br></span>
				<span data-ng-if="!scenario.scen.characters"><label>0</label> personaggi<br></span>
				<span data-ng-if="scenario.scen.collaborators"><label>{{scenario.scen.collaborators.length}}</label> collaboratori<br></span>
				<span data-ng-if="!scenario.scen.collaborators"><label>0</label> collaboratori<br></span>
			
			
			<div data-ng-if="scenario.isModerator" data-ui-sref="logged.scenarioWizard.info({id: '{{scenario.scen.id}}'})">
				<hr>
				<a href="">
					<p class="marginMTop">
						<span class="glyphicon glyphicon-cog"></span>
						Gestisci scenario		
					</p>
				</a>
			</div>
		</div>	
		<div class="row marginMTop text-center visible-xs visible-sm visible-md hidden-lg">
			<img class="img title" src="assets/public/img/icon/ic_socialgraph.png">
		</div>	
	</div>
	
	<div class="col-lg-6 col-sm-8">
		<div class="jumbotron" style="
		background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)),url('{{scenario.scen.cover}}'), url('assets/public/img/cover_scen_default.jpg')">		
			<h1 class="text-center">{{scenario.scen.name}}</h1>
			<!-- p da mostrare solo per moderator -->
<!-- 			<p id="uploadSpan" ngf-select ngf-change="uploadCover($files)"><span class="glyphicon glyphicon-camera"></span></p> -->
		</div>
		<div class="container-fluid menu">
			<div class="row text-center">
				<a href="" class="col-xs-3 menuBox" data-ui-sref=".posts" data-ui-sref-active="active"><h4>POST</h4></a>
				<a href="" class="col-xs-3 menuBox" data-ui-sref=".storyline" data-ui-sref-active="active"><h4>STORYLINE</h4></a>
				<a href="" class="col-xs-3 menuBox" data-ui-sref=".characters" data-ui-sref-active="active"><h4>PERSONAGGI</h4></a>
				<a href="" class="col-xs-3 menuBox" data-ui-sref=".map" data-ui-sref-active="active"><h4>MAPPA</h4></a>
			</div>
		</div>
<!-- 		<ul class="wizard nav nav-pills nav-justified menu"> -->
<!-- 			<li><a href="" data-ui-sref-active="active" data-ui-sref=".posts">POST</a></li> -->
<!-- 			<li><a href="" data-ui-sref-active="active" data-ui-sref=".characters">PERSONAGGI</a></li> -->
<!-- 			<li><a href="" data-ui-sref-active="active" data-ui-sref=".map">MAPPA</a></li> -->
<!-- 		</ul> -->
		<div data-ui-view="body"></div>
	</div>
	
		<div class="col-lg-2">
			<!-- 
			<div id="freccia">
				<input type="text" class="form-control lessWidth" placeholder="Cerca nello scenario...">
				<span class="glyphicon glyphicon-search pull-right"></span>
			</div>		
			 -->
			<!-- <div class="box input-group hidden-xs hidden-sm hidden-md visible-lg">
				<input type="text" class="form-control lessWidth" placeholder="Cerca nello scenario...">
				<span class="glyphicon glyphicon-search pull-right"></span>
			</div> -->
			<div class=" box boxLightgreen hidden-xs hidden-sm hidden-md visible-lg">
				
				<h3> {{scenario.scen.name}}</h3>
					Creato da: <label> {{scenario.scen.teacherCreator.firstname}} {{scenario.scen.teacherCreator.lastname}}</label><br>
					<hr>
					<span data-ng-if="scenario.scen.attendees"><label>{{scenario.scen.attendees.length}}</label> studenti<br></span>
					<span data-ng-if="!scenario.scen.attendees"><label>0</label> studenti<br></span>
					<span data-ng-if="scenario.scen.characters"><label>{{scenario.scen.characters.length}}</label> personaggi<br></span>
					<span data-ng-if="!scenario.scen.characters"><label>0</label> personaggi<br></span>
					<span data-ng-if="scenario.scen.collaborators"><label>{{scenario.scen.collaborators.length}}</label> collaboratori<br></span>
					<span data-ng-if="!scenario.scen.collaborators"><label>0</label> collaboratori<br></span>
				
				
				<div data-ng-if="scenario.isModerator" data-ui-sref="logged.scenarioWizard.info({id: '{{scenario.scen.id}}'})">
					<hr>
					<a href="">
						<p class="marginMTop">
							<span class="glyphicon glyphicon-cog"></span>
							Gestisci scenario		
						</p>
					</a>
				</div>

			</div>
			<div data-ui-sref=".socialGraph" class="row marginMTop text-center hidden-xs hidden-sm hidden-md visible-lg">
				<img class="img title" src="assets/public/img/icon/ic_socialgraph.png">
			</div>
		</div>
	</div>
</div>
<script>  $('.selectpicker').selectpicker();</script>
