<div class="container">
	<h1>Tool generazione mappe</h1>

	<p>Seleziona il tool adatto alla tua piattaforma:</p>
	<ul>
		<li><a href="{{toolMap.getFile(1)}}" target="_self" download="{{toolMap.Win64}}">Windows 64 bit</a></li>
		<li><a href="{{toolMap.getFile(2)}}" target="_self" download="{{toolMap.Win32}}">Windows 32 bit</a></li>
		<li><a href="{{toolMap.getFile(3)}}" target="_self" download="{{toolMap.Mac}}">Mac OSX</a></li>
		<li><a href="{{toolMap.getFile(4)}}" target="_self" download="{{toolMap.Tux64}}">Linux 64 bit</a></li>
		<li><a href="{{toolMap.getFile(5)}}" target="_self" download="{{toolMap.Tux32}}">Linux 32 bit</a></li>
	</ul>
	
</div>