<div class="container-fluid" ng-mouseup="updateScenario.showHideContent($event)">
	<div class="row">
		<aside class="col-sm-2"></aside>
		<div class="col-sm-8 centralText">
			<h1>Scenario</h1>
			<div class="centralDivs box" id="basicinfobox">
				<h3>Informazioni di base</h3>
				<span>Modifica le informazioni di base sullo scenario</span>					
					<div id="basicinfobox-on" ng-show="updateScenario.basicinfoboxOn">
						<form class="form-inline" role="form">
							<div class="form-group goLeft">								
								<input type="text" class="form-control" id="titolo" placeholder="TITOLO">
								<label for="data">Quando ha inizio la storia?</label>
								<input type="date" name="startDate" required="required"  class="form-control">
							</div>
						</form>
					</div>				
				
			</div>
			
			<div class="centralDivs box" id="studentsbox">
				<h3>Partecipanti</h3>
				<span>Inserisci gli studenti che parteciperanno a questo scenario</span>
				<div id="studentsbox-on" ng-show="updateScenario.studentsboxOn">
					<form role="form">
							<div class="form-group goLeft">
								<label for="students">Chi saranno gli studenti iscritti a questo scenario?</label>
								<input type="text" class="form-control" id="studentsNames" placeholder="NOMI STUDENTI" >
								<label for="data">Non sono ancora iscritti? Inserisci la loro email</label>
								<textarea class="form-control" rows="3" placeholder="EMAIL STUDENTI NON ISCRITTI"></textarea>
							</div>
					</form>
				</div>
			</div>
			
			<div class="centralDivs box" id="charactersbox">
				<h3>Personaggi</h3>
				<span>Inserisci i personaggi della storia</span>
				<div id="charactersbox-on" ng-show="updateScenario.charactersboxOn">
					<form role="form">
							<div class="form-group goLeft">
								<label>Quali saranno i nomi dei personaggi?</label>
								<table class="table">
									<tr>
										<td><input type="text" class="form-control" id="studentsNames" placeholder="PERSONAGGIO 1"></td>
										<td><input type="text" class="form-control" id="studentsNames" placeholder="PERSONAGGIO 2"></td>
									</tr>
									<tr>
										<td><input type="text" class="form-control" id="studentsNames" placeholder="PERSONAGGIO 3"></td>
										<td><input type="text" class="form-control" id="studentsNames" placeholder="PERSONAGGIO 4"></td>
									</tr>
									<tr>
										<td><input type="text" class="form-control" id="studentsNames" placeholder="PERSONAGGIO 5"></td>
										<td><input type="text " class="form-control" id="studentsNames" placeholder="PERSONAGGIO 6"></td>
									</tr>
									<tr>
										<td><input type="text" class="form-control" id="studentsNames" placeholder="PERSONAGGIO 7"></td>
										<td><input type="text" class="form-control" id="studentsNames" placeholder="PERSONAGGIO 8"></td>
									</tr>
								</table>
							</div>
					</form>
				</div>
			</div>
			
			<div class="centralDivs box" id="associationbox">
				<h3>Associazioni</h3>
				<span>Inserisci le associazioni studente-personaggio</span>
				<div id="associationbox-on" ng-show="updateScenario.associationboxOn">
				<!--Inserire corrispondenza con nomi inseriti-->
					<form role="form">
							<div class="form-group goLeft">
								<label>Chi interpreterà i personaggi?</label>
								<table class="table">
									<tr>
										<td>								
												<td><select class="form-control" id="sel1">
														<option>PERSONAGGIO</option>
														<option>Nome 2</option>
														<option>Nome 3</option>
														<option>Nome 4</option>
													  </select></td>
												<td><select class="form-control" id="sel1">
														<option>STUDENTE</option>
														<option>Nome 2</option>
														<option>Nome 3</option>
														<option>Nome 4</option>
													  </select></td>									
										</td>
										<td>								
												<td><select class="form-control" id="sel1">
														<option>PERSONAGGIO</option>
														<option>Nome 2</option>
														<option>Nome 3</option>
														<option>Nome 4</option>
													  </select></td>
												<td><select class="form-control" id="sel1">
														<option>STUDENTE</option>
														<option>Nome 2</option>
														<option>Nome 3</option>
														<option>Nome 4</option>
													  </select></td>									
										</td>
									</tr>
								</table>
							</div>
					</form>
				</div>
			</div>
			
			<div class="centralDivs box" id="collaboratorsbox">
				<h3>Collaboratori</h3>
				<span>Aggiungi i nomi di coloro che collaboreranno allo sviluppo dello scenario</span>
				<div id="collaboratorsbox-on" ng-show="updateScenario.collaboratorsboxOn">
					<form role="form">
							<div class="form-group goLeft">						
								<textarea class="form-control" rows="3" placeholder="COLLABORATORI GIA' ISCRITTI A SMILED"></textarea>
							</div>
					</form>
				</div>
			</div>
			<button type="submit" class="btn btn-default confirm">Elimina</button>
			<button type="submit" class="btn btn-default confirm">Attiva</button>

    </div>
			</div>
		</div>
		<aside class="col-sm-2"></aside>		
	</div>	
</div>
